.card 
    .card-header.pb-0
        H4 Simple Example
    .card-body
        form.theme-form
            .mb-3
                label.form-label(for='exampleFormControlInput1') Email address
                input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
            div
                label.form-label(for='exampleFormControlTextarea1') Example textarea
                textarea#exampleFormControlTextarea1.form-control(rows='3')

