.card
  .card-header.pb-0
    +card-header('Basic Timeline', '','', 'Use the', '.main-basic-timeline ', 'class through made basic timeline.')
  .card-body.dark-timeline
    ul 
      li.d-flex
        .timeline-dot-primary
        .w-100.ms-3
          p.d-flex.justify-content-between.mb-2
            span.date-content.bg-light-primary 2 Feb 2024
            span 7:00 AM 
          h6.f-w-600 CONFERENCE WITH CLIENT
            span.dot-notification
          p.font-light At noon today, there will be a meeting with a UK client.
      li.d-flex
        .timeline-dot-secondary
        .w-100.ms-3
          p.d-flex.justify-content-between.mb-2
            span.date-content.bg-light-primary 22 March 2024
            span 3:45 PM
          h6.f-w-600 DISCUSSION WITH MARKETING TEAM
            span.dot-notification
          p.font-light discussion with the marketing staff on the success of the most recent project
      li.d-flex
        .timeline-dot-success
        .w-100.ms-3
          p.d-flex.justify-content-between.mb-2
            span.date-content.bg-light-primary 16 May 2024
            span 1:22 AM
          h6.f-w-600 INVEST IN A NEW HOSTING PLAN
            span.dot-notification
          p.font-light today at 2 pm AM, purchase a new hosting package as agreed upon with the management team.
      li.d-flex
        .timeline-dot-warning
        .w-100.ms-3
          p.d-flex.justify-content-between.mb-2
            span.date-content.bg-light-primary 23 Nov 2024
            span 6:56 AM
          h6.f-w-600 DISCUSSION WITH DESIGNER TEAM
            span.dot-notification
          p.font-light discussion with the designer employee on the success of the most recent project.
      li.d-flex
        .timeline-dot-info
        .w-100.ms-3
          p.d-flex.justify-content-between.mb-2
            span.date-content.bg-light-primary 12 Dec 2024
            span 12:05 AM
          h6.f-w-600 DISCUSSION WITH NEW TEMPLATE LAUNCH 
            span.dot-notification
          p.font-light discussion with the how many Template made in our portfolio.
      li.d-flex
        .timeline-dot-danger
        .w-100.ms-3
          p.d-flex.justify-content-between.mb-2
            span.date-content.bg-light-primary 02 Jan 2024
            span 6:56 AM
          h6.f-w-600 PURCHASE NEW CHAIRS FOR OFFICE 
            span.dot-notification
          p.font-light online purchase new chairs for office