.card
  .card-header.pb-0
    +card-header('Horizontal Timeline', '','', 'Use the', '.square-timeline', 'main class through create new variations of timeline.')
  .card-body
    .list-inline.events.timeline-list.timeline-border.row
      .col-xxl-4.col-sm-6
        div
          .list-inline-item.event-list
            .px-4
              .event-date.alert-light-primary 1 Jan
              h5.f-w-600 Conference 
              p.text-muted
                | Conferences are intended to bring individuals with similar interests together to discuss problems.
              div.read-more-btn
                a.btn.btn-primary.px-3(href='javascript:void(0)') Read more
          .vertical-line
      .col-xxl-4.col-sm-6
        div
          .list-inline-item.event-list
            .px-4
              .event-date.alert-light-success 4 Feb
              h5.f-w-600 Meet-up
              p.text-muted You may connect with males from all around the world using the friend-forward.
              div.read-more-btn
                a.btn.btn-primary.px-3(href='javascript:void(0)') Read more
          .vertical-line
      .col-xxl-4.horizontal-timeline
        div
          .list-inline-item.event-list
            .px-4
              .event-date.alert-light-danger 22 March
              h5.f-w-600 Meeting
              p.text-muted If several languages coalesce the grammar of the resulting simple and regular social networking platform.
              div.read-more-btn
                a.btn.btn-primary.px-3(href='javascript:void(0)') Read more
          .vertical-line
    .list-inline.events.border-0.timeline-list.row
      .col-xxl-4.col-sm-6
        div 
          .vertical-line
          .list-inline-item.event-list
            .px-4
              .event-date.alert-light-primary 1 Jan
              h5.f-w-600 Conference 
              p.text-muted
                | A gathering of two or more people to talk about issues of interest.
              div
                a.btn.btn-primary.px-3(href='javascript:void(0)') Read more
      .col-xxl-4.col-sm-6
        div
          .vertical-line  
          .list-inline-item.event-list
            .px-4
              .event-date.alert-light-danger 22 March
              h5.f-w-600 Meeting
              p.text-muted If several languages coalesce the grammar of the resulting simple and regular social networking platform.
              div
                a.btn.btn-primary.px-3(href='javascript:void(0)') Read more
      .col-xxl-4.horizontal-timeline
        div
          .vertical-line  
          .list-inline-item.event-list
            .px-4
              .event-date.alert-light-warning 7 Dec
              h5.f-w-600 Launch Template
              p.text-muted Responsive Website is the approach that suggests website design and development should respond.
              div
                a.btn.btn-primary.px-3(href='javascript:void(0)') Read more