.card
  .card-header.pb-0
    +card-header('Hovering Timeline', '','', 'Use the', '.square-timeline', 'main class through create new variations of timeline.')
  .card-body
    ul.square-timeline
      li.timeline-event
        label.timeline-event-icon
        .timeline-event-wrapper
          p.timeline-thumbnail
            | January 2022- Annual Function
          h5.f-w-600 Location
          .text-muted Largo Febo,10225012-Calvisano BS
          p.pt-3.mb-3
            | What a dynamic performance by the eighth-grade students, Let's welcome the ninth-grade kid to the stage.
      li.timeline-event
        label.timeline-event-icon
        .timeline-event-wrapper
          p.timeline-thumbnail
            | March 2022 - Fresher Interview
          h5.f-w-600 Ofwrrior Company
          .text-muted A fresher's interview is to be conducted
            .list-group.main-lists-content
              a.list-group-item.list-group-item-action.border-0.p-0.mb-3(href='#' aria-current='true')
                .d-flex.w-100.justify-content-between.align-items-center
                  .list-wrapper
                      img.list-img(src="../assets/images/avatar/3.jpg", alt="profile")
                      .list-content 
                        h6 Molly Boake
                        p MollyBoake@rhyta.com
                  .timeline-icon
                    i.icon-facebook.font-primary
                    i.icon-google.font-primary 
                    i.icon-twitter-alt.font-primary
                p.mb-1 Next step is to choose a tone of voice for your content type.
      li.timeline-event
        label.timeline-event-icon
        .timeline-event-wrapper
          p.timeline-thumbnail
            | July 2022 - Meetup
          h5.f-w-600 US Meeting
          .text-muted 2209 Leverton Cove RoadSpringfield, MA 01109
            .designer-details
              .designer-profile 
                .designer-wrap
                    img.designer-img(src="../assets/images/avatar/1.jpg", alt="profile")
                    .designer-content 
                        h6 Lillian J. Goodfellow
                        p 239-664-7751
              .designer-profile 
                .designer-wrap
                    img.designer-img(src="../assets/images/avatar/2.jpg", alt="profile")
                    .designer-content 
                        h6 Carolyn A. Sutton
                        p 218-793-6609
      li.timeline-event
        label.timeline-event-icon
        .timeline-event-wrapper
          p.timeline-thumbnail
            | December 2022 - Birthday
          h5.f-w-600 Location
          .text-muted Largo Febo,10225012-Calvisano BS