.card.auto-slider
  .card-header.pb-0
    +card-header('Auto Play Variant', '','', 'Use the', '.owl-carouse', 'through slides.')
  .card-body
    .swiper.mySwiper
      .swiper-wrapper
        .swiper-slide
            img(src='../assets/images/slider/1.jpg', alt='Drawing-room')
        .swiper-slide 
            img(src='../assets/images/slider/2.jpg', alt='Drawing-room')
        .swiper-slide 
            img(src='../assets/images/slider/3.jpg', alt='Drawing-room')
        .swiper-slide 
            img(src='../assets/images/slider/4.jpg', alt='Drawing-room')
        .swiper-slide   
            img(src='../assets/images/slider/5.jpg', alt='Drawing-room')
        .swiper-slide
            img(src='../assets/images/slider/6.jpg', alt='Drawing-room')
        .swiper-slide
            img(src='../assets/images/slider/7.jpg', alt='Drawing-room')
        .swiper-slide
            img(src='../assets/images/slider/8.jpg', alt='Drawing-room')
        .swiper-slide 
            img(src='../assets/images/slider/9.jpg', alt='Drawing-room')
        .swiper-slide 
            img(src='../assets/images/slider/10.jpg', alt='Drawing-room')
        .swiper-slide 
            img(src='../assets/images/slider/11.jpg', alt='Drawing-room')
    .swiper-pagination