.card
  .card-header.pb-0
    +card-header('Dark Variant', '','', 'Add', '.carousel-dark', 'to the .carousel for darker controls, indicators, and captions.')
  .card-body
    #carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride='carousel')
      .carousel-indicators
        button.active(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
        button(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='1' aria-label='Slide 2')
        button(type='button' data-bs-target='#carouselExampleDark' data-bs-slide-to='2' aria-label='Slide 3')
      .carousel-inner
        .carousel-item.active(data-bs-interval='10000')
          img.d-block.w-100(src='../assets/images/slider/1.jpg' alt='drawing-room')
          .carousel-caption.d-none.d-md-block.carousel-opacity
            h5 We decorate our homes
            p If you have been dreaming about bringing your living room together, our designers are here to help. Come see what we can do for your space.
        .carousel-item(data-bs-interval='2000')
          img.d-block.w-100(src='../assets/images/slider/3.jpg' alt='drawing-room')
          .carousel-caption.d-none.d-md-block.carousel-opacity
            h5 This couch is a great topic of conversation.
            p A sofa is the ideal spot to enjoy a movie, nod off, and wake up.
        .carousel-item
          img.d-block.w-100(src='../assets/images/slider/6.jpg' alt='drawing-room')
          .carousel-caption.d-none.d-md-block.carousel-opacity
            h5 Sometimes all you really need to unwind is a comfortable couch.
            p A house you can create with your friends is a great place.
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next