.card
  .card-header.pb-0
    +card-header('Default swiper slider', '','', 'Use the', '.active', 'class and images to prevent browser default image alignment.')
  .card-body
    #carouselExampleSlidesOnly.carousel.slide(data-bs-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='../assets/images/slider/11.jpg' alt='drawing-room')
        .carousel-item
          img.d-block.w-100(src='../assets/images/slider/9.jpg' alt='drawing-room')
        .carousel-item
          img.d-block.w-100(src='../assets/images/slider/6.jpg' alt='drawing-room')