// Face rating
.card.height_equal
    .card-header.pb-0
        +card-header('Rating with feedback', '','', 'Rating is displayed using', '.rating-star', ' id using javascript.')
    .card-body
        .heart-rating
            .rating-system3
                input#star5_3(type='radio' name='rate3')
                label(for='star5_3')
                input#star4_3(type='radio' name='rate3')
                label(for='star4_3')
                input#star3_3(type='radio' name='rate3')
                label(for='star3_3')
                input#star2_3(type='radio' name='rate3')
                label(for='star2_3')
                input#star1_3(type='radio' name='rate3')
                label.ms-1(for='star1_3')
                .text
