// Star rating
.card.height_equal
    .card-header.pb-0
        +card-header('Star Rating', '','', 'Rating is displayed using', '.rating-star', ' id using javascript.')
    .card-body
        .rating
            span.rating-value
            i.rating-star.fa-regular.fa-star
            i.rating-star.fa-regular.fa-star
            i.rating-star.fa-regular.fa-star
            i.rating-star.fa-regular.fa-star
            i.rating-star.fa-regular.fa-star