.card
    .card-header
      +card-header('Dashed Border', '','', 'Dashed border use class', '.table-dashed-*.table-dotted-*.table-Double-*', 'for Dotted border & Double border.')
    .card-block.row
      .col-sm-12.col-lg-12.col-xl-12
        .table-responsive
          table.table.table-dashed
            thead
              tr
                th(scope='col') Id 
                th(scope='col') Classname
                th(scope='col') Type
                th(scope='col') Hours
                th(scope='col') Trainer
                th(scope='col') Spots
            tbody
              tr
                th(scope='row') 1
                td Crit Cardio
                td Gym
                td 9:00 AM - 11:00 AM	
                td Aaron Chapman	
                td 10
              tr
                th(scope='row') 2
                td Zumba Dance
                td Dance
                td 8:00 AM - 9:00 AM		
                td Donna Wilson	
                td 12
              tr
                th(scope='row') 3
                td Like a butterfly	
                td Boxing
                td 9:00 AM - 10:00 AM	
                td Randy Porter		
                td 13
              tr
                th(scope='row') 4
                td Pilates Reformer	
                td Gym
                td 7:00 AM - 8:30 AM		
                td Aaron Chapman	
                td 15
              tr
                th(scope='row') 5
                td Mind & Body	
                td Yoga
                td 8:00 AM - 9:00 AM		
                td Adam Stewart	
                td 20