.card
    .card-header
      +card-header('Inverse Table', '','', 'use a class', '.table-inverse', 'inside table element.')
    .table-responsive
      table.table.table-inverse
        thead
          tr
            th(scope='col') Id
            th(scope='col') First Name
            th(scope='col') Last Name
            th(scope='col') Office
            th(scope='col') Position
            th(scope='col') Salary
            th(scope='col') Join Date	
            th(scope='col') Age
        tbody
          tr
            th(scope='row') 1
            td Stephan
            td Laiten
            td Tokyo
            td Accountant
            td $2100.00	
            td 21/01/2022		
            td 20	
          tr
            th(scope='row') 2
            td Fay	
            td Van Damme	
            td London	
            td CEO
            td $1420.00		
            td 14/02/2022			
            td 22
          tr
            th(scope='row') 3
            td Brevin	
            td Oleveria
            td New York	
            td Software Engineer	
            td $1340.00		
            td 04/06/2022		
            td 18	
          tr
            th(scope='row') 4
            td Regina
            td Ottandy	
            td France	
            td Pre-sale Support	
            td $3400.00		
            td 10/08/2022			
            td 25	
          tr
            th(scope='row') 5
            td Vani
            td Shah	
            td Los Angeles	
            td Senior Developer	
            td $3500.00	
            td 23/07/2022		
            td 28