.card
    .card-header
      +card-header('Inverse Table with Primary background', '','', 'use a class', '.bg-info, .bg-success, .bg-warning and .bg-danger classes.', 'To set the light background color use .bg-[color] class where [color] is the value of your selected color from stack color palette. So for teal color background class will be .bg-teal')
    .table-responsive
      table.table.table-striped.bg-primary
        thead.tbl-strip-thad-bdr
          tr
            th(scope='col') Id
            th(scope='col') First Name
            th(scope='col') Last Name
            th(scope='col') Company
            th(scope='col') Credit Volume	  
            th(scope='col') Username
            th(scope='col') Role	  
            th(scope='col') Country
        tbody
          tr
            th(scope='row') 1
            td Ram Jacob	
            td Wolfe
            td Apple Inc.	
            td $3500.00	
            td RamJacob@twitter	
            td Developer
            td IND
          tr
            th(scope='row') 2
            td John Deo		
            td Gummer	
            td Hewlett packard		
            td $2400.00
            td JohnDeo@twitter		
            td Designer
            td US
          tr
            th(scope='row') 3
            td Elana John		
            td Wolfe
            td Microsoft		
            td $2560.00	
            td ElanaJohn@twitter	
            td Designer
            td UK
          tr
            th(scope='row') 4
            td Meryl Streep	
            td Roberts
            td Tata Ltd.		
            td $1870.00
            td MerylStreep@twitter	
            td Developer
            td IND
          tr
            th(scope='row') 5
            td Emma Stone	
            td Stone
            td Wipro Ltd.		
            td $4580.00	
            td EmmaStone@twitter	
            td Developer
            td IRN
          tr
            th(scope='row') 6
            td Eliana Jons	
            td Jons
            td Info Ltd.		
            td $4580.00	
            td ElianaJons@twitter		
            td Developer
            td IRN