.header-faq
  h4.mb-0 Quick Questions are answered
#accordionoc.row.default-according.style-1.faq-accordion.accordion.accordion-flush
  .col-xl-8.xl-60.col-lg-6.col-md-7
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon', aria-expanded='false', aria-controls='collapseicon')
            i.fa-regular.fa-circle-question
            |  Integrating WordPress with Your Website?
      #collapseicon.collapse(aria-labelledby='collapseicon', data-bs-parent='#accordionoc')
        .card-body
          | How you approach this process will depend on which web host you use. For example, a lot of hosting providers use cPanel, which includes an option to set up subdomains with just a few clicks.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon2', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            |  WordPress Site Maintenance ?
      #collapseicon2.collapse(data-bs-parent='#accordionoc')
        .card-body
          | We’ve just published a detailed on how to backup your WordPress website, however, if you’re in a hurry, here’s a quick solution.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon3', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            | Meta Tags in WordPress ?
      #collapseicon3.collapse(data-bs-parent='#accordionoc')
        .card-body
          | Manually adding meta tags in WordPress is relatively simple. For this demo, we’ll use the example from the WordPress Codex. Imagine you’re Harriet Smith, a veterinarian who blogs about their animal stories on WordPress.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon4', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            |    WordPress in Your Language ?
      #collapseicon4.collapse(data-bs-parent='#accordionoc')
        .card-body
          | As of version 4.0, you can have WordPress automatically install the language of your choice during the installation process.
    .faq-title
      h6 Intellectual Property
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon5', aria-expanded='false')
            i.fa-regular.fa-circle-question
            |  WordPress Site Maintenance ?
      #collapseicon5.collapse(aria-labelledby='collapseicon5', data-bs-parent='#accordionoc')
        .card-body
          | We’ve just published a detailed on how to backup your WordPress website, however, if you’re in a hurry, here’s a quick solution.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon7', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            |    WordPress in Your Language ?
      #collapseicon7.collapse(data-bs-parent='#accordionoc')
        .card-body
          | As of version 4.0, you can have WordPress automatically install the language of your choice during the installation process.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon8', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            | Integrating WordPress with Your Website ?
      #collapseicon8.collapse(data-bs-parent='#accordionoc')
        .card-body
          | How you approach this process will depend on which web host you use. For example, a lot of hosting providers use cPanel, which includes an option to set up subdomains with just a few clicks.
    .faq-title
      h6 Selling And Buying
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon9', aria-expanded='false')
            i.fa-regular.fa-circle-question
            |  WordPress Site Maintenance ?
      #collapseicon9.collapse(aria-labelledby='collapseicon9', data-bs-parent='#accordionoc')
        .card-body
          | We’ve just published a detailed on how to backup your WordPress website, however, if you’re in a hurry, here’s a quick solution
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon10', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            | Meta Tags in WordPress ?
      #collapseicon10.collapse(data-bs-parent='#accordionoc')
        .card-body
          | Manually adding meta tags in WordPress is relatively simple. For this demo, we’ll use the example from the WordPress Codex. Imagine you’re Harriet Smith, a veterinarian who blogs about their animal stories on WordPress.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon11', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            | Validating a Website ?
      #collapseicon11.collapse(data-bs-parent='#accordionoc')
        .card-body
          | Validating a website is the process of ensuring that the pages on the website conform to the norms or standards defined by various organizations.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon12', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            | Know Your Sources ?
      #collapseicon12.collapse(data-bs-parent='#accordionoc')
        .card-body
          | A book or set of books giving information on many subjects or on many aspects of one subject. Some are intended as an entry point into research for a general audience, some provide detailed information.
    .faq-title
      h6 User Accounts
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon13', aria-expanded='false')
            i.fa-regular.fa-circle-question
            | Integrating WordPress with Your Website ?
      #collapseicon13.collapse(aria-labelledby='collapseicon13', data-bs-parent='#accordionoc')
        .card-body
          | How you approach this process will depend on which web host you use. For example, a lot of hosting providers use cPanel, which includes an option to set up subdomains with just a few clicks.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon14', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            | WordPress Site Maintenance ?
      #collapseicon14.collapse(data-bs-parent='#accordionoc')
        .card-body
          | We’ve just published a detailed on how to backup your WordPress website, however, if you’re in a hurry, here’s a quick solution.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon16', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            |  WordPress in Your Language ?
      #collapseicon16.collapse(data-bs-parent='#accordionoc')
        .card-body
          | As of version 4.0, you can have WordPress automatically install the language of your choice during the installation process.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon17', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            |   Validating a Website ?
      #collapseicon17.collapse(data-bs-parent='#accordionoc')
        .card-body
          | Validating a website is the process of ensuring that the pages on the website conform to the norms or standards defined by various organizations.
    .card
      .card-header
        h5.mb-0
          button.accordion-button.btn.btn-link.collapsed(data-bs-toggle='collapse', data-bs-target='#collapseicon18', aria-expanded='false', aria-controls='collapseicon2')
            i.fa-regular.fa-circle-question
            | Meta Tags in WordPress ?
      #collapseicon18.collapse(data-bs-parent='#accordionoc')
        .card-body
          | Manually adding meta tags in WordPress is relatively simple. For this demo, we’ll use the example from the WordPress Codex. Imagine you’re Harriet Smith, a veterinarian who blogs about their animal stories on WordPress.
  .col-xl-4.xl-40.col-lg-6.col-md-5
    .row
      .col-lg-12
        .card.card-mb-faq.xs-mt-search
          .card-header.faq-header.pb-0
            h4.ps-0 Search articles
            i.fa-regular.fa-circle-question
          .card-body.faq-body
            .faq-form
              input.form-control(type='text', placeholder='Search..')
              +FeatherSprite('search', 'feather search-icon')
      .col-lg-12
        .card.card-mb-faq
          .card-header.faq-header.pb-0
            h4 Navigation
            i.fa-solid.fa-gear
          .card-body.faq-body
            .navigation-btn
              a.btn.btn-primary(href='javascript:void(0)')
                i.fa-solid.fa-message.m-r-10
                | Ask Question
            .navigation-option
              ul
                li
                  a(href='javascript:void(0)')
                    i.fa-solid.fa-pen-to-square
                    | Tutorials
                li
                  a(href='javascript:void(0)')
                    i.fa-solid.fa-globe
                    | Help center
                li
                  a(href='javascript:void(0)')
                    i.fa-solid.fa-book-open-reader
                    | Knowledgebase
                li
                  a(href='javascript:void(0)')
                    i.fa-solid.fa-file-lines
                    | Articles
                  span.badge.badge-primary.rounded-pill.pull-right 42
                li
                  a(href='javascript:void(0)')
                    i.fa-brands.fa-youtube
                    | Video Tutorials
                  span.badge.badge-primary.rounded-pill.pull-right 648
                li
                  a(href='javascript:void(0)')
                    i.fa-solid.fa-comment-sms
                    | Ask our community
                li
                  a(href='javascript:void(0)')
                    i.fa-solid.fa-envelope
                    | Contact us
              hr
              ul
                li
                  a(href='javascript:void(0)')
                    i.fa-solid.fa-comment-sms
                    | Ask our community
                li
                  a(href='javascript:void(0)')
                    i.fa-solid.fa-envelope
                    | Contact us
      .col-lg-12
        .card
          .card-header.faq-header.pb-0
            h4.d-inline-block Latest Updates
            span.pull-right.d-inline-block See All
          .card-body.faq-body
            .d-flex.updates-faq-main
              .updates-faq
                i.fa-solid.fa-rotate-right.font-primary
              .flex-grow-1.updates-bottom-time
                p
                  a.font-primary(href='javascript:void(0)') David Linner 
                  | requested money back for a double debit card charge
                p 10 minutes ago
            .d-flex.updates-faq-main
              .updates-faq
                i.fa-solid.fa-dollar-sign.font-primary
              .flex-grow-1.updates-bottom-time
                p All sellers have received monthly payouts
                p 2 hours ago
            .d-flex.updates-faq-main
              .updates-faq
                i.fa-solid.fa-link.font-primary
              .flex-grow-1.updates-bottom-time
                p
                  | User Christopher 
                  a.font-primary(href='javascript:void(0)') Wallace
                  |  is on hold and awaiting for staff reply
                p 45 minutes ago
            .d-flex.updates-faq-main
              .updates-faq
                i.fa-solid.fa-check.font-primary
              .flex-grow-1.updates-bottom-time
                p
                  | Ticket #43683 has been closed by 
                  a.font-primary(href='javascript:void(0)') Victoria Wilson
                p Dec 7, 11:48