.card.bg-primary.height_equal
  .card-body
    .d-flex.faq-widgets
      .flex-grow-1
        h4 Knowledgebase
        p
          | A Website Designing course enables learners to use essential designing and programming tools required to do the job. The curriculum is a blend of various Template.parturient montes, nascetur ridiculus mus.
      +FeatherSprite('book-open', 'feather')  