.header-faq
  h4.mb-0 Latest articles and videos
.row
  .col-xl-4.col-md-6
    .row
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('codepen', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500 Article Base Video
                p The web is a very big place, and if you are the typical internet base user.
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('codepen', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500 Knows your sources
                p A book giving information on many subjects or on many aspects of one subject.
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('codepen', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500 Sources credible/reliable
                p Simple demos of frequently asked questions about using the information resources
  .col-xl-4.col-md-6
    .row
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('file-text', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500 Validate website
                p  Website is the process of ensuring that the pages on the website conform.
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('file-text', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500  Tailwind Design
                p  Tailwind is so low-level, it never encourages you to design the same site twice.
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('file-text', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500 Knows your sources
                p A book giving information on many subjects or on many aspects of one subject.
  .col-xl-4
    .row
      .col-xl-12.col-md-6
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('youtube', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500 Sources Demos
                p  Simple demos of frequently asked questions about using the information resources
      .col-xl-12.col-md-6
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('youtube', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500  Validate Html
                p Website is the process of ensuring that the pages on the website conform.
      .col-xl-12
        .card.faq-box-card
          .card-body
            .d-flex
              +FeatherSprite('youtube', 'feather m-r-30')
              .flex-grow-1
                h5.f-w-500 Web Design
                p Web is so high-level, it never encourages you to design the same site twice
          