.card.bg-primary.height_equal
  .card-body
    .d-flex.faq-widgets
      .flex-grow-1
        h4 Support
        p
          | The customer support industry is renaissance. Customer support as a specialty is coming into its own, offering companies a competitive advantage that’s difficult to copy.
      +FeatherSprite('aperture', 'feather')  