.header-faq
  h4.mb-0 Featured Tutorials
.row
  .col-xxl-3.col-md-6.box-col-6
    .card.features-faq.product-box
      .faq-image.product-img
        img.img-fluid(src='../assets/images/faq/1.jpg', alt='')
        .product-hover
          ul
            li
              i.icon-link
            li
              i.icon-import
      .card-body
        h5 Web Design
        p
          | A Web Designing course belongs to the field of Computer It enables students to learn various techniques.
      .card-footer
        span Dec 15, 2022
        span.pull-right
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
  .col-xxl-3.col-md-6.box-col-6
    .card.features-faq.product-box
      .faq-image.product-img
        img.img-fluid(src='../assets/images/faq/2.jpg', alt='')
        .product-hover
          ul
            li
              i.icon-link
            li
              i.icon-import
      .card-body
        h5 Web Development
        p
          | A Web Development course belongs to the field of Computer It enables students to learn various techniques.
      .card-footer
        span Dec 15, 2022
        span.pull-right
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star-o.font-primary
  .col-xxl-3.col-md-6.box-col-6
    .card.features-faq.product-box
      .faq-image.product-img
        img.img-fluid(src='../assets/images/faq/3.jpg', alt='')
        .product-hover
          ul
            li
              i.icon-link
            li
              i.icon-import
      .card-body
        h5 UI Design
        p
          | User interface design (UI) is the design for machines and software, such as mobile devices, computers.
      .card-footer
        span Dec 15, 2022
        span.pull-right
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
  .col-xxl-3.col-md-6.box-col-6
    .card.features-faq.product-box
      .faq-image.product-img
        img.img-fluid(src='../assets/images/faq/4.jpg', alt='')
        .product-hover
          ul
            li
              i.icon-link
            li
              i.icon-import
      .card-body
        h5 UX Design
        p
          | User Experience design (UX) is the design for machines and software, such as mobile devices, computers.
      .card-footer
        span Dec 15, 2022
        span.pull-right
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star.font-primary
          i.fa.fa-star-half-o.font-primary