.col-6.col-sm-12
    .card.client-card.card-hover
        .card-body
            .row
                .col-6.custom-width-1
                    h3.font-primary 457
                    h5.f-w-600 Total Clients
                .col-6.custom-width-2
                    #client.client
.col-6.col-sm-12
    .card.client-card.card-hover
        .card-body
            .row
                .col-6.custom-width-1
                    h3.font-secondary 541
                    h5.f-w-600 New Project
                .col-6.custom-width-2
                    #project.project