.card.notification-card
    .card-header
        h4 Notifications
        .dropdown.icon-dropdown
          button#userdropdown5.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            i.icon-more-alt
          .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown5')
            a.dropdown-item(href='#') Weekly
            a.dropdown-item(href='#') Monthly
            a.dropdown-item(href='#') Yearly
    .card-body.p-0 
        .d-flex.bg-light.gap-3
            .flex-shrink-0 
                img.img-40.b-r-15(src="../assets/images/avatar/10.jpg" alt="Use1")
            .flex-grow-1
                a(href="user-profile.html")
                    h6 Polly edited  Contact page
                span 18 mins ago . Craftwork design
            .circle-dot-primary
                span
        .d-flex.gap-3
            .flex-shrink-0 
                span.bg-secondary KP
            .flex-grow-1
                a(href="user-profile.html")
                    h6 James left a comment on ACME 2.1
                span 3 hours ago . ACME
        .d-flex.gap-3
            .flex-shrink-0 
                img.img-40.b-r-15(src="../assets/images/avatar/4.jpg" alt="Use2")
            .flex-grow-1
                a(href="user-profile.html")
                    h6 Mary shared the file isometric 2.0
                span 4 hours ago . Craftwork Design
                .d-flex.gap-2.p-0.mt-2
                    button.btn.btn-outline-dark Decline
                    button.btn.btn-primary Accept
        .d-flex.gap-3.bg-light
            .flex-shrink-0 
                span.bg-tertiary HS
            .flex-grow-1
                a(href="user-profile.html")
                    h6 Dima phizeg edited ACME 2.4
                span 3 hours ago . ACME
            .circle-dot-primary
                span
        .d-flex.gap-3
            .flex-shrink-0 
                img.img-40.b-r-15(src="../assets/images/avatar/12.jpg" alt="Use3")
            .flex-grow-1
                a(href="user-profile.html")
                    h6 James created changelog page
                span 3 hours ago . Blank