.card
  .card-header.pb-0
    h4 Monthly Overview
    .dropdown.icon-dropdown
      button#userdropdown6.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        i.icon-more-alt
      .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown6')
        a.dropdown-item(href='#') Weekly
        a.dropdown-item(href='#') Monthly
        a.dropdown-item(href='#') Yearly
  .card-body 
    #monthly-overview.monthly-overview