.card.visit-card.card-hover
    .card-header.pb-0
        h4 Total Earning
        .dropdown.icon-dropdown
          button#userdropdown02.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            i.icon-more-alt
          .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown02')
            a.dropdown-item(href='#') Weekly
            a.dropdown-item(href='#') Monthly
            a.dropdown-item(href='#') Yearly
    .card-body.py-0.total-earn
        h4.font-primary.mt-1 Rp 30.000
        p.f-13.font-light Compared to Rp 23.000 Yesterday
        #earn-chart.earn-chart