.card.profile-greeting.card-hover
    .card-body
        .img-overlay
            h1 Good day, Lena Miller
            p Welcome to the Edmin family! We are delighted that you have visited our dashboard.
            a.btn.btn-primary(href="pricing.html") Go Premium