.card
  .profile-img-style
    .row
      .col-sm-8
        .d-flex
          img.img-thumbnail.rounded-circle.me-3(src='../assets/images/avatar/4.jpg', alt='Generic placeholder image')
          .flex-grow-1.align-self-center
            h5.mt-0.user-name JOHAN DIO
      .col-sm-4.align-self-center
        .float-sm-end
          small.font-light 10 Hours ago
    hr
    p
      | Comfort is very important to me. I think people live better in big houses and in big clothes. Design and style should work toward making you look good and feel good without a lot of effort so you can get on with the things that matter. My shows are about the complete woman who swallows it all. Its a question of survival. Those fashion designers are just crazy; but arent we all? You can only go forward by making mistakes.
    .like-comment.mt-4
      ul.list-inline
        li.list-inline-item.border-right.pe-3
          label.m-0
            a(href='#')
              i.fa.fa-heart
            |   Like
          span.ms-2#count8.counter 2659
        li.list-inline-item.ms-2
          label.m-0
            a(href='#')
              i.fa.fa-comment
            |   Comment
          span.ms-2#count9.counter 569