.card
  .profile-img-style
    .row
      .col-sm-8
        .d-flex
          img.img-thumbnail.rounded-circle.me-3(src='../assets/images/user/1.jpg', alt='Generic placeholder image')
          .flex-grow-1.align-self-center
            h5.mt-0.user-name JOHAN DIO
      .col-sm-4.align-self-center
        .float-sm-end
          small.font-light 10 Hours ago
    hr
    p
      | Success isn't about the end result, it's about what you learn along the way. Confidence. If you have it, you can make anything look good. Grunge is a hippied romantic version of punk. I'm an accomplice to helping women get what they want. Clothes can transform your mood and confidence. 
    .img-container
      #aniimated-thumbnials.my-gallery(itemscope='')
        figure(itemprop='associatedMedia', itemscope='')
          a(href='../assets/images/other-images/profile-style-img3.png', data-pswp-width='1875', data-pswp-height='2500', target='_blank')
            img.img-fluid.rounded(src='../assets/images/other-images/profile-style-img3.png', itemprop='thumbnail', alt='gallery')
          figcaption(itemprop='caption description') Image caption  1
    .like-comment
      ul.list-inline
        li.list-inline-item.border-right.pe-3
          label.m-0
            a(href='#')
              i.fa.fa-heart
            |   Like
          span.ms-2#count2.counter 2659
        li.list-inline-item.ms-2
          label.m-0
            a(href='#')
              i.fa.fa-comment
            |   Comment
          span.ms-2#count3.counter 569