.card
    .card-header.pb-0
      +card-header('Colors select options', '','', '', '', 'Use the tagify plugin for select colors options.')
    .card-body 
      form
        input(name='tags3' value='[{"value":"point"}, {"value":"soft"}, {"value":"horse"}, {"value":"flood"}, {"value":"asset"}]' pattern='^[A-Za-z_✲ ]{1,15}$')