.card
  .card-header.pb-0
    +card-header('Customize emails', '','', '', '', 'Use the tagify plugin for select email options.')
  .card-body 
    form
      input.customLook(value='pixelstrap.theme@website.com')
      button(type='button') +