.card
  .card-header.pb-0
    +card-header('Default select', '','', '', '', 'Use the tagify plugin for select options and edit.')
  .card-body
    form
      input(name='basic' value='tag1, tag2, tag3, tag4 autofocus')