.card 
    .card-header.pb-0
      +card-header('Flags selection', '','', '', '', 'Use the tagify plugin for select flags options.')
    .card-body 
      form
        input.countries(name='tags3-1' placeholder='Try to add tags from the list')