.card
    .card-header.pb-0
      +card-header('Random suggestions', '','', '', '', 'Use the tagify plugin for select options.')
    .card-body 
      form
        input.some_class_name(name='input-custom-dropdown' placeholder='write some tags' value='tivo, roxo, sheltos, viho, zeta, koho')