.card
  .card-header.pb-0
    +card-header('Readonly options', '','', '', '', 'Use the tagify plugin for readonly options.')
  .card-body 
    form
      input(name='tags4' readonly='' value='tag1, tag 2, another tag')