.card
  .card-header.pb-0
    +card-header('Render suggestions list manually', '','', '', '', 'Use the tagify plugin for select random options.')
  .card-body 
    form
      input(name='tags-manual-suggestions' placeholder='write some tags')