.card
  .card-header.pb-0
    +card-header('Telephone input', '','', '', '', 'Select the country and enter your telephone number.')
  .card-body 
    form.international-num
      input#country(type='tel')