footer.footer 
    .container-fluid
        .row 
            .col-md-6.footer-copyright
                p.mb-0 Copyright 2024 © Edmin Template by pixelstrap.
            .col-md-6
                p.float-end.mb-0 Hand crafted &amp; made with
                    +IconlySprite('footer-heart', 'svg-color footer-icon')