head
   meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
   meta(http-equiv='X-UA-Compatible' content='IE=edge')
   meta(name='viewport' content='width=device-width, initial-scale=1.0') 
   meta(name='description' content='Edmin admin is super flexible, powerful, clean & modern responsive bootstrap admin template with unlimited possibilities.')
   meta(name='keywords' content='admin template, Edmin admin template, best javascript admin, dashboard template, bootstrap admin template, responsive admin template, web app')
   meta(name='author' content='pixelstrap')
   title Edmin - Premium Admin Template
   // Favicon icon
   link(rel='icon' href='../assets/images/favicon/favicon.png' type='image/x-icon')
   link(rel='shortcut icon' href='../assets/images/favicon/favicon.png' type='image/x-icon')
   // Google font
   link(rel='preconnect' href='https://fonts.googleapis.com')
   link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
   link(href='https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
   // Font awesome icon css 
   link(rel='stylesheet' href='../assets/css/vendors/@fortawesome/fontawesome-free/css/all.min.css')
   link(rel='stylesheet' href='../assets/css/vendors/@fortawesome/fontawesome-free/css/fontawesome.css')
   link(rel='stylesheet' href='../assets/css/vendors/@fortawesome/fontawesome-free/css/brands.css')
   link(rel='stylesheet' href='../assets/css/vendors/@fortawesome/fontawesome-free/css/solid.css')
   link(rel='stylesheet' href='../assets/css/vendors/@fortawesome/fontawesome-free/css/regular.css')
   // Ico Icon css 
   link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/@icon/icofont/icofont.css')
   // Flag Icon css 
   link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/flag-icon.css')
   // Themify Icon css 
   link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/themify-icons/themify-icons/css/themify.css')
   // Animation css 
   link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/animate.css/animate.css')
   // Whether Icon css
   link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/weather-icons/css/weather-icons.min.css')
   //-// Plugins css start
   if (apexcharts)
      // Apex Chart css
      link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/apexcharts/dist/apexcharts.css')
   if (chartist)
      // Chartist Chart css
      link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/chartist/dist/index.css')
   if (datatables)
      // Data Table css
      link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/simple-datatables/dist/style.css')
   if (filepond)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/filepond/filepond.css')
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/filepond/filepond-plugin-image-preview.css')
   if (dropzone)
      // Dropzone css
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/dropzone/dist/dropzone.css')
   if (img_cropper)
      // Image cropper css
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/cropperjs/dist/cropper.css')
   if (range_slider)
      // Range slider css
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/rangeslider/rSlider.min.css')
   if (tour)
      // Tour css
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/@sjmc11/tourguidejs/dist/css/tour.min.css')
   if (scrollbar)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/scrollbar.css')
   if (scrollable)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/scrollable/scrollable.css')
   if (wow)
      // Wow css
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/wowjs/css/site.css')
   if (animate)
      // Animate css
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/wowjs/css/libs/animate.css')
   if (flatpickr)
      // Flatpicker css
      link(rel="stylesheet",  type='text/css' href='../assets/css/vendors/flatpickr/dist/flatpickr.min.css')
   if (aos)
      // AOS css
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/aos/dist/aos.css')
   if (quill_editor)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/quill/dist/quill.snow.css')
   if (bubble_quill)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/quill/dist/quill.bubble.css')
   if (swiper)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/swiper/swiper-bundle.min.css')
   if (emoji_bar)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/uikit/dist/css/uikit.min.css')
   if (gridJS)
      // Gridjs
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/gridjs/dist/theme/mermaid.min.css')
   if (timeline)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/timeline/timeline.css')
   if (pikaday)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/pikaday/css/pikaday.css')
   if (photoswipe)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/photoswipe/dist/photoswipe.css')
   if (photoswipe_caption)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css')
   if (choice)
      link(rel='stylesheet', type='text/css', href='../assets/css/vendors/choices.js/public/assets/styles/choices.min.css')
   if (select2) 
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/select2/dist/css/select2.css')
   if (todo)
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/todo/todo.css')
   if (select2_options) 
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/intl-tel-input/build/css/intlTelInput.min.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/@yaireo/tagify/dist/tagify.css')
   if (vector_map)
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/vector-map.css')
   if (jsgrid)
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/jsgrid/jsgrid.css')
   if (jquery_datatable)
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/datatables.css')
   if (datatable_extension)
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/datatable-extension.css')
   if (prism)
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/prism.css')
   if (custom_animate)
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/animate-custom.css')
   if (fullcalendar)
    link(rel='stylesheet', type='text/css', href='../assets/css/vendors/calendar.css')
   // App css
   link(rel='stylesheet' href='../assets/css/style.css') 
   link#color(rel='stylesheet', href='../assets/css/color-1.css', media='screen')       