// jquery
script(src='../assets/js/vendors/jquery/dist/jquery.min.js')
// bootstrap js
script(src='../assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')
// Plugins JS start
script(src='../assets/js/landing/landing.js')
if wow
  // Wow js
  script(src='../assets/js/vendors/wowjs/dist/wow.js')
  script(src='../assets/js/wow-custom.js')