//-// Flag Icon
-
    var FLAG_ITEM =[
        { id:'flag-icon flag-icon-in' },
        { id: 'flag-icon flag-icon-ad' },
        { id: 'flag-icon flag-icon-ae'},
        { id:'flag-icon flag-icon-af' },
        { id:'flag-icon flag-icon-ag' },
        { id:'flag-icon flag-icon-ai' },
        { id:'flag-icon flag-icon-al' },
        { id:'flag-icon flag-icon-am' },
        { id:'flag-icon flag-icon-ao' },
        { id:'flag-icon flag-icon-aq' },
        { id:'flag-icon flag-icon-ar' },
        { id:'flag-icon flag-icon-as' },
        { id:'flag-icon flag-icon-at' },
        { id:'flag-icon flag-icon-au' },
        { id:'flag-icon flag-icon-aw' },
        { id:'flag-icon flag-icon-ax' },
        { id:'flag-icon flag-icon-az' },
        { id:'flag-icon flag-icon-ba' },
        { id:'flag-icon flag-icon-bb' },
        { id:'flag-icon flag-icon-bd' },
        { id:'flag-icon flag-icon-be' },
        { id:'flag-icon flag-icon-bf' },
        { id:'flag-icon flag-icon-bg' },
        { id:'flag-icon flag-icon-bh' },
        { id:'flag-icon flag-icon-bi' },
        { id:'flag-icon flag-icon-bj' },
        { id:'flag-icon flag-icon-bl' },
        { id:'flag-icon flag-icon-bm' },
        { id:'flag-icon flag-icon-bn' },
        { id:'flag-icon flag-icon-bo' },
        { id:'flag-icon flag-icon-bq' },
        { id:'flag-icon flag-icon-br' },
        { id:'flag-icon flag-icon-bs' },
        { id:'flag-icon flag-icon-bt' },
        { id:'flag-icon flag-icon-bv' },
        { id:'flag-icon flag-icon-bw' },
        { id:'flag-icon flag-icon-by' },
        { id:'flag-icon flag-icon-bz' },
        { id:'flag-icon flag-icon-ca' },
        { id:'flag-icon flag-icon-cc' },
        { id:'flag-icon flag-icon-cd' },
        { id:'flag-icon flag-icon-cf' },
        { id:'flag-icon flag-icon-cg' },
        { id:'flag-icon flag-icon-ch' },
        { id:'flag-icon flag-icon-ci' },
        { id:'flag-icon flag-icon-ck' },
        { id:'flag-icon flag-icon-cl' },
        { id:'flag-icon flag-icon-cm' },
        { id:'flag-icon flag-icon-cn' },
        { id:'flag-icon flag-icon-co' },
        { id:'flag-icon flag-icon-cr' },
        { id:'flag-icon flag-icon-cu' },
        { id:'flag-icon flag-icon-cv' },
        { id:'flag-icon flag-icon-cw' },
        { id:'flag-icon flag-icon-cx' },
        { id:'flag-icon flag-icon-cy' },
        { id:'flag-icon flag-icon-cz' },
        { id:'flag-icon flag-icon-de' },
        { id:'flag-icon flag-icon-dj' },
        { id:'flag-icon flag-icon-dk' },
        { id:'flag-icon flag-icon-dm' },
        { id:'flag-icon flag-icon-do' },
        { id:'flag-icon flag-icon-dz' },
        { id:'flag-icon flag-icon-ec' },
        { id:'flag-icon flag-icon-ee' },
        { id:'flag-icon flag-icon-eg' },
        { id:'flag-icon flag-icon-eh' },
        { id:'flag-icon flag-icon-er' },
        { id:'flag-icon flag-icon-es' },
        { id:'flag-icon flag-icon-es-ct' },
        { id:'flag-icon flag-icon-et' },
        { id:'flag-icon flag-icon-eu' },
        { id:'flag-icon flag-icon-fi' },
        { id:'flag-icon flag-icon-fj' },
        { id:'flag-icon flag-icon-fk' },
        { id:'flag-icon flag-icon-fm' },
        { id:'flag-icon flag-icon-fo' },
        { id:'flag-icon flag-icon-fr' },
        { id:'flag-icon flag-icon-ga' },
        { id:'flag-icon flag-icon-gb' },
        { id:'flag-icon flag-icon-gb-eng' },
        { id:'flag-icon flag-icon-gb-nir' },
        { id:'flag-icon flag-icon-gb-sct' },
        { id:'flag-icon flag-icon-gb-wls' },
        { id:'flag-icon flag-icon-gd' },
        { id:'flag-icon flag-icon-ge' },
        { id:'flag-icon flag-icon-gf' },
        { id:'flag-icon flag-icon-gg' },
        { id:'flag-icon flag-icon-gh' },
        { id:'flag-icon flag-icon-gi' },
        { id:'flag-icon flag-icon-gl' },
        { id:'flag-icon flag-icon-gm' },
        { id:'flag-icon flag-icon-gn' },
        { id:'flag-icon flag-icon-gp' },
        { id:'flag-icon flag-icon-gq' },
        { id:'flag-icon flag-icon-gr' },
        { id:'flag-icon flag-icon-gs' },
        { id:'flag-icon flag-icon-gt' },
        { id:'flag-icon flag-icon-gu' },
        { id:'flag-icon flag-icon-gw' },
        { id:'flag-icon flag-icon-gy' },
        { id:'flag-icon flag-icon-hk' },
        { id:'flag-icon flag-icon-hm' },
        { id:'flag-icon flag-icon-hn' },
        { id:'flag-icon flag-icon-hr' },
        { id:'flag-icon flag-icon-ht' },
        { id:'flag-icon flag-icon-hu' },
        { id:'flag-icon flag-icon-id' },
        { id:'flag-icon flag-icon-ie' },
        { id:'flag-icon flag-icon-il' },
        { id:'flag-icon flag-icon-im' },
        { id:'flag-icon flag-icon-io' },
        { id:'flag-icon flag-icon-iq' },
        { id:'flag-icon flag-icon-ir' },
        { id:'flag-icon flag-icon-is' },
        { id:'flag-icon flag-icon-it' },
        { id:'flag-icon flag-icon-je' },
        { id:'flag-icon flag-icon-jm' },
        { id:'flag-icon flag-icon-jo' },
        { id:'flag-icon flag-icon-jp' },
        { id:'flag-icon flag-icon-ke' },
        { id:'flag-icon flag-icon-kg' },
        { id:'flag-icon flag-icon-kh' },
        { id:'flag-icon flag-icon-ki' },
        { id:'flag-icon flag-icon-km' },
        { id:'flag-icon flag-icon-kn' },
        { id:'flag-icon flag-icon-kp' },
        { id:'flag-icon flag-icon-kr' },
        { id:'flag-icon flag-icon-kw' },
        { id:'flag-icon flag-icon-ky' },
        { id:'flag-icon flag-icon-kz' },
        { id:'flag-icon flag-icon-la' },
        { id:'flag-icon flag-icon-lb' },
        { id:'flag-icon flag-icon-lc' },
        { id:'flag-icon flag-icon-li' },
        { id:'flag-icon flag-icon-lk' },
        { id:'flag-icon flag-icon-lr' },
        { id:'flag-icon flag-icon-ls' },
        { id:'flag-icon flag-icon-lt' },
        { id:'flag-icon flag-icon-lu' },
        { id:'flag-icon flag-icon-lv' },
        { id:'flag-icon flag-icon-ly' },
        { id:'flag-icon flag-icon-ma' },
        { id:'flag-icon flag-icon-mc' },
        { id:'flag-icon flag-icon-md' },
        { id:'flag-icon flag-icon-me' },
        { id:'flag-icon flag-icon-mf' },
        { id:'flag-icon flag-icon-mg' },
        { id:'flag-icon flag-icon-mh' },
        { id:'flag-icon flag-icon-mk' },
        { id:'flag-icon flag-icon-ml' },
        { id:'flag-icon flag-icon-mm' },
        { id:'flag-icon flag-icon-mn' },
        { id:'flag-icon flag-icon-mo' },
        { id:'flag-icon flag-icon-mp' },
        { id:'flag-icon flag-icon-mq' },
        { id:'flag-icon flag-icon-mr' },
        { id:'flag-icon flag-icon-ms' },
        { id:'flag-icon flag-icon-mt' },
        { id:'flag-icon flag-icon-mu' },
        { id:'flag-icon flag-icon-mv' },
        { id:'flag-icon flag-icon-mw' },
        { id:'flag-icon flag-icon-mx' },
        { id:'flag-icon flag-icon-my' },
        { id:'flag-icon flag-icon-mz' },
        { id:'flag-icon flag-icon-na' },
        { id:'flag-icon flag-icon-nc' },
        { id:'flag-icon flag-icon-ne' },
        { id:'flag-icon flag-icon-nf' },
        { id:'flag-icon flag-icon-ng' },
        { id:'flag-icon flag-icon-ni' },
        { id:'flag-icon flag-icon-nl' },
        { id:'flag-icon flag-icon-no' },
        { id:'flag-icon flag-icon-np' },
        { id:'flag-icon flag-icon-nr' },
        { id:'flag-icon flag-icon-nu' },
        { id:'flag-icon flag-icon-nz' },
        { id:'flag-icon flag-icon-om' },
        { id:'flag-icon flag-icon-pa' },
        { id:'flag-icon flag-icon-pe' },
        { id:'flag-icon flag-icon-pf' },
        { id:'flag-icon flag-icon-pg' },
        { id:'flag-icon flag-icon-ph' },
        { id:'flag-icon flag-icon-pk' },
        { id:'flag-icon flag-icon-pl' },
        { id:'flag-icon flag-icon-pm' },
        { id:'flag-icon flag-icon-pn' },
        { id:'flag-icon flag-icon-pr' },
        { id:'flag-icon flag-icon-ps' },
        { id:'flag-icon flag-icon-pt' },
        { id:'flag-icon flag-icon-pw' },
        { id:'flag-icon flag-icon-py' },
        { id:'flag-icon flag-icon-qa' },
        { id:'flag-icon flag-icon-re' },
        { id:'flag-icon flag-icon-ro' },
        { id:'flag-icon flag-icon-rs' },
        { id:'flag-icon flag-icon-ru' },
        { id:'flag-icon flag-icon-rw' },
        { id:'flag-icon flag-icon-sa' },
        { id:'flag-icon flag-icon-sb' },
        { id:'flag-icon flag-icon-sc' },
        { id:'flag-icon flag-icon-sd' },
        { id:'flag-icon flag-icon-se' },
        { id:'flag-icon flag-icon-sg' },
        { id:'flag-icon flag-icon-sh' },
        { id:'flag-icon flag-icon-si' },
        { id:'flag-icon flag-icon-sj' },
        { id:'flag-icon flag-icon-sk' },
        { id:'flag-icon flag-icon-sl' },
        { id:'flag-icon flag-icon-sm' },
        { id:'flag-icon flag-icon-sn' },
        { id:'flag-icon flag-icon-so' },
        { id:'flag-icon flag-icon-sr' },
        { id:'flag-icon flag-icon-ss' },
        { id:'flag-icon flag-icon-st' },
        { id:'flag-icon flag-icon-sv' },
        { id:'flag-icon flag-icon-sx' },
        { id:'flag-icon flag-icon-sy' },
        { id:'flag-icon flag-icon-sz' },
        { id:'flag-icon flag-icon-tc' },
        { id:'flag-icon flag-icon-td' },
        { id:'flag-icon flag-icon-tf' },
        { id:'flag-icon flag-icon-tg' },
        { id:'flag-icon flag-icon-th' },
        { id:'flag-icon flag-icon-tj' },
        { id:'flag-icon flag-icon-tk' },
        { id:'flag-icon flag-icon-tl' },
        { id:'flag-icon flag-icon-tm' },
        { id:'flag-icon flag-icon-tn' },
        { id:'flag-icon flag-icon-to' },
        { id:'flag-icon flag-icon-tr' },
        { id:'flag-icon flag-icon-tt' },
        { id:'flag-icon flag-icon-tv' },
        { id:'flag-icon flag-icon-tw' },
        { id:'flag-icon flag-icon-tz' },
        { id:'flag-icon flag-icon-ua' },
        { id:'flag-icon flag-icon-ug' },
        { id:'flag-icon flag-icon-um' },
        { id:'flag-icon flag-icon-un' },
        { id:'flag-icon flag-icon-us' },
        { id:'flag-icon flag-icon-uy' },
        { id:'flag-icon flag-icon-uz' },
        { id:'flag-icon flag-icon-va' },
        { id:'flag-icon flag-icon-vc' },
        { id:'flag-icon flag-icon-ve' },
        { id:'flag-icon flag-icon-vg' },
        { id:'flag-icon flag-icon-vi' },
        { id:'flag-icon flag-icon-vn' },
        { id:'flag-icon flag-icon-vu' },
        { id:'flag-icon flag-icon-wf' },
        { id:'flag-icon flag-icon-ws' },
        { id:'flag-icon flag-icon-ye' },
        { id:'flag-icon flag-icon-yt' },
        { id:'flag-icon flag-icon-za' },
        { id:'flag-icon flag-icon-zm' },
        { id:'flag-icon flag-icon-zw' },
    ]
//-// Iconly icon mixin
mixin FlagContent(items)
    each item in items 
        .col-xxl-2.col-lg-3.col-sm-4
            .card.d-flex.align-items-center.flex-column.default-border
                i(class=item.id)
                .flex-grow-1
                    h6=item.id
//  Flag Icon
.card
    .card-header.pb-0.d-flex.justify-content-between.align-items-center
        h4 Flag Icon
    .card-body
        .row.icon-event.iconly-icons.icon-lists
            +FlagContent(FLAG_ITEM)