// Basic line chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Basic line chart
        .card-body
            #line-chart
// Basic area chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Basic area chart
        .card-body
            #basic-area
// Dumbbell chart
.col-xl-6
    .card 
        .card-header.pb-0 
            h4 Dumbbell chart 
        .card-body
            #dumbel-chart
// Column chart
.col-xl-6   
    .card 
        .card-header.pb-0
            h4 Column chart 
        .card-body 
            #column-chart
// Mixed chart
.col-xl-6   
    .card 
        .card-header.pb-0
            h4 Mixed chart 
        .card-body 
            #mixed-chart
// Pyramid chart
.col-xl-6   
    .card 
        .card-header.pb-0
            h4 Pyramid chart 
        .card-body 
            #pyramid-chart
// Bubble chart
.col-xl-6   
    .card 
        .card-header.pb-0
            h4 3D Bubble chart 
        .card-body 
            #bubble-chart
// Polar chart
.col-xl-6   
    .card 
        .card-header.pb-0
            h4 Polar chart 
        .card-body 
            #polar-chart
// Candle chart
.col-xl-12
    .card 
        .card-header.pb-0
            h4 Candle chart 
        .card-body 
            #candle-chart
// Pie chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Pie chart 
        .card-body.mx-auto
            #pie-chart
// Donut chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Donut chart 
        .card-body.mx-auto
            #donut-chart
// Radial chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Radial chart 
        .card-body.mx-auto
            #radial-chart
// Radar chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Radar chart 
        .card-body.mx-auto
            #radar-chart