// Basic line chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Basic Bar chart
        .card-body
            .chart-container
                canvas#myBarGraph
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Basic Line chart
        .card-body
            .chart-container
                canvas#myLineGraph
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Radar Graph
        .card-body
            .chart-container.chart-block
                canvas#radar-chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Line Chart
        .card-body
            .chart-container
                canvas#myAreaChart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Donut Graph
        .card-body
            .chart-container.chart-block
                canvas#myDonutChart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Polar Chart
        .card-body
            .chart-container.chart-block
                canvas#myRadarChart