// Basic line chart
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Basic line chart
        .card-body
            .ct-chart.chartist-container#ct-1
// Advanced Smil Animations
.col-xl-6
    .card 
        .card-header.pb-0
            h4 Advanced Smil Animations
        .card-body
            .ct-chart.chartist-container#ct-2
// Animating a Donut with Svg.animate
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Animating a Donut with Svg.animate
        .card-body
            #ct-8.chartist-container
// Bi-polar Line chart with area only
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Bi-polar Line chart with area only
        .card-body
            #ct-5.chartist-container
// Line chart with area
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Line chart with area
        .card-body
            #ct-4.chartist-container
// Bi-polar bar chart
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Bi-polar bar chart
        .card-body
            #ct-9.chartist-container
// Stacked bar chart
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Stacked bar chart
        .card-body
            #ct-10.chartist-container
// Horizontal bar chart
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Horizontal bar chart
        .card-body
            #ct-11.chartist-container
// Extreme responsive configuration
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Extreme responsive configuration
        .card-body
            #ct-12.chartist-container
// ADD PEAK CIRCLES USING THE DRAW EVENTS
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Add peak circles using the draw events
        .card-body
            #ct-6.chartist-container
// Holes in data
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Holes in data
        .card-body
            #ct-7.chartist-container
// Filled holes in data
.col-xl-6.col-md-12.col-sm-12.box-col-12
    .card
        .card-header.pb-0
            h4 Filled holes in data
        .card-body
            #ct-3.chartist-container