.card.range_5 
    .card-header.pb-0
       +card-header('Disabled', '','', 'Use the', '.slider', 'class. and edmin used Io range slider.')
    .card-body
      .slider-container
        input#slider4.slider(type='text')