.card.range_3 
  .card-header.pb-0
    +card-header('Manipulating UI', '','', 'Use the', '.slider', 'class. and edmin used Io range slider.')
  .card-body
    .slider-container
      input#slider3.slider(type='text')