.card.range_2 
    .card-header.pb-0
       +card-header('Min Max Value', '','', 'Use the', '.slider', 'class. and edmin used Io range slider.')
    .card-body
      .slider-container
        input#slider2.slider(type='text')