.card.range_6 
    .card-header.pb-0
       +card-header('Prefix', '','', 'Use the', '.slider', 'class. and edmin used Io range slider.')
    .card-body
      .slider-container
        input#slider5.slider(type='text')