.card.range_1.height_equal   
    .card-header.pb-0
      +card-header('Steps Range Slider', '','', 'Use the', '.slider', 'class. and edmin used Io range slider.')
    .card-body
      .slider-container
        input#slider.slider(type='text')