// Pagination With Active Start
.card
    .card-header.pb-0
        +card-header('Pagination With Active And Disabled', '','', 'for links that appear un-clickable and', ' .disabled , .active ', 'to indicate the current page.')
    .card-body
        nav(aria-label='...')
            ul.pagination.pagination-success.pagination-border-success
                li.page-item.disabled
                    a.page-link(href='javascript:void(0)', tabindex='-1') Previous
                li.page-item
                    a.page-link(href='javascript:void(0)') 1
                li.page-item.active
                    a.page-link(href='javascript:void(0)')
                        | 2 
                li.page-item
                    a.page-link(href='javascript:void(0)') 3
                li.page-item
                    a.page-link(href='javascript:void(0)') Next
// Pagination With Active End