// default pagination start
.card 
    .card-header.pb-0
        +card-header('Default Pagination', '','', 'You can set pagination using', ' aria-label="Search results pages. ', '')
    .card-body
        nav(aria-label='Page navigation example')
            ul.pagination.pagination-primary.pagination-border-primary
                li.page-item
                    a.page-link(href='javascript:void(0)') Previous
                li.page-item
                    a.page-link(href='javascript:void(0)') 1
                li.page-item
                    a.page-link(href='javascript:void(0)') 2
                li.page-item
                    a.page-link(href='javascript:void(0)') 3
                li.page-item
                    a.page-link(href='javascript:void(0)') Next
// default pagination End