.card.track-order
    .card-body
        h4 Your order has already been sent.
        p.font-light.f-14 Use this tracking number to keep track of your order.
        h5 5435987456325894
        a.btn.btn-primary(href="javascript:void(0)") Check Your Order Details