// Display Heading Card
.card 
    .card-header.pb-0
        +card-header('Display Heading', '','','Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a', 'display heading', '- a larger, slightly more opinionated heading style.')
    .card-body.d-flex.flex-column.gap-2
        h2.display-1 Display 1
        h2.display-2 Display 2
        h2.display-3 Display 3
        h2.display-4 Display 4