// Font Weight card
.card 
    .card-header.pb-0
        +card-header('Font weight', '','','Using, ', 'f-w-*', ' class, you can change the font weight.')    
    .card-body.d-flex.flex-column.gap-3
        h2.f-w-700
            | You can set bolder font weight Heading 1 using
            code  f-w-700
        h2.f-w-600
            | You can set bold font weight Heading 2 using
            code  f-w-600
        h2.f-w-500
            | You can set medium font weight Heading 3 using
            code  f-w-500
        h2.f-w-400
            | You can set normal font weight Heading 4 using
            code  f-w-400
        h2.f-w-300
            | You can set light font weight Heading 5 using
            code  f-w-300
        h2.f-w-100
            | You can set light font weight Heading 6 using
            code  f-w-100