// Basic Heading Card
.card 
    .card-header.pb-0
        +card-header('Headings', '','','All HTML headings, ', 'H1 .. H6', 'are available.')
    .card-body
        .table-responsive 
            table.table.mb-0.typography-table
                thead
                    tr
                        th.pt-0 Code
                        th.pt-0 Font-Size
                        th.pt-0 Pixel
                        th.pt-0 Font Weight
                        th.pt-0 Heading
                tbody
                    tr
                        td
                            code &lt;h1&gt;&lt;/h1&gt;
                        td
                            h2.display-h1.mb-0 1.875rem
                        td
                            h2.display-h1.mb-0 30px
                        td
                            h2.display-h1.mb-0 500
                        td
                            h2.display-h1 Heading 1 (MEGA)
                    tr
                        td
                            code &lt;h2&gt;&lt;/h2&gt;
                        td
                            h2.mb-0 1.625rem
                        td
                            h2.mb-0 26px
                        td
                            h2.mb-0 500
                        td
                            h2 Heading 2 (XL)
                    tr
                        td
                            code &lt;h3&gt;&lt;/h3&gt;
                        td
                            h3.mb-0 1.375rem
                        td
                            h3.mb-0 22px
                        td
                            h3.mb-0 400
                        td
                            h3 Heading 3 (LARGE)
                    tr
                        td
                            code &lt;h4&gt;&lt;/h4&gt;
                        td
                            h4.mb-0 1.25rem
                        td
                            h4.mb-0 20px
                        td
                            h4.mb-0 600
                        td
                            h4 Heading 4 (MEDIUM)
                    tr
                        td
                            code &lt;h5&gt;&lt;/h5&gt;
                        td
                            h5.mb-0 1rem
                        td
                            h5.mb-0 16px
                        td
                            h5.mb-0 400
                        td
                            h5 Heading 5 (SMALL)
                    tr
                        td.pb-0
                            code &lt;h6&gt;&lt;/h6&gt;
                        td.pb-0
                            h6.mb-0 0.875rem
                        td.pb-0
                            h6.mb-0 14px
                        td.pb-0
                            h6.mb-0 400
                        td.pb-0
                            h6 Heading 6 (EXTRA SMALL)

