// Font Weight card
.card.listing
    .card-header.pb-0
        +card-header('Listing typography', '','','All typography list:- ', '<ul>,<ol>,<dl>', '')    
    .card-body
        .row.g-3
            .col-md-6.col-xxl-4
                .card-wrapper.rounded-3.h-100.bg-light-primary
                    h6.sub-title.f-w-600 Unorder list
                    ul
                        li One who looks on the bright side of things
                        li One who does something not professionally but for pleasure
                        li A handwriting that cannot be read
                        li One who looks on the bright side of things
                        li The study of ancient writing and scriptures
                        li Creates more sophisticated capabilities for a web page to use coding language.
                        li Maintaining contact and communicating clearly are also essential. possess abilities for a designer
            .col-md-6.col-xxl-4
                .card-wrapper.rounded-3.h-100.bg-light-secondary
                    h6.sub-title.f-w-600 Order list
                    ol.mb-0
                        li UI Kits
                        li Bonus Ui
                        li Animations
                        li
                            ol
                                li Typography
                                li Avatars
                                li Grid
                                li Tag &amp; pills
                                li Alert
                        li Dropdown
                        li Tabs
                        li Accordion
            .col-md-12.col-xxl-4
                .card-wrapper.rounded-3.bg-light-tertiary.h-100
                    h6.sub-title.f-w-600 Description list
                    dl.mb-0
                        dt The way to get started is to quit talking and begin doing.
                        dd -Walt Disney
                        dt Life is what happens when you&apos;re busy making other plans.
                        dd -John Lennon
                        dt Whoever is happy will make others happy too. 
                        dd -Anne Frank
                        dt Life is either a daring adventure or nothing at all.
                        dd -Helen Keller
                        dt The purpose of our lives is to be happy.
                        dd.mb-0 -Dalai Lama
