// Text Color Card
.card
    .card-header.pb-0
        +card-header('Text Color', '','','You can Give text color by using, ', 'font-*', 'Class.')
    .card-body
        .d-flex.flex-column.gap-2
            p.font-primary.mb-0
                | This is Primary text You can archive this adding
                code .font-primary
                |  class
            p.font-secondary.mb-0
                | This is Secondary text You can archive this adding
                code .font-secondary
                |  class
            p.font-tertiary.mb-0
                | This is Tertiary text You can archive this adding
                code .font-tertiary
                |  class
            p.font-success.mb-0
                | This is Success text You can archive this adding
                code .font-success
                |  class
            p.font-info.mb-0
                | This is Info text You can archive this adding
                code .font-info
                |  class
            p.font-warning.mb-0
                | This is Warning text You can archive this adding
                code .font-warning
                |  class
            p.font-danger.mb-0
                | This is Danger text You can archive this adding
                code .font-danger
                |  class
            p.font-dark.mb-0
                | This is Dark text You can archive this adding
                code .font-dark
                |  class