.card
    .card-header.pb-0
        +card-header('Images with Radio', '', '', 'Use the', '.form-check-input-* ,.form-check-label-* ', 'for image radio.')
    .card-body.checkbox-checked
        .main-img-checkbox
            .row.g-3
                .col-xxl-3.col-sm-6
                    .card-wrapper.solid-border.rounded-3
                        h6.sub-title.fw-bold Custom
                        .img-checkbox
                            input#img-radio-1.main-img-cover.form-check-input(type="radio"  name='radio6')
                            label.form-check-label.mb-0(for="img-radio-1") 
                                img(src="../assets/images/switch/5.jpg", alt="coffee-beans")
                .col-xxl-3.col-sm-6
                    .card-wrapper.solid-border.rounded-3
                        h6.sub-title.fw-bold Checked Image
                        .img-checkbox
                            input#img-radio-2.main-img-cover.form-check-input(type="radio"  name='radio6' checked='')
                            label.form-check-label.mb-0(for="img-radio-2") 
                                img(src="../assets/images/switch/6.jpg", alt="tree")
                .col-xxl-3.col-sm-6
                    .card-wrapper.solid-border.rounded-3
                        h6.sub-title.fw-bold Disable Image
                        .img-checkbox
                            input#img-radio-3.main-img-cover.form-check-input(type="radio"  name='radio6' disabled='')
                            label.form-check-label.mb-0(for="img-radio-3") 
                                img(src="../assets/images/switch/7.jpg", alt="flowers")
                .col-xxl-3.col-sm-6
                    .card-wrapper.solid-border.rounded-3
                        h6.sub-title.fw-bold Disable Checked Image
                        .img-checkbox
                            input#img-radio-4.main-img-cover.form-check-input(type="radio"  name='radio6' disabled='' checked='')
                            label.form-check-label.mb-0(for="img-radio-4") 
                                img(src="../assets/images/switch/8.jpg", alt="rose-tea")
