// Alerts with icons and text actions
.card 
    .card-header.pb-0
        +card-header('Alerts with icons and text actions', '','','Use the', '.dismiss-text', ' class to add dismiss text instead of icon.')
    .card-body.dark-txt
        .alert.border-success.alert-dismissible.fade.show.p-0(role='alert')
            .alert-arrow.bg-success
                +FeatherSprite('clock', 'feather')
            p.text-truncate
                | Your time Over after                            
                strong.font-dark 5
                |   minute
            button.p-0.border-0.me-2.ms-auto(type='button' data-bs-dismiss='alert' aria-label='Close')
                span.bg-success.px-3.py-1(aria-hidden='true') Check
        .alert.border-info.alert-dismissible.fade.show.p-0(role='alert')
            .alert-arrow.bg-info
                +FeatherSprite('heart', 'feather')
            p.text-truncate
                | Oh snap! Change a few things up 
                strong.font-dark  Notification check
            button.p-0.border-0.me-2.ms-auto(type='button' data-bs-dismiss='alert' aria-label='Close')
                span.bg-info.text-white.px-3.py-1(aria-hidden='true') Alert
        .alert.border-warning.alert-dismissible.fade.show.p-0.mb-0(role='alert')
            .alert-arrow.bg-warning
                +FeatherSprite('youtube', 'feather')
            p.text-truncate
                | One of
                strong.font-dark  YouTube's
                | most crucial ranking factors is Watch Time.
            button.p-0.border-0.me-2.ms-auto(type='button' data-bs-dismiss='alert' aria-label='Close')
                span.bg-warning.text-white.px-3.py-1(aria-hidden='true') Show


