.card
  .card-header.pb-0
    +card-header('Default Calender', '','', 'Use the', '.main-inline-calender', 'class through set all css property.')
  .card-body.card-wrapper 
    .row.g-3
      .col-12
        .input-group.main-inline-calender
          input#inline-calender.form-control.mb-2(type='date')