.card
  .card-header.pb-0
    +card-header('Default touchspin', '','', 'Use the', '.decrement-touchspin-*.increment-touchspin-*', 'class.')
  .card-body.common-flex
    .touchspin-wrapper 
      button.decrement-touchspin.btn-touchspin.touchspin-primary
        i.fa.fa-minus 
      input.input-touchspin.spin-outline-primary(type='number' value='0')
      button.increment-touchspin.btn-touchspin.touchspin-primary
        i.fa.fa-plus 
    .touchspin-wrapper
      button.decrement-touchspin.btn-touchspin.touchspin-secondary
        i.fa.fa-minus  
      input.input-touchspin.spin-outline-secondary(type='number' value='2')
      button.increment-touchspin.btn-touchspin.touchspin-secondary
        i.fa.fa-plus  
    .touchspin-wrapper
      button.decrement-touchspin.btn-touchspin.touchspin-success
        i.fa.fa-minus  
      input.input-touchspin.spin-outline-success(type='number' value='1')
      button.increment-touchspin.btn-touchspin.touchspin-success
        i.fa.fa-plus  
    .touchspin-wrapper
      button.decrement-touchspin.btn-touchspin.touchspin-danger
        i.fa.fa-minus  
      input.input-touchspin.spin-outline-danger(type='number' value='8')
      button.increment-touchspin.btn-touchspin.touchspin-danger
        i.fa.fa-plus  
    .touchspin-wrapper
      button.decrement-touchspin.btn-touchspin.touchspin-warning
        i.fa.fa-minus  
      input.input-touchspin.spin-outline-warning(type='number' value='3')
      button.increment-touchspin.btn-touchspin.touchspin-warning
        i.fa.fa-plus  
    .touchspin-wrapper
      button.decrement-touchspin.btn-touchspin.touchspin-info
        i.fa.fa-minus
      input.input-touchspin.spin-outline-info(type='number' value='9')
      button.increment-touchspin.btn-touchspin.touchspin-info
        i.fa.fa-plus  
    .touchspin-wrapper
      button.decrement-touchspin.btn-touchspin.touchspin-dark
        i.fa.fa-minus     
      input.input-touchspin.spin-outline-dark(type='number' value='4')
      button.increment-touchspin.btn-touchspin.touchspin-dark
        i.fa.fa-plus  