// Numbered & badge lists
.card
    .card-header.pb-0
        +card-header('Numbered & badge lists', '','','Use the', '.list-group-numbered','modifier class to numbered list group items.Numbers are generated via CSS for better placement inside list group items.')
    .card-body
        ol.list-group.list-group-numbered.badge-list
            li.list-group-item
                div Stella Nowland
                span.badge.badge-warning.rounded-pill.p-2 Freelance
            li.list-group-item
                div Lola Stanford
                span.badge.badge-danger.text-white.rounded-pill.p-2 Issue
            li.list-group-item
                div Caitlin Coungeau
                span.badge.badge-primary.text-white.rounded-pill.p-2 Social
            li.list-group-item
                div Graciela W. McClaran
                span.badge.badge-danger.text-white.rounded-pill.p-2 Issue