// Custom content lists
.card
    .card-header.pb-0
        +card-header('Custom content lists', '','','Use the', '.list-group-item','through make custom design of all lists.')
    .card-body
        .list-group.main-lists-content
            a.list-group-item.list-group-item-action.active.bg-primary(href='#' aria-current='true')
                .d-flex.w-100.justify-content-between.align-items-center
                    .list-wrapper
                        img.list-img(src='../assets/images/avatar/1.jpg' alt='profile')
                        .list-content
                            h5.text-white Molly Boake
                            p.text-white MollyBoake@rhyta.com
                    small 5 days ago
                p.mb-1
                    | Next step is to choose a tone of voice for your content type. From casual to convincing, pick one from 20+ tones in the dropdown.Why did we say &ldquo;snag eyeballs&rdquo; instead of &ldquo;get attention?&rdquo; Why do we say &ldquo;brick-and-mortar words&rdquo; instead of &ldquo;concrete words?&rdquo; Because, in your email subject lines, it&rsquo;s better to use words that people can picture.
                small 20K Followers
            a.list-group-item.list-group-item-action.list-hover-primary(href='#')
                .d-flex.w-100.justify-content-between.align-items-center
                    .list-wrapper
                        img.list-img(src='../assets/images/avatar/2.jpg' alt='profile')
                        .list-content
                            h5 Gabrielle Fahey
                            p GabrielleFahey@dayrep.com
                    small.text-muted 10 days ago
                p.mb-1
                    | Your aim with this blog is to advertise yourself and your services in blog design. That means it&apos;s vital to create content about just that: blog design. Anything else on your page may act as a distraction to your potential customers, and you don&apos;t want that!
                small.text-muted 100 Followers
            a.list-group-item.list-group-item-action.list-hover-primary(href='#')
                .d-flex.w-100.justify-content-between.align-items-center
                    .list-wrapper
                        img.list-img(src='../assets/images/avatar/3.jpg' alt='profile')
                        .list-content
                            h5 Lucinda Moseley
                            p LucindaMoseley@teleworm.us
                    small.text-muted 3 days ago
                p.mb-1
                    | People who are looking to hire a web designer may not know what to look out for. This will give you a chance to prove your trustworthiness by providing potential customers with advice and will let you sell your services by highlighting their best qualities.
                small.text-muted 23M Followers