// Default lists
.card
    .card-header.pb-0
        +card-header('Default lists', '','','Use the', 'list-group , .list-group-item','to indicate the current content.')
    .card-body
        ul.list-group
            li.list-group-item
                +IconlySprite('right-3', 'svg-w-18 stroke-light me-1')
                | Logo Design
            li.list-group-item
                +IconlySprite('right-3', 'svg-w-18 stroke-light me-1')
                | Web Design &amp; Development
            li.list-group-item
                +IconlySprite('right-3', 'svg-w-18 stroke-light me-1')
                | E-Commerce
            li.list-group-item
                +IconlySprite('right-3', 'svg-w-18 stroke-light me-1')
                | SEO