// Disabled lists
.card
    .card-header.pb-0
        +card-header('Disabled lists', '','','Use the', '.disabled, .list-group-item','to make it appear disabled.')
    .card-body
        .list-group
            a.list-group-item.list-group-item-action.list-hover-primary.active(href='javascript:void(0)')
                img.rounded-circle.img-40(src='../assets/images/avatar/1.jpg' alt='user')
                | Teresa J. Mosteller
            a.list-group-item.list-group-item-action.list-hover-primary(href='javascript:void(0)')
                img.rounded-circle.img-40(src='../assets/images/avatar/3.jpg' alt='user')
                | Gloria D. Acheson
            a.list-group-item.list-group-item-action.disabled(href='javascript:void(0)')
                img.rounded-circle.img-40(src='../assets/images/avatar/2.jpg' alt='user')
                | Sharon C. Obrien
            a.list-group-item.list-group-item-action.disabled(href='javascript:void(0)')
                img.rounded-circle.img-40(src='../assets/images/avatar/5.jpg' alt='user')
                | Bryan A. Owens