// Flush lists
.card
    .card-header.pb-0
        +card-header('Flush lists', '','','Use the', '.list-group-flush','to remove some borders and rounded corners to render list group items.')
    .card-body
        ul.list-group.list-group-flush
            li.list-group-item
                +IconlySprite('right-3', 'svg-w-18 stroke-light me-1')
                | PRODUCT
            li.list-group-item
                +IconlySprite('right-3', 'svg-w-18 stroke-light me-1')
                | PRODUCT DETAILS
            li.list-group-item
                +IconlySprite('right-3', 'svg-w-18 stroke-light me-1')
                | CART
            li.list-group-item
                +IconlySprite('right-3', 'svg-w-18 stroke-light me-1')
                | CHECKOUT