// Default lists
.card
    .card-header.pb-0
        +card-header('Default lists', '','','Use the', 'list-group , .list-group-item','to indicate the current content.')
    .card-body
        .horizontal-list-wrapper.dark-list
            ul.fw-bold.list-group.list-group-horizontal-sm.pb-2
                li.list-group-item.b-l-primary Product 
                li.list-group-item Product details
                li.list-group-item Pricing
                li.list-group-item Payment details
                li.list-group-item Checkout 
                li.list-group-item Mega options 
            ul.fw-bold.list-group.list-group-horizontal-md.pb-2
                li.list-group-item.b-l-secondary Basic table
                li.list-group-item Sizing table 
                li.list-group-item Border table
                li.list-group-item Basic inputs 
                li.list-group-item Form validations
            ul.fw-bold.list-group.list-group-horizontal-md.pb-2
                li.list-group-item.b-l-tertiary Typeahead
                li.list-group-item Touchspin
                li.list-group-item Switch
                li.list-group-item Clipboard
                li.list-group-item Default Form
            ul.fw-bold.list-group.list-group-horizontal-lg.pb-2
                li.list-group-item.b-l-warning Flat style 
                li.list-group-item Edge style 
                li.list-group-item Button group
                li.list-group-item Rating
                li.list-group-item Crypto
            ul.fw-bold.list-group.list-group-horizontal-xl.pb-2
                li.list-group-item.b-l-success Blog 
                li.list-group-item Blog details 
                li.list-group-item Blog single 
                li.list-group-item Order history 
            ul.fw-bold.list-group.list-group-horizontal-xxl
                li.list-group-item.b-l-info Gallery grid 
                li.list-group-item Gallery desc
                li.list-group-item Masonry Desc
