// JavaScript behavior
.card
    .card-header.pb-0
        +card-header('JavaScript behavior', '','','Use the tab JavaScript plugin—include it individually or through the compiled', 'bootstrap.js','file to extend our list group to create table panes of local content.')
    .card-body
        .row
            .col-sm-4
                #list-tab.list-group(role='tablist')
                    a#list-home-list.list-group-item.list-group-item-action.bg-primary.active(data-bs-toggle='list' href='#list-home' role='tab' aria-controls='list-home') Home
                    a#list-profile-list.list-group-item.list-group-item-action.list-hover-primary(data-bs-toggle='list' href='#list-profile' role='tab' aria-controls='list-profile') Profile
                    a#list-messages-list.list-group-item.list-group-item-action.list-hover-primary(data-bs-toggle='list' href='#list-messages' role='tab' aria-controls='list-messages') Contact Us
                    a#list-settings-list.list-group-item.list-group-item-action.list-hover-primary(data-bs-toggle='list' href='#list-settings' role='tab' aria-controls='list-settings') Settings
            .col-sm-8
                #nav-tabContent.tab-content
                    #list-home.tab-pane.fade.show.active.list-behaviors(role='tabpanel' aria-labelledby='list-home-list')
                        .d-flex.mb-xl-4.list-behavior-1
                            .flex-shrink-0
                                img.tab-img.img-fluid(src='../assets/images/blog/img.png' alt='home')
                            .flex-grow-1
                                p.mb-xl-0.mb-sm-4
                                    | We provide end to end digital solutions, right from designing your website/application development: Domain, Web Hosting, Email Hosting Registration, Search Engine Optimization and other Internet Marketing, Renewal of Services timely and effectively.
                        .d-flex.list-behavior-1.mb-xl-4
                            .flex-shrink-0
                                img.tab-img.img-fluid(src='../assets/images/blog/blog.jpg' alt='home')
                            .flex-grow-1
                                p.mb-0
                                    | When someone visits your homepage, your design should inspire them to stay. Therefore, your value proposition should be established on the homepage for visitors to select to stay on your website.Building trust, expressing value, and guiding visitors to the next step all depend on a page&apos;s design.
                    #list-profile.tab-pane.fade.dark-list(role='tabpanel' aria-labelledby='list-profile-list')
                        .flex-space.align-items-center.list-light-dark.contact-profile
                            img.tab-img(src='../assets/images/avatar/5.jpg' alt='profile')
                            ul.d-flex.flex-column.gap-2
                                li
                                    strong Visit Us: 
                                    | &#x9;2600 Hollywood Blvd,Florida, United States-&#x9;33020
                                li
                                    strong Mail Us: 
                                    | &#x9;contact@us@gmail.com
                                li
                                    strong Contact Number: 
                                    | (954) 357-7760
                    #list-messages.tab-pane.fade(role='tabpanel' aria-labelledby='list-messages-list')
                        ul.d-flex.flex-column.gap-1
                            li
                                | Us Technology offers web &amp; mobile development solutions for all industry verticals.Include a short form using fields that&apos;ll help your business understand who&apos;s contacting them.
                            li
                                strong Visit Us: 
                                | &#x9;2600 Hollywood Blvd,Florida, United States-&#x9;33020
                            li
                                strong Mail Us:
                                | contact@us@gmail.com
                            li
                                strong Contact Number: 
                                | (954) 357-7760
                    #list-settings.tab-pane.fade(role='tabpanel' aria-labelledby='list-settings-list')
                        ul.d-flex.flex-column.gap-2
                            li
                                strong Available pages in Template: 
                            li
                                | --&gt; Typography:
                                | Typography is the art of arranging letters and text in a way that makes the copy legible, clear, and visually appealing to the reader.
                            li
                                | --&gt; Tooltip:
                                | A tooltip is a brief, informative message that appears when a user interacts with an element in a graphical user interface (GUI).
