// Scrollable lists
.card
    .card-header.pb-0
        +card-header('Scrollable lists', '','','Use the property', 'overflow:auto','through scrollable lists.')
    .card-body
        .list-group.main-lists-content.scrollbar-wrapper
            a.list-group-item.list-group-item-action.active.list-hover-secondary.border-secondary(href='#' aria-current='true')
                .list-wrapper.gap-0
                    img.img-45.b-r-8(src='../assets/images/avatar/9.jpg' alt='profile')
                    .list-content
                        h6 Molly Boake
                        p MollyBoake@rhyta.com
                        small 5 days ago
            a.list-group-item.list-group-item-action.list-hover-secondary(href='#')
                .list-wrapper.gap-0
                    img.img-45.b-r-8(src='../assets/images/avatar/8.jpg' alt='profile')
                    .list-content
                        h6 Gabrielle Fahey
                        p GabrielleFahey@dayrep.com
                        small.text-muted 10 days ago
            a.list-group-item.list-group-item-action.list-hover-secondary(href='#')
                .list-wrapper.gap-0
                    img.img-45.b-r-8(src='../assets/images/avatar/7.jpg' alt='profile')
                    .list-content
                        h6 Lucinda Moseley
                        p LucindaMoseley@teleworm.us
                        small.text-muted 3 days ago
            a.list-group-item.list-group-item-action.list-hover-secondary(href='#')
                .list-wrapper.gap-0
                    img.img-45.b-r-8(src='../assets/images/avatar/6.jpg' alt='profile')
                    .list-content
                        h6 Francis K. Henriques
                        p FrancisKHenriques@teleworm.us
                        small.text-muted 2 days ago
            a.list-group-item.list-group-item-action.list-hover-secondary(href='#')
                .list-wrapper.gap-0
                    img.img-45.b-r-8(src='../assets/images/avatar/5.jpg' alt='profile')
                    .list-content
                        h6 Jose A. Seay
                        p JoseASeay@rhyta.com
                        small.text-muted 15 days ago
            a.list-group-item.list-group-item-action.list-hover-secondary(href='#')
                .list-wrapper.gap-0
                    img.img-45.b-r-8(src='../assets/images/avatar/4.jpg' alt='profile')
                    .list-content
                        h6 Phil F. Cunningham
                        p PhilFCunningham@dayrep.com
                        small.text-muted 6 days ago
            a.list-group-item.list-group-item-action.list-hover-secondary(href='#')
                .list-wrapper.gap-0
                    img.img-45.b-r-8(src='../assets/images/avatar/3.jpg' alt='profile')
                    .list-content
                        h6 Richard E. Johnson
                        p RichardEJohnson@teleworm.us
                        small.text-muted 20 days ago
            a.list-group-item.list-group-item-action.list-hover-secondary(href='#')
                .list-wrapper.gap-0
                    img.img-45.b-r-8(src='../assets/images/avatar/2.jpg' alt='profile')
                    .list-content
                        h6 Lawrence L. Nash
                        p LawrenceLNash@jourrapide.com
                        small.text-muted 8 days ago