.card.api-board
  .card-header.pb-0
    h4 API
    p.mb-0 add item, add board, delete board:                    
  .card-body                     
    #demo3.api-board
    button#addDefault.btn.btn-primary Add &quot;Default&quot; board
    button#addToDo.btn.btn-success Add element in &quot;To Do&quot; Board
    button#removeBoard.btn.btn-danger Remove &quot;Done&quot; Board