.card.custom-board
  .card-header.pb-0
    .d-flex 
      .flex-grow-1 
        h4 Custom Board
    p.mb-0 | colors, gutter, click on board&apos;s item and restricting which boards to drag items to                         
  .card-body.pb-0 
    #demo2.custom-board