.card
    .card-header.pb-0
        +card-header('Default File Upload', '', '', 'We use the create method to turn a', '<input type="file"> , [https://pqina.nl/filepond/]', 'into a FilePond drop area.')
    .card-body
        input(type='file' class="no-preview")