.card
    .card-header.pb-0
        +card-header('Image Preview', '', '', 'We use the create method to turn a', '<input type="file"> , [https://pqina.nl/filepond/]', 'into a FilePond drop area.')
    .card-body
        input(type='file' class="show-preview")