.card
  .card-header 
    +card-header('Single File Upload', '', '', 'Use the', '.dropzone', 'class through create upload files')
  .card-body
    form#singleFileUpload.dropzone(action='/upload.php')
      .dropzone-wrapper
        .dz-message.needsclick
          i.icon-cloud-up
          h6 Drop files here or click to upload.
          span.note.needsclick
            | (This is just a demo dropzone. Selected files are 
            strong not
            |  actually uploaded.)