.row
  .col-xl-12
    .card
      .blog-box.blog-list.row
        .col-sm-5
          img.img-fluid.sm-100-w(src='../assets/images/faq/1.jpg', alt='')
        .col-sm-7
          .blog-details
            .blog-date
              span 05
              |  January 2022
            h6 Java Language 
            .blog-bottom-content
              ul.blog-social
                li by: Paige Turner
                li 15 Hits
              hr
              p.mt-0
                | Java is an object-oriented programming language. Sun Microsystems first released Java in the year 1995. It is popularly used for developing Java applications in data centers, laptops, cell phones, game consoles, and scientific supercomputers. There are multiple websites and applications which will not work if Java is not installed.
  .col-xl-12
    .card
      .blog-box.blog-list.row
        .col-sm-5
          img.img-fluid.sm-100-w(src='../assets/images/faq/2.jpg', alt='')
        .col-sm-7
          .blog-details
            .blog-date
              span 10
              |  March 2022
            h6 Web Development 
            .blog-bottom-content
              ul.blog-social
                li by: Petey Cruiser
                li 34 Hits
              hr
              p.mt-0
                | Web development is the work involved in developing a website for the Internet or an intranet (a private network).Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services, and many more such applications and websites are being created every day.
  .col-xl-4.xl-50.col-sm-6.box-col-6
    .card
      .blog-box.blog-grid.text-center.product-box
        .product-img
          img.img-fluid.top-radius-blog(src='../assets/images/faq/3.jpg', alt='')
          .product-hover
            ul
              li
                i.icon-link
              li
                i.icon-import
        .blog-details-main
          ul.blog-social
            li 9 April 2024
            li by: Admin
            li 0 Hits
          hr
          h6.blog-bottom-details Perspiciatis unde omnis iste natus error sit.Dummy text
  .col-xl-4.xl-50.col-sm-6.box-col-6
    .card
      .blog-box.blog-grid.text-center.product-box
        .product-img
          img.img-fluid.top-radius-blog(src='../assets/images/faq/1.jpg', alt='')
          .product-hover
            ul
              li
                i.icon-link
              li
                i.icon-import
        .blog-details-main
          ul.blog-social
            li 9 April 2024
            li by: Admin
            li 0 Hits
          hr
          h6.blog-bottom-details Perspiciatis unde omnis iste natus error sit.Dummy text
  .col-xl-4.xl-50.col-sm-6.box-col-6
    .card
      .blog-box.blog-grid.text-center.product-box
        .product-img
          img.img-fluid.top-radius-blog(src='../assets/images/faq/4.jpg', alt='')
          .product-hover
            ul
              li
                i.icon-link
              li
                i.icon-import
        .blog-details-main
          ul.blog-social
            li 9 April 2024
            li by: Admin
            li 0 Hits
          hr
          h6.blog-bottom-details Perspiciatis unde omnis iste natus error sit.Dummy text
  .col-xl-4.xl-50.col-sm-6.box-col-6
    .card
      .blog-box.blog-grid.text-center.product-box
        .product-img
          img.img-fluid.top-radius-blog(src='../assets/images/faq/2.jpg', alt='')
          .product-hover
            ul
              li
                i.icon-link
              li
                i.icon-import
        .blog-details-main
          ul.blog-social
            li 9 April 2024
            li by: Admin
            li 0 Hits
          hr
          h6.blog-bottom-details Perspiciatis unde omnis iste natus error sit.Dummy text
  .col-xl-4.xl-50.col-sm-6.box-col-6
    .card
      .blog-box.blog-grid.text-center.product-box
        .product-img
          img.img-fluid.top-radius-blog(src='../assets/images/faq/4.jpg', alt='')
          .product-hover
            ul
              li
                i.icon-link
              li
                i.icon-import
        .blog-details-main
          ul.blog-social
            li 9 April 2024
            li by: Admin
            li 0 Hits
          hr
          h6.blog-bottom-details Perspiciatis unde omnis iste natus error sit.Dummy text
  .col-xl-4.xl-50.col-sm-6.box-col-6
    .card
      .blog-box.blog-grid.text-center.product-box
        .product-img
          img.img-fluid.top-radius-blog(src='../assets/images/faq/3.jpg', alt='')
          .product-hover
            ul
              li
                i.icon-link
              li
                i.icon-import
        .blog-details-main
          ul.blog-social
            li 9 April 2024
            li by: Admin
            li 0 Hits
          hr
          h6.blog-bottom-details Perspiciatis unde omnis iste natus error sit.Dummy text