// Background colors Card
.card 
    .card-header.pb-0
        +card-header('Styles in Borders', '','','Use the different styles of borders like', 'border radius/border-color/border-width.', 'Use of any components.')
    .card-body
        .row.g-3
            .col-xl-6.col-sm-6
                .border-wrapper.h-100
                    h5.mb-3 Dark background
                    .helper-common-box
                        .helper-box.bg-primary
                        span .bg-primary 
                    .helper-common-box
                        .helper-box.bg-secondary
                        span .bg-secondary 
                    .helper-common-box
                        .helper-box.bg-tertiary
                        span .bg-tertiary 
                    .helper-common-box
                        .helper-box.bg-success
                        span .bg-success 
                    .helper-common-box
                        .helper-box.bg-danger
                        span .bg-danger 
                    .helper-common-box
                        .helper-box.bg-warning
                        span .bg-warning 
                    .helper-common-box
                        .helper-box.bg-info
                        span .bg-info 
                    .helper-common-box
                        .helper-box.bg-dark
                        span .bg-dark 
                    .helper-common-box
                        .helper-box.bg-light
                        span .bg-light 
            .col-xl-6.col-sm-6
                .border-wrapper.h-100
                    h5.mb-3 Light backgrounds
                    .helper-common-box
                        .helper-box.bg-light-primary  
                        span .bg-light-primary 
                    .helper-common-box
                        .helper-box.bg-light-secondary
                        span .bg-light-secondary
                    .helper-common-box
                        .helper-box.bg-light-tertiary
                        span .bg-light-tertiary
                    .helper-common-box
                        .helper-box.bg-light-success
                        span .bg-light-success
                    .helper-common-box
                        .helper-box.bg-light-danger
                        span .bg-light-danger
                    .helper-common-box
                        .helper-box.bg-light-warning
                        span .bg-light-warning
                    .helper-common-box
                        .helper-box.bg-light-info
                        span .bg-light-info
                    .helper-common-box
                        .helper-box.bg-light-dark
                        span .bg-light-dark
                    .helper-common-box
                        .helper-box.bg-light-light
                        span .bg-light-light