// Border color Card
.card 
    .card-header.pb-0
        +card-header('Border color', '','','Use all direction', '.b-t-*/ .b-b-*/ .b-l-*/ .b-r-*', 'border components.')
    .card-body
        .gradient-border
            .helper-common-box
                .helper-box.b-t-primary.solid-border.fill-wrapper
                span .b-t-primary
            .helper-common-box
                .helper-box.b-b-primary.solid-border.fill-wrapper
                span .b-b-primary
            .helper-common-box
                .helper-box.b-l-primary.solid-border.fill-wrapper
                span .b-l-primary
            .helper-common-box
                .helper-box.b-r-primary.solid-border.fill-wrapper
                span .b-r-primary
            .helper-common-box
                .helper-box.b-t-secondary.solid-border.fill-wrapper
                span .b-t-secondary
            .helper-common-box
                .helper-box.b-b-secondary.solid-border.fill-wrapper
                span .b-b-secondary
            .helper-common-box
                .helper-box.b-l-secondary.solid-border.fill-wrapper
                span .b-l-secondary
            .helper-common-box
                .helper-box.b-r-secondary.solid-border.fill-wrapper
                span .b-r-secondary
            .helper-common-box
                .helper-box.b-t-tertiary.solid-border.fill-wrapper
                span .b-t-tertiary
            .helper-common-box
                .helper-box.b-b-tertiary.solid-border.fill-wrapper
                span .b-b-tertiary
            .helper-common-box
                .helper-box.b-l-tertiary.solid-border.fill-wrapper
                span .b-l-tertiary
            .helper-common-box
                .helper-box.b-r-tertiary.solid-border.fill-wrapper
                span .b-r-tertiary
            .helper-common-box
                .helper-box.b-t-success.solid-border.fill-wrapper
                span .b-t-success
            .helper-common-box
                .helper-box.b-b-success.solid-border.fill-wrapper
                span .b-b-success
            .helper-common-box
                .helper-box.b-l-success.solid-border.fill-wrapper
                span .b-l-success
            .helper-common-box
                .helper-box.b-r-success.solid-border.fill-wrapper
                span .b-r-success
            .helper-common-box
                .helper-box.b-t-danger.solid-border.fill-wrapper
                span .b-t-danger
            .helper-common-box
                .helper-box.b-b-danger.solid-border.fill-wrapper
                span .b-b-danger
            .helper-common-box
                .helper-box.b-l-danger.solid-border.fill-wrapper
                span .b-l-danger
            .helper-common-box
                .helper-box.b-r-danger.solid-border.fill-wrapper
                span .b-r-danger
            .helper-common-box
                .helper-box.b-t-warning.solid-border.fill-wrapper
                span .b-t-warning
            .helper-common-box
                .helper-box.b-b-warning.solid-border.fill-wrapper
                span .b-b-warning
            .helper-common-box
                .helper-box.b-l-warning.solid-border.fill-wrapper
                span .b-l-warning
            .helper-common-box
                .helper-box.b-r-warning.solid-border.fill-wrapper
                span .b-r-warning
            .helper-common-box
                .helper-box.b-t-info.solid-border.fill-wrapper
                span .b-t-info
            .helper-common-box
                .helper-box.b-b-info.solid-border.fill-wrapper
                span .b-b-info
            .helper-common-box
                .helper-box.b-l-info.solid-border.fill-wrapper
                span .b-l-info
            .helper-common-box
                .helper-box.b-r-info.solid-border.fill-wrapper
                span .b-r-info
            .helper-common-box
                .helper-box.b-t-dark.solid-border.fill-wrapper
                span .b-t-dark
            .helper-common-box
                .helper-box.b-b-dark.solid-border.fill-wrapper
                span .b-b-dark
            .helper-common-box
                .helper-box.b-l-dark.solid-border.fill-wrapper
                span .b-l-dark
            .helper-common-box
                .helper-box.b-r-dark.solid-border.fill-wrapper
                span .b-r-dark
            .helper-common-box
                .helper-box.b-t-light.solid-border.fill-wrapper
                span .b-t-light
            .helper-common-box
                .helper-box.b-b-light.solid-border.fill-wrapper
                span .b-b-light
            .helper-common-box
                .helper-box.b-l-light.solid-border.fill-wrapper
                span .b-l-light
            .helper-common-box
                .helper-box.b-r-light.solid-border.fill-wrapper
                span .b-r-light
