// Border color Card
.card 
    .card-header.pb-0
        +card-header('Border and Displays', '','','Use all direction', '.b-t-*/ .b-b-*/ .b-l-*/ .b-r-*', 'border components.')
    .card-body
        .row.g-3
            .col-xl-4.col-sm-6
                .border-wrapper.h-100
                    h5.mb-3 Additive border 
                    .helper-common-box
                        .helper-box.bg-light.solid-border
                        span .border
                    .helper-common-box
                        .helper-box.bg-light.border-top
                        span .border-top
                    .helper-common-box
                        .helper-box.bg-light.border-bottom
                        span .border-bottom
                    .helper-common-box
                        .helper-box.bg-light.border-start
                        span .border-start
                    .helper-common-box
                        .helper-box.bg-light.border-end
                        span .border-end
            .col-xl-4.col-sm-6
                .border-wrapper.h-100
                    h5.mb-3 Subtractive border
                    .helper-common-box
                        .helper-box.bg-light.solid-border.border-0  
                        span .border-0
                    .helper-common-box
                        .helper-box.bg-light.solid-border.border-top-0  
                        span .border-top-0
                    .helper-common-box
                        .helper-box.bg-light.solid-border.border-end-0  
                        span .border-end-0
                    .helper-common-box
                        .helper-box.bg-light.solid-border.border-bottom-0  
                        span .border-bottom-0
                    .helper-common-box
                        .helper-box.bg-light.solid-border.border-start-0  
                        span .border-start-0
            .col-xl-4.col-sm-12
                .border-wrapper.h-100
                    h5.mb-3 Additive radius
                    .helper-common-box
                        .helper-radius.radius-wrapper.rounded
                        span .rounded
                    .helper-common-box
                        .helper-radius.radius-wrapper.rounded-top
                        span .rounded-top
                    .helper-common-box
                        .helper-radius.radius-wrapper.rounded-end
                        span .rounded-end
                    .helper-common-box
                        .helper-radius.radius-wrapper.rounded-bottom
                        span .rounded-bottom
                    .helper-common-box
                        .helper-radius.radius-wrapper.rounded-start
                        span .rounded-start
                    .helper-common-box
                        .helper-radius.radius-wrapper.rounded-pill
                        span .rounded-pill
                    .helper-common-box
                        .helper-radius.radius-wrapper.rounded-circle
                        span .rounded-circle
                    .helper-common-box
                        .helper-radius.radius-wrapper.rounded-0
                        span .rounded-0 
