// Font-Style Card
.card 
    .card-header.pb-0
        +card-header('Font Style', '','','Use the font-style like:', '.f-s-*[normal/italic/oblique/initial/inherit]', '.')
    .card-body.height_equal
        p.f-s-normal
            | This is a 
            strong .f-s-normal
            |  font-style
        p.f-s-italic
            | This is a 
            strong .f-s-italic
            |  font-style
        p.f-s-oblique
            | This is a 
            strong .f-s-oblique
            |  font-style
        p.f-s-initial
            | This is a 
            strong .f-s-initial
            |  font-style
        p.f-s-inherit.mb-0
            | This is a 
            strong .f-s-inherit
            |  font-style
