// Font-Size Card
.card 
    .card-header.pb-0
        +card-header('Font Size', '','','Use the font-size for', '.f-* [14/16/18/20/22/24/26/28/30/32/34/36/38/40]', '.')
    .card-body
        .gradient-border
            .font-wrapper.solid-border
                .f-12 Font-size .f-12
            .font-wrapper.solid-border
                .f-14 Font-size .f-14
            .font-wrapper.solid-border
                .f-16 Font-size .f-16
            .font-wrapper.solid-border
                .f-18 Font-size .f-18
            .font-wrapper.solid-border
                .f-20 Font-size .f-20
            .font-wrapper.solid-border
                .f-22 Font-size .f-22
            .font-wrapper.solid-border
                .f-24 Font-size .f-24
            .font-wrapper.solid-border
                .f-26 Font-size .f-26
            .font-wrapper.solid-border
                .f-28 Font-size .f-28
            .font-wrapper.solid-border
                .f-30 Font-size .f-30
            .font-wrapper.solid-border
                .f-32 Font-size .f-32
            .font-wrapper.solid-border
                .f-34 Font-size .f-34
            .font-wrapper.solid-border
                .f-36 Font-size .f-36
            .font-wrapper.solid-border
                .f-38 Font-size .f-38
            .font-wrapper.solid-border
                .f-40 Font-size .f-40
