// Image Size Card
.card 
    .card-header.pb-0
        +card-header('Images Sizes', '','','Use the width and height of images class like:', '.img-* , .img-h-*', '.')
    .card-body
        .gradient-border.gap-3
            img.img-30.img-h-30(src='../assets/images/avatar/5.jpg' alt='img-size-30')
            img.img-40.img-h-40(src='../assets/images/avatar/5.jpg' alt='img-size-40')
            img.img-50.img-h-50(src='../assets/images/avatar/5.jpg' alt='img-size-50')
            img.img-60.img-h-60(src='../assets/images/avatar/5.jpg' alt='img-size-60')
            img.img-70.img-h-70(src='../assets/images/avatar/5.jpg' alt='img-size-70')
            img.img-80.img-h-80(src='../assets/images/avatar/5.jpg' alt='img-size-80')
            img.img-90.img-h-90(src='../assets/images/avatar/5.jpg' alt='img-size-90')
            img.img-100.img-h-100(src='../assets/images/avatar/5.jpg' alt='img-size-100')
