// Style-border Card
.card 
    .card-header.pb-0
        +card-header('Styles in Borders', '','','Use the different styles of borders like', 'border radius/border-color/border-width', 'Use of any components.')
    .card-body
        .row.g-3
            .col-lg-3.col-sm-6
                .border-wrapper.h-100.dark-helper
                    h5.mb-3 Border radius class
                    .helper-common-box
                        .helper-box.b-r-0.bg-light.solid-border
                        span .b-r-0
                    .helper-common-box
                        .helper-box.b-r-1.bg-light.solid-border
                        span .b-r-1
                    .helper-common-box
                        .helper-box.b-r-2.bg-light.solid-border
                        span .b-r-2
                    .helper-common-box
                        .helper-box.b-r-3.bg-light.solid-border
                        span .b-r-3
                    .helper-common-box
                        .helper-box.b-r-4.bg-light.solid-border
                        span .b-r-4
                    .helper-common-box
                        .helper-box.b-r-5.bg-light.solid-border
                        span .b-r-5
                    .helper-common-box
                        .helper-box.b-r-6.bg-light.solid-border
                        span .b-r-6
                    .helper-common-box
                        .helper-box.b-r-7.bg-light.solid-border
                        span .b-r-7
                    .helper-common-box
                        .helper-box.b-r-8.bg-light.solid-border
                        span .b-r-8
                    .helper-common-box
                        .helper-box.b-r-9.bg-light.solid-border
                        span .b-r-9
                    .helper-common-box
                        .helper-box.b-r-10.bg-light.solid-border
                        span .b-r-10
            .col-lg-3.col-sm-6
                .border-wrapper.h-100.dark-helper
                    h5.mb-3 Border color
                    .helper-common-box
                        .helper-box.border-primary
                        span .border-primary
                    .helper-common-box
                        .helper-box.border-secondary
                        span .border-secondary
                    .helper-common-box
                        .helper-box.border-tertiary
                        span .border-tertiary
                    .helper-common-box
                        .helper-box.border-success
                        span .border-success
                    .helper-common-box
                        .helper-box.border-danger
                        span .border-danger
                    .helper-common-box
                        .helper-box.border-warning
                        span .border-warning
                    .helper-common-box
                        .helper-box.border-info
                        span .border-info
                    .helper-common-box
                        .helper-box.border-dark
                        span .border-dark
            .col-lg-3.col-sm-6
                .border-wrapper.h-100.dark-helper
                    h5.mb-3 Border-width
                    .helper-common-box
                        .helper-box.b-w-1.solid-border
                        span .b-w-1
                    .helper-common-box
                        .helper-box.b-w-2.solid-border
                        span .b-w-2
                    .helper-common-box
                        .helper-box.b-w-3.solid-border
                        span .b-w-3
                    .helper-common-box
                        .helper-box.b-w-4.solid-border
                        span .b-w-4
                    .helper-common-box
                        .helper-box.b-w-5.solid-border
                        span .b-w-5
                    .helper-common-box
                        .helper-box.b-w-6.solid-border
                        span .b-w-6
                    .helper-common-box
                        .helper-box.b-w-7.solid-border
                        span .b-w-7
                    .helper-common-box
                        .helper-box.b-w-8.solid-border
                        span .b-w-8
                    .helper-common-box
                        .helper-box.b-w-9.solid-border
                        span .b-w-9
                    .helper-common-box
                        .helper-box.b-w-10.solid-border
                        span .b-w-10 
            .col-lg-3.col-sm-6
                .border-wrapper.h-100.dark-helper
                    h5.mb-3 Text colors
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-primary C 
                        span .font-primary
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-secondary C 
                        span .font-secondary
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-tertiary C 
                        span .font-tertiary
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-success C 
                        span .font-success
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-danger C 
                        span .font-danger
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-warning C 
                        span .font-warning
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-info C 
                        span .font-info
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-dark C 
                        span .font-dark
                    .helper-common-box
                        .helper-box.helper-text.solid-border.font-light.bg-dark C 
                        span .font-light