// Right Ribbons Start
.card
    .card-header.pb-0
      +card-header('Variations Of Right Ribbons', '','', 'Use the class of', ' .ribbon-* / [.ribbon-*] ', '[ribbon-right/ribbon-clip-right/ribbon-vertical-right/ribbon-bookmark/ribbon-clip-bottom-right/ribbon-vertical-right] through create ribbons and all ribbon colors are available.')
    .card-body
      .row.g-3
        .col-sm-6.col-xl-4
          .ribbon-wrapper.solid-border.border-1.h-100.bg-light-dark
            .ribbon.ribbon-dark.ribbon-right 50% OFF
            p
              | The 
              em.font-danger ribbon and tag
              |  frequently appear together because they have similar features that capture attention and make wonderful spaces for vital information.
        .col-sm-6.col-xl-4
          .ribbon-wrapper-right.solid-border.border-1.h-100.bg-light-primary
            .ribbon.ribbon-primary.ribbon-clip-right.ribbon-right SAVE 50%
            p
              | Since very early times, 
              em.font-danger ribbon designs
              |  have been a part of web design. There is a design for you in this collection, regardless of whether you use 
              em.font-danger CSS ribbons 
              |  to identify your items.
        .col-sm-6.col-xl-4
          .ribbon-wrapper.ribbon-vertical-right-wrapper.vertical-rp-space.solid-border.border-1.h-100.bg-light-secondary
            .ribbon.ribbon-secondary.ribbon-vertical-right.ribbon-bookmark
              +IconlySprite('Bag' , 'bag-icon')
            p
              | The entire ribbon and other components seem clean since they were created entirely with CSS. You may utilize the 
              em.font-danger ribbons
              |  as cards to deliver the material. 
        .col-sm-6.col-xl-4
          .ribbon-wrapper.solid-border.border-1.h-100.bg-light-warning
            .ribbon.ribbon-bookmark.ribbon-warning.ribbon-right SAVE 20%
            p
              | Edge 
              em.font-danger ribbon 
              | among the most often used 
              em.font-danger ribbon styles is CSS.
              |  This design's author provides you with a short piece of code that has room for several optional components and effects.
        .col-sm-6.col-xl-4
          .ribbon-wrapper-bottom.clip-bp-space.solid-border.border-1.h-100.bg-light-success
            .ribbon.ribbon-success.ribbon-clip-bottom-right Cashback 10%
            p
              |  Although the majority of the   
              em.font-danger ribbon components
              |  on this list have static, straightforward styles, we have also gathered dynamic ribbons.
        .col-sm-6.col-xl-4
          .ribbon-wrapper.ribbon-vertical-right-wrapper.vertical-rp-space.solid-border.border-1.h-100.bg-light-danger
            .ribbon.ribbon-danger.ribbon-vertical-right
              +IconlySprite('Star' , 'star-icon')
            p
              | The 
              em.font-danger ribbons
              |  have also been utilized by certain inventive developers in the menu and navigation choices. The possibilities are endless when it comes to creativity.
// Right Ribbons End              