.square-product-setting.d-inline-block
  a.icon-grid.grid-layout-view(href='#', data-original-title='', title='')
    +FeatherSprite('grid', 'feather') 
.square-product-setting.d-inline-block
  a.icon-grid.m-0.list-layout-view(href='#', data-original-title='', title='')
    +FeatherSprite('list', 'feather')
span.d-none-productlist.filter-toggle     
  | Filters
  span.ms-2
    +FeatherSprite('chevron-down', 'feather toggle-data')
.grid-options.d-inline-block
  ul
    li
      a.product-2-layout-view(href='#', data-original-title='', title='')
        span.line-grid.line-grid-1.bg-primary
        span.line-grid.line-grid-2.bg-primary
    li
      a.product-3-layout-view(href='#', data-original-title='', title='')
        span.line-grid.line-grid-3.bg-primary
        span.line-grid.line-grid-4.bg-primary
        span.line-grid.line-grid-5.bg-primary
    li
      a.product-4-layout-view(href='#', data-original-title='', title='')
        span.line-grid.line-grid-6.bg-primary
        span.line-grid.line-grid-7.bg-primary
        span.line-grid.line-grid-8.bg-primary
        span.line-grid.line-grid-9.bg-primary
    li
      a.product-6-layout-view(href='#', data-original-title='', title='')
        span.line-grid.line-grid-10.bg-primary
        span.line-grid.line-grid-11.bg-primary
        span.line-grid.line-grid-12.bg-primary
        span.line-grid.line-grid-13.bg-primary
        span.line-grid.line-grid-14.bg-primary
        span.line-grid.line-grid-15.bg-primary