.product-sidebar
  .filter-section
    .card
      .card-header
        h6.mb-0.f-w-600
          | Filters
          span.pull-right
            i.fa.fa-chevron-down.toggle-data
      .left-filter
        .card-body.filter-cards-view.animate-chk
          .product-filter
            h6.f-w-600 Category
            .checkbox-animated.mt-0
              label.d-block(for='edo-ani5')
                input#edo-ani5.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Man Shirt
              label.d-block(for='edo-ani6')
                input#edo-ani6.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Man Jeans
              label.d-block(for='edo-ani7')
                input#edo-ani7.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Woman Top
              label.d-block(for='edo-ani8')
                input#edo-ani8.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Woman Jeans
              label.d-block(for='edo-ani9')
                input#edo-ani9.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Man T-shirt
          .product-filter
            h6.f-w-600 Brand
            .checkbox-animated.mt-0
              label.d-block(for='chk-ani')
                input#chk-ani.checkbox-primary(type='checkbox', data-original-title='', title='')
                |  Levi's
              label.d-block(for='chk-ani1')
                input#chk-ani1.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Diesel
              label.d-block(for='chk-ani2')
                input#chk-ani2.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Lee
              label.d-block(for='chk-ani3')
                input#chk-ani3.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Hudson
              label.d-block(for='chk-ani4')
                input#chk-ani4.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Denizen
              label.d-block(for='chk-ani5')
                input#chk-ani5.checkbox-primary(type='checkbox', data-original-title='', title='')
                | Spykar
          .product-filter.slider-product
            h6.f-w-600 Colors
            .color-selector
              ul
                li.white
                li.gray
                li.black
                li.orange
                li.green
                li.pink
                li.yellow
                li.blue
                li.red
          .product-filter.pb-0
            h6.f-w-600 Price
            .slider-container
              input#slider6.slider(type='text')
            h6.f-w-600 New Products
          .product-filter.pb-0.product-page
            .swiper-container
              #testimonial.swiper-wrapper
                .swiper-slide
                  .product-box.row
                    .product-img.col-md-4
                      img.img-fluid.img-100(src='../assets/images/ecommerce/01.jpg', alt='', data-original-title='', title='')
                    .product-details.col-md-8.text-start
                      span
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning
                      p.mb-0 Woman T-shirt
                      .product-price $100.00
                  .product-box.row
                    .product-img.col-md-4
                      img.img-fluid.img-100(src='../assets/images/ecommerce/02.jpg', alt='', data-original-title='', title='')
                    .product-details.col-md-8.text-start
                      span
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning
                      p.mb-0 Beauty Fashion
                      .product-price $150.00
                  .product-box.row
                    .product-img.col-md-4
                      img.img-fluid.img-100(src='../assets/images/ecommerce/03.jpg', alt='', data-original-title='', title='')
                    .product-details.col-md-8.text-start
                      span
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning
                      p.mb-0 VOXATI
                      .product-price $200.00
                .swiper-slide
                  .product-box.row
                    .product-img.col-md-4
                      img.img-fluid.img-100(src='../assets/images/ecommerce/01.jpg', alt='', data-original-title='', title='')
                    .product-details.col-md-8.text-start
                      span
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning
                      p.mb-0 Fancy Shirt
                      .product-price $100.00
                  .product-box.row
                    .product-img.col-md-4
                      img.img-fluid.img-100(src='../assets/images/ecommerce/02.jpg', alt='', data-original-title='', title='')
                    .product-details.col-md-8.text-start
                      span
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning
                      p.mb-0 Fancy Shirt
                      .product-price $100.00
                  .product-box.row
                    .product-img.col-md-4
                      img.img-fluid.img-100(src='../assets/images/ecommerce/03.jpg', alt='', data-original-title='', title='')
                    .product-details.col-md-8.text-start
                      span
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning.me-1
                        i.fa.fa-star.font-warning
                      p.mb-0 Fancy Shirt
                      .product-price $100.00  
              .swiper-button-next
              .swiper-button-prev
          .product-filter.text-center
            img.img-fluid.banner-product(src='../assets/images/ecommerce/banner.jpg', alt='', data-original-title='', title='')