//-// Abstract Icon
-
    var THEMIFY_ITEM2 =[
        
        { id:'icon-wand' },
        { id:'icon-save' },
        { id:'icon-save-alt' },
        { id:'icon-direction' },
        { id:'icon-direction-alt' },
        { id:'icon-user' },
        { id:'icon-link' },
        { id:'icon-unlink' },
        { id:'icon-trash' },
        { id:'icon-target' },
        { id:'icon-tag' },
        { id:'icon-desktop' },
        { id:'icon-tablet' },
        { id:'icon-mobile' },
        { id:'icon-email' },
        { id:'icon-star' },
        { id:'icon-spray' },
        { id:'icon-signal' },
        { id:'icon-shopping-cart' },
        { id:'icon-shopping-cart-full' },
        { id:'icon-settings' },
        { id:'icon-search' },
        { id:'icon-zoom-in' },
        { id:'icon-zoom-out' },
        { id:'icon-cut' },
        { id:'icon-ruler' },
        { id:'icon-ruler-alt-2' },
        { id:'icon-ruler-pencil' },
        { id:'icon-ruler-alt' },
        { id:'icon-bookmark' },
        { id:'icon-bookmark-alt' },
        { id:'icon-reload' },
        { id:'icon-plus' },
        { id:'icon-minus' },
        { id:'icon-close' },
        { id:'icon-pin' },
        { id:'icon-pencil' },
        { id:'icon-pencil-alt' },
        { id:'icon-paint-roller' },
        { id:'icon-paint-bucket' },
        { id:'icon-' },
        { id:'icon-medall' },
        { id:'icon-medall-alt' },
        { id:'icon-marker' },
        { id:'icon-marker-alt' },
        { id:'icon-lock' },
        { id:'icon-unlock' },
        { id:'icon-location-arrow' },
        { id:'icon-layout' },
        { id:'icon-layers' },
        { id:'icon-layers-alt' },
        { id:'icon-key' },
        { id:'icon-image' },
        { id:'icon-heart' },
        { id:'icon-heart-broken' },
        { id:'icon-hand-stop' },
        { id:'icon-hand-open' },
        { id:'icon-hand-drag' },
        { id:'icon-flag' },
        { id:'icon-flag-alt' },
        { id:'icon-flag-alt-2' },
        { id:'icon-eye' },
        { id:'icon-import' },
        { id:'icon-export' },
        { id:'icon-cup' },
        { id:'icon-crown' },
        { id:'icon-comments' },
        { id:'icon-comment' },
        { id:'icon-comment-alt' },
        { id:'icon-thought' },
        { id:'icon-clip' },
        { id:'icon-check' },
        { id:'icon-check-box' },
        { id:'icon-camera' },
        { id:'icon-announcement' },
        { id:'icon-brush' },
        { id:'icon-brush-alt' },
        { id:'icon-palette' },
        { id:'icon-briefcase' },
        { id:'icon-bolt' },
        { id:'icon-bolt-alt' },
        { id:'icon-blackboard' },
        { id:'icon-bag' },
        { id:'icon-world' },
        { id:'icon-wheelchair' },
        { id:'icon-car' },
        { id:'icon-truck' },
        { id:'icon-timer' },
        { id:'icon-ticket' },
        { id:'icon-thumb-up' },
        { id:'icon-thumb-down' },
        { id:'icon-stats-up' },
        { id:'icon-stats-down' },
        { id:'icon-shine' },
        { id:'icon-shift-right' },
        { id:'icon-shift-left' },
        { id:'icon-shift-right-alt' },
        { id:'icon-shift-left-alt' },
        { id:'icon-shield' },
        { id:'icon-notepad' },
        { id:'icon-server' },
        { id:'icon-pulse' },
        { id:'icon-printer' },
        { id:'icon-power-off' },
        { id:'icon-plug' },
        { id:'icon-pie-chart' },
        { id:'icon-panel' },
        { id:'icon-package' },
        { id:'icon-music' },
        { id:'icon-music-alt' },
        { id:'icon-mouse' },
        { id:'icon-mouse-alt' },
        { id:'icon-money' },
        { id:'icon-microphone' },
        { id:'icon-menu' },
        { id:'icon-menu-alt' },
        { id:'icon-map' },
        { id:'icon-map-alt' },
        { id:'icon-location-pin' },
        { id:'icon-light-bulb' },
        { id:'icon-info' },
        { id:'icon-infinite' },
        { id:'icon-id-badge' },
        { id:'icon-hummer' },
        { id:'icon-home' },
        { id:'icon-help' },
        { id:'icon-headphone' },
        { id:'icon-harddrives' },
        { id:'icon-harddrive' },
        { id:'icon-gift' },
        { id:'icon-game' },
        { id:'icon-filter' },
        { id:'icon-files' },
        { id:'icon-file' },
        { id:'icon-zip' },
        { id:'icon-folder' },
        { id:'icon-envelope' },
        { id:'icon-dashboard' },
        { id:'icon-cloud' },
        { id:'icon-cloud-up' },
        { id:'icon-cloud-down' },
        { id:'icon-clipboard' },
        { id:'icon-calendar' },
        { id:'icon-book' },
        { id:'icon-bell' },
        { id:'icon-basketball' },
        { id:'icon-bar-chart' },
        { id:'icon-bar-chart-alt' },
        { id:'icon-archive' },
        { id:'icon-anchor' },
        { id:'icon-alert' },
        { id:'icon-alarm-clock' },
        { id:'icon-agenda' },
        { id:'icon-write' },
        { id:'icon-wallet' },
        { id:'icon-video-clapper' },
        { id:'icon-video-camera' },
        { id:'icon-vector' },
        { id:'icon-support' },
        { id:'icon-stamp' },
        { id:'icon-slice' },
        { id:'icon-shortcode' },
        { id:'icon-receipt' },
        { id:'icon-pin2' },
        { id:'icon-pin-alt' },
        { id:'icon-pencil-alt2' },
        { id:'icon-eraser' },
        { id:'icon-more' },
        { id:'icon-more-alt' },
        { id:'icon-microphone-alt' },
        { id:'icon-magnet' },
        { id:'icon-line-double' },
        { id:'icon-line-dotted' },
        { id:'icon-line-dashed' },
        { id:'icon-ink-pen' },
        { id:'icon-info-alt' },
        { id:'icon-help-alt' },
        { id:'icon-headphone-alt' },
        { id:'icon-gallery' },
        { id:'icon-face-smile' },
        { id:'icon-face-sad' },
        { id:'icon-credit-card' },
        { id:'icon-comments-smiley' },
        { id:'icon-time' },
        { id:'icon-share' },
        { id:'icon-share-alt' },
        { id:'icon-rocket' },
        { id:'icon-new-window' },
        { id:'icon-rss' },
        { id:'icon-rss-alt' }
        
    ]
//-// Themify mixin
mixin IcoContent(items)
    each item in items 
        .col-xxl-2.col-xl-3
            .card.d-flex.align-items-center.flex-column.default-border
                i.icofont(class=item.id)
                .flex-grow-1
                    h6=item.id
// Themify icon
.card
    .card-header.pb-0.d-flex.justify-content-between.align-items-center
        h4 Web App Icons
    .card-body
        .row.icon-event.iconly-icons.icon-lists
            +IcoContent(THEMIFY_ITEM2)