// default breadcrumb start

.card 
    .card-header.pb-0
        +card-header('Default Breadcrumb', '','', 'You can set breadcrumb using', ' .breadcrumb ', 'class.')
    .card-body
        nav.breadcrumb.mb-3
            a.breadcrumb-item(href="javascript:void(0)") Home
            span.breadcrumb-item.active Ui Kits
        nav.breadcrumb.m-0
            a.breadcrumb-item(href="javascript:void(0)") Home
            a.breadcrumb-item(href="javascript:void(0)") Ui Kits
            span.breadcrumb-item.active Alert 

// default breadcrumb Ends