// tour profile section
.card.hovercard.text-center
    .cardheader
    .user-image
        .avatar
            img(alt='', src='../assets/images/avatar/5.jpg', data-tg-tour='This is Edmin Profile 👋' data-tg-order="0")
        .icon-wrapper
            i.icofont.icofont-pencil-alt-5(data-tg-tour='Change Edmin profile image here' data-tg-order="1")
    .info
        .row.g-3(data-tg-tour='This is User profile details' data-tg-order="2")
            .col-sm-6.col-xl-4.order-sm-1.order-xl-0
                .row.g-3
                    .col-md-6
                        .text-start.tour-email
                            h5.tour-mb-space.f-w-500
                                i.fa.fa-envelope
                                |    Email
                            span William@jourrapide.com
                    .col-md-6
                        .text-start.ttl-sm-mb-0.tour-email
                            h5.tour-mb-space.f-w-500
                                i.fa.fa-calendar
                                |    BOD
                            span 02 January 1988
            .col-sm-12.col-xl-4.order-sm-0.order-xl-1
                .user-designation.tour-email
                    .title
                        a(target='_blank', href='') William C. Jennings
                    .desc.mt-2  Web Designer
            .col-sm-6.col-xl-4.order-sm-2.order-xl-2
                .row.g-3
                    .col-md-6.mt-0.mt-sm-3
                        .text-start.ttl-xs-mt.tour-email
                            h5.tour-mb-space.f-w-500
                                i.fa.fa-phone
                                |    Contact Us
                            span US 310-273-0666
                    .col-md-6
                        .text-start.ttl-sm-mb-0.tour-email
                            h5.tour-mb-space.f-w-500
                                i.fa.fa-location-arrow
                                |    Location
                            span 4377 Libby Street Beverly Hills
        hr
        .social-media(data-tg-tour='This is your social details' data-tg-order="3")
            ul.list-inline
                li.list-inline-item
                    a(href='https://www.facebook.com/' target="_blank")
                        i.fa-brands.fa-facebook-f
                li.list-inline-item
                    a(href='https://accounts.google.com/' target="_blank")
                        i.fa-brands.fa-google-plus-g
                li.list-inline-item
                    a(href='https://twitter.com/' target="_blank")
                        i.fa-brands.fa-twitter
                li.list-inline-item
                    a(href='https://www.instagram.com/' target="_blank")
                        i.fa-brands.fa-instagram
                li.list-inline-item
                    a(href='https://rss.app/' target="_blank")
                        i.fa.fa-rss
        .follow
            .row
                .col-6.border-end
                    .follow-num.counter 25.8K
                    span Follower
                .col-6
                    .follow-num.counter 65.2M
                    span Following