// Extra-Small Buttons Start
//-// Extra-Small Buttons Data
-
    var EXTRA_SMALL_BUTTONS =[
        {
            title: 'Primary Button',
            BtnColor: 'btn-primary',
            tooltip: 'btn btn-primary btn-xs',
        },
        {
            title: 'Secondary Button',
            BtnColor: 'btn-secondary',
            tooltip: 'btn btn-secondary btn-xs',
        },
        {
            title: 'Tertiary Button',
            BtnColor: 'btn-tertiary',
            tooltip: 'btn btn-tertiary btn-xs',
        },
        {
            title: 'Success Button',
            BtnColor: 'btn-success',
            tooltip: 'btn btn-success btn-xs',
        },
        {
            title: 'Info Button',
            BtnColor: 'btn-info',
            tooltip: 'btn btn-info btn-xs',
        },
        {
            title: 'Warning Button',
            BtnColor: 'btn-warning',
            tooltip: 'btn btn-warning btn-xs',
        },
        {
            title: 'Danger Button',
            BtnColor: 'btn-danger',
            tooltip: 'btn btn-danger btn-xs',
        },
        {
            title: 'Light Button',
            BtnColor: 'font-dark btn-light',
            tooltip: 'btn btn-light btn-xs',
        },
        {
            title: 'Dark Button',
            BtnColor: 'btn-dark',
            tooltip: 'btn btn-dark btn-xs',
        },
    ] 
//- Extra-Small Buttons Mixin   
mixin ExtraSmallButtons(items)
    each item in items
        .text-center.col-12.col-sm-6.col-md-12
            button.btn.m-1.btn-xs(type='button' data-bs-toggle='tooltip' class=item.BtnColor title=item.tooltip)=item.title
// Extra-Small Buttons Menu            
.btn-showcase.row
    +ExtraSmallButtons(EXTRA_SMALL_BUTTONS)
// Extra-Small Buttons End      