.card.total-project
    .card-header.border-dash-bottom
        h4 Total Project
        .card-icon
            h3.f-w-600 3051
    .card-body
        .row 
            .col-6.custom-width
                #customer-chart.customer-chart
            .col-6
                ul.project-details
                    li.d-flex.align-items-center.mt-3.justify-content-between
                        div.d-flex.align-items-center
                            .circle-dot-primary
                                span
                            p.ms-2.f-w-500 Completed Project
                        span.ms-1.f-w-500 321
                    li.d-flex.align-items-center.mt-3.justify-content-between
                        div.d-flex.align-items-center
                            .circle-dot-secondary
                                span
                            p.ms-2.f-w-500 Inprogress
                        span.ms-1.f-w-500 876
                    li.d-flex.align-items-center.mt-3.justify-content-between
                        div.d-flex.align-items-center
                            .circle-dot-tertiary
                                span
                            p.ms-2.f-w-500 Yet to Start
                        span.ms-1.f-w-500 645