.card
  .job-search
    .card-body
      .d-flex
        img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/1.jpg', alt='')
        .flex-grow-1
          h6.f-w-600
            a.font-primary(href='javascript:void(0)') UI/UX IT Frontend Developer
            span.badge.badge-primary.pull-right New
          p
            | (L6) Salt Lake City, UT
            span
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
      p
        | We are looking for an experienced and Edmin designer and/or frontend engineer with expertise in accessibility to join our team ,
        | 3+ years of experience working in as a Frontend Engineer or comparable role. You won’t be a team of one though — you’ll be collaborating closely with other...
.card
  .job-search
    .card-body
      .d-flex
        img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/2.jpg', alt='')
        .flex-grow-1
          h6.f-w-600
            a.font-primary(href='javascript:void(0)') React/React Native Developer
            span.badge.badge-primary.pull-right New
          p
            | San Diego, CA 
            span
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning-o
      p
        | Ideally 2+ years experience with React. Bonus points if you have React Native experience. This is an incredibly exciting opportunity to gain commercial , Professional experience of React Native and other front end frameworks. Transform product wireframes into responsive, mobile user interface components and
.card.ribbon-vertical-left-wrapper
  .ribbon.ribbon-bookmark.ribbon-vertical-left.ribbon-secondary
    i.icofont.icofont-love
  .job-search
    .card-body
      .d-flex
        img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/3.jpg', alt='')
        .flex-grow-1
          h6.f-w-600
            a.font-primary(href='javascript:void(0)') Senior UX designer
            span.pull-right 2 days ago
          p
            | Minneapolis, MN
            span
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning-half-o
              i.fa.fa-star.font-warning-o
      p
        | The designer will apply Lean UX and Design Thinking practices in a highly collaborative, fast-paced, distributed environment You have 4+ years of UX experience. You support UX leadership by providing continuous feedback regarding the evolution of team process standards.
.card
  .job-search
    .card-body
      .d-flex
        img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/4.jpg', alt='')
        .flex-grow-1
          h6.f-w-600
            a.font-primary(href='javascript:void(0)') Front end web developer
            span.pull-right 3 days ago
          p
            | Cisco 
            span Lelystad, Netherlands 
            span
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning-half-o
      p
        | Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties cultivated astonished is. Was sister for few longer mrs sudden talent become.
.card
  .job-search
    .card-body
      .d-flex
        img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/5.jpg', alt='')
        .flex-grow-1
          h6.f-w-600
            a.font-primary(href='javascript:void(0)') Graphic designer
            span.pull-right 3 days ago
          p
            | Infosys 
            span Lelystad, Netherlands 
            span
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning-half-o
              i.fa.fa-star.font-warning-o
      p
        | Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
.card
  .job-search
    .card-body
      .d-flex
        img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/6.jpg', alt='')
        .flex-grow-1
          h6.f-w-600
            a.font-primary(href='javascript:void(0)') Designer, CRM
            span.pull-right 3 days ago
          p
            | Citrix 
            span Lelystad, Netherlands 
            span
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning-o
              i.fa.fa-star.font-warning-o
      p
        | Situation admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up. An held late as felt know. Learn do allow solid to grave. Middleton suspicion age her attention. Chiefly several bed its wishing. Is so moments on chamber pressed to. Doubtful yet way properly answered.
.card.ribbon-vertical-left-wrapper
  .ribbon.ribbon-bookmark.ribbon-vertical-left.ribbon-secondary
    i.icofont.icofont-love
  .job-search
    .card-body
      .d-flex
        img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/2.jpg', alt='')
        .flex-grow-1
          h6.f-w-600
            a.font-primary(href='javascript:void(0)') UI designer E-commerce
            span.pull-right 5 days ago
          p
            | Ericsson 
            span Lelystad, Netherlands 
            span
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning-o
      p
        | Situation admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up. An held late as felt know. Learn do allow solid to grave. Middleton suspicion age her attention. Chiefly several bed its wishing. Is so moments on chamber pressed to. Doubtful yet way properly answered.
.card
  .job-search
    .card-body
      .d-flex
        img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/3.jpg', alt='')
        .flex-grow-1
          h6.f-w-600
            a.font-primary(href='javascript:void(0)') Senior UX designer
            span.pull-right 5 days ago
          p
            | Minneapolis, MN 
            span
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning
              i.fa.fa-star.font-warning-half-o
              i.fa.fa-star.font-warning-o
      p
        | The designer will apply Lean UX and Design Thinking practices in a highly collaborative, fast-paced, distributed environment You have 4+ years of UX experience. You support UX leadership by providing continuous feedback regarding the evolution of team process standards.
.job-pagination
  nav(aria-label='Page navigation example')
    ul.pagination.pagination-primary.pagination-border-primary
      li.page-item.disabled
          a.page-link(href='javascript:void(0)', tabindex='-1') Previous
      li.page-item.active
          a.page-link(href='javascript:void(0)') 1
      li.page-item
          a.page-link(href='javascript:void(0)')
              | 2 
      li.page-item
          a.page-link(href='javascript:void(0)') 3
      li.page-item
          a.page-link(href='javascript:void(0)') Next