.card
  .card-header
    h4.card-title.mb-0 Add projects And Upload
    .card-options
      a.card-options-collapse(href='#', data-bs-toggle='card-collapse')
        i.fe.fe-chevron-up
      a.card-options-remove(href='#', data-bs-toggle='card-remove')
        i.fe.fe-x
  .table-responsive.add-project
    table.table.card-table.table-vcenter.text-nowrap
      thead
        tr
          th Project Name
          th Date
          th Status
          th Price
          th
      tbody
        tr
          td
            a.text-inherit(href='#') Untrammelled prevents 
          td 28 May 2024
          td
            span.status-icon.bg-success
            |  Completed
          td $56,908
          td.text-end
            a.icon(href='javascript:void(0)')
            a.btn.btn-primary.btn-sm(href='javascript:void(0)')
              i.fa.fa-pencil
              |  Edit
            a.icon(href='javascript:void(0)')
            a.btn.btn-transparent.btn-sm(href='javascript:void(0)')
              i.fa.fa-link
              |  Update
            a.icon(href='javascript:void(0)')
            a.btn.btn-danger.btn-sm(href='javascript:void(0)')
              i.fa.fa-trash
              |  Delete
        tr
          td
            a.text-inherit(href='#') Untrammelled prevents
          td 12 June 2024
          td
            span.status-icon.bg-danger
            |  On going
          td $45,087
          td.text-end
            a.icon(href='javascript:void(0)')
            a.btn.btn-primary.btn-sm(href='javascript:void(0)')
              i.fa.fa-pencil
              |  Edit
            a.icon(href='javascript:void(0)')
            a.btn.btn-transparent.btn-sm(href='javascript:void(0)')
              i.fa.fa-link
              |  Update
            a.icon(href='javascript:void(0)')
            a.btn.btn-danger.btn-sm(href='javascript:void(0)')
              i.fa.fa-trash
              |  Delete
        tr
          td
            a.text-inherit(href='#') Untrammelled prevents
          td 12 July 2024
          td
            span.status-icon.bg-warning
            |  Pending
          td $60,123
          td.text-end
            a.icon(href='javascript:void(0)')
            a.btn.btn-primary.btn-sm(href='javascript:void(0)')
              i.fa.fa-pencil
              |  Edit
            a.icon(href='javascript:void(0)')
            a.btn.btn-transparent.btn-sm(href='javascript:void(0)')
              i.fa.fa-link
              |  Update
            a.icon(href='javascript:void(0)')
            a.btn.btn-danger.btn-sm(href='javascript:void(0)')
              i.fa.fa-trash
              |  Delete
        tr
          td
            a.text-inherit(href='#') Untrammelled prevents
          td 14 June 2024
          td
            span.status-icon.bg-warning
            |  Pending
          td $70,435
          td.text-end
            a.icon(href='javascript:void(0)')
            a.btn.btn-primary.btn-sm(href='javascript:void(0)')
              i.fa.fa-pencil
              |  Edit
            a.icon(href='javascript:void(0)')
            a.btn.btn-transparent.btn-sm(href='javascript:void(0)')
              i.fa.fa-link
              |  Update
            a.icon(href='javascript:void(0)')
            a.btn.btn-danger.btn-sm(href='javascript:void(0)')
              i.fa.fa-trash
              |  Delete
        tr
          td
            a.text-inherit(href='#') Untrammelled prevents
          td 25 June 2024
          td
            span.status-icon.bg-success
            |  Completed
          td $15,987
          td.text-end
            a.icon(href='javascript:void(0)')
            a.btn.btn-primary.btn-sm(href='javascript:void(0)')
              i.fa.fa-pencil
              |  Edit
            a.icon(href='javascript:void(0)')
            a.btn.btn-transparent.btn-sm(href='javascript:void(0)')
              i.fa.fa-link
              |  Update
            a.icon(href='javascript:void(0)')
            a.btn.btn-danger.btn-sm(href='javascript:void(0)')
              i.fa.fa-trash
              |  Delete