.card.card-absolute
    .card-header.bg-secondary
        h5.text-white Absolute Card
    .card-body
        .d-flex.list-behavior-1.align-items-center
            .flex-shrink-0
                img.tab-img.img-fluid(src="../assets/images/blog/img.png", alt="home") 
            .flex-grow-1
                p.mb-xl-0.mb-sm-4
                    | We provide end to end digital solutions, right from designing your website/application development: Domain, Web Hosting, Email Hosting Registration, Search Engine Optimization and other Internet Marketing, Renewal of Services timely and effectively.