.card
    .card-header.b-r-secondary
        +card-header('Border Right', '','', 'Use the class of', '.b-r-*', 'for left border.')
    .card-body
        p
            | Us Technology offers web & mobile development solutions for all industry verticals.Include a short form using fields that'll help your business understand who's contacting them. 
        form
            label.form-label(for='exampleFormControlInput1') Email address
            input#exampleFormControlInput1.form-control(type='email' placeholder='youremail@gmail.com')