.card
    .card-header.b-l-primary.b-w-3
        +card-header('border primary state', '','', 'Use the class of', 'b-l-*, .border-3', 'is used to increase the width of the border.')
    .card-body
        .list-group
            a.list-group-item.list-group-item-action.active(href='javascript:void(0)')
                img.rounded-circle(src='../assets/images/avatar/1.jpg', alt='user')
                | Teresa J. Mosteller
            a.list-group-item.list-group-item-action(href='javascript:void(0)')
                img.rounded-circle(src='../assets/images/avatar/3.jpg', alt='user')
                | Gloria D. Acheson
            a.list-group-item.list-group-item-action(href='javascript:void(0)')
                img.rounded-circle(src='../assets/images/avatar/5.jpg', alt='user')
                | Bryan A. Owens