.card
    .card-header.b-w-3.b-t-warning
        +card-header('border warning state', '','', 'Use the class of', '.b-t-*,.border-3', 'is used to increase the width of the border.')
    .card-body
        ol.list-group.list-group-numbered
            li.list-group-item.font-primary.fw-bold Known for delivery of useful and usable solutions
            li.list-group-item.font-danger.fw-bold Solve your problem with us
            li.list-group-item.font-success.fw-bold Certified Professionals
            li.list-group-item.font-warning.fw-bold Growth-Driven 