.card
    .card-header.b-r-success.b-w-3
        +card-header('border success state', '','', 'Use the class of', '.b-r-*,.border-3', 'is used to increase the width of the border.')
    .card-body.scroll-demo
        ol.list-group.list-group-numbered.scroll-rtl
            li.list-group-item.d-flex.align-items-start.flex-wrap
                .ms-2.me-auto
                    | Stella Nowland
                span.badge.bg-warning.rounded-pill.p-2 Freelance
            li.list-group-item.d-flex.align-items-start.flex-wrap
                .ms-2.me-auto
                    | Lola Stanford
                span.badge.bg-danger.text-white.rounded-pill.p-2 Issue
            li.list-group-item.d-flex.align-items-start.flex-wrap
                .ms-2.me-auto
                    | Caitlin Coungeau
                span.badge.bg-primary.text-white.rounded-pill.p-2 Social
            li.list-group-item.d-flex.align-items-start.flex-wrap
                .ms-2.me-auto
                    | Graciela McClaran
                span.badge.bg-danger.text-white.rounded-pill.p-2 Issue