.card
    .card-header.b-b-info
        +card-header('Border bottom', '','', 'Use the class of', '.b-b-*', 'for left border.')
    .card-body
        p.mb-0
            | A navigation bar is a particularly important feature because it allows visitors to quickly and easily find
            em.font-danger  important pages on your website
            |  , like your blog, product pages, pricing, contact info, and documentation. This improves the chances of visitors browsing your site longer, which can boost your page views and reduce your bounce rate.