.card.card-absolute
    .card-header.bg-tertiary
        h5.text-white Color State
    .card-body
        .d-flex.list-behavior-1.align-items-center
            .flex-shrink-0 
                img.tab-img.img-fluid(src="../assets/images/blog/blog.jpg", alt="home")
            .flex-grow-1
                p.mb-xl-0.mb-sm-4
                    | When someone visits your homepage, your design should inspire them to stay. Therefore, your value proposition should be established on the homepage for visitors to select to stay on your website.Building trust, expressing value,to the next step all depend on a page's design.