// Nested accordion
.card
    .card-header.pb-0
        +card-header('Nested accordion', 'dote','','You can give', '.accordion,.nestings',' inside the parent Accordion content property by using id #nestedaccordion of nested element.')
    .card-body.nestings
        #accordionstyle.accordion
            .accordion-item
                h2#heading_1.accordion-header
                    button.accordion-button.collapsed.accordion-light-info.active(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOnestyle' aria-expanded='false' aria-controls='collapseOne')
                        | Knowledgebase featured tutorial detail.
                #collapseOnestyle.accordion-collapse.collapse.show(aria-labelledby='heading_1' data-bs-parent='#accordionstyle' style='')
                    .accordion-body
                        .d-flex
                            #nestedaccordion.nested-accordion.w-50
                                .accordion-item
                                    h2.accordion-header
                                        button.accordion-button.collapsed.accordion-light-tertiary.active(type='button' data-bs-toggle='collapse' data-bs-target='#nestedcollapseOne' aria-expanded='false' aria-controls='collapseOne')
                                            | Web Development
                                    #nestedcollapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#nestedaccordion' style='')
                                        .accordion-body
                                            p.mb-0
                                                | This course is designed to start you on a path toward future studies in web development and design.
                            #nestedaccordion_1.nested-accordion.w-50
                                .accordion-item
                                    h2.accordion-header
                                        button.accordion-button.collapsed.accordion-light-tertiary.active(type='button' data-bs-toggle='collapse' data-bs-target='#nestedcollapseTwo' aria-expanded='false' aria-controls='collapseOne')
                                            | UI/UX designer
                                    #nestedcollapseTwo.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#nestedaccordion_1' style='')
                                        .accordion-body
                                            p.mb-0
                                                | The capacity to comprehend and experience other people's feelings is known as empathy. A positive consumer experience is priority by UX.
            .accordion-item
                h2#heading_2.accordion-header
                    button.accordion-button.accordion-light-info.active.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwostyle' aria-expanded='false' aria-controls='collapseTwo')
                        | What is the use of web design ?
                #collapseTwostyle.accordion-collapse.collapse(aria-labelledby='heading_2' data-bs-parent='#accordionstyle' style='')
                    .accordion-body
                        .d-flex
                            #nestedaccordion_2.nested-accordion
                                .card-body.collapse-accordion.p-0
                                    p.mb-2
                                        button.btn.btn-outline-tertiary(type='button' data-bs-toggle='collapse' data-bs-target='#buttoncollapse' aria-expanded='false' aria-controls='collapseExample')
                                            | Nested Button Collapse
                                    #buttoncollapse.collapse
                                        .card.card-body.default-border.mb-0
                                            | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            .accordion-item
                h2#heading_3.accordion-header
                    button.accordion-button.collapsed.accordion-light-info.active(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThreestyle' aria-expanded='false' aria-controls='collapseThree')
                        | What are the elements of web design ?
                #collapseThreestyle.accordion-collapse.collapse(aria-labelledby='heading_3' data-bs-parent='#accordionstyle')
                    .accordion-body
                        p.mb-0
                            | The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:
        .code-box-copy
            button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#tooltip', title='Copy')
              i.icofont.icofont-copy
            pre
              code.language-html#nested-according
                | &lt;div class="accordion" id="accordionstyle"&gt;
                | &lt;div class="accordion-item"&gt;
                | &lt;h2 class="accordion-header" id="heading_1"&gt;
                | &lt;button class="accordion-button accordion-light-info active collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnestyle" aria-expanded="false" aria-controls="collapseOne"&gt;Knowledgebase featured tutorial detail.&lt;/button&gt;
                | &lt;/h2&gt;
                | &lt;div class="accordion-collapse collapse" id="collapseOnestyle" aria-labelledby="heading_1" data-bs-parent="#accordionstyle" style=""&gt;
                | &lt;div class="accordion-body"&gt;
                | &lt;div class="d-flex"&gt;
                | &lt;div class="nested-accordion w-50" id="nestedaccordion"&gt;
                | &lt;div class="accordion-item"&gt;
                | &lt;h2 class="accordion-header"&gt;
                | &lt;button class="accordion-button collapsed accordion-light-tertiary active" type="button" data-bs-toggle="collapse" data-bs-target="#nestedcollapseOne" aria-expanded="false" aria-controls="collapseOne"&gt;Web Development&lt;/button&gt;
                | &lt;/h2&gt;
                | &lt;div class="accordion-collapse collapse" id="nestedcollapseOne" aria-labelledby="headingOne" data-bs-parent="#nestedaccordion"&gt;
                | &lt;div class="accordion-body"&gt;
                | &lt;p class="mb-0"&gt;This course is designed to start you on a path toward future studies in web development and design.| &lt;/p&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;div class="nested-accordion w-50" id="nestedaccordion_1"&gt;
                | &lt;div class="accordion-item"&gt;
                | &lt;h2 class="accordion-header"&gt;
                | &lt;button class="accordion-button collapsed accordion-light-tertiary active" type="button" data-bs-toggle="collapse" data-bs-target="#nestedcollapseTwo" aria-expanded="false" aria-controls="collapseOne"&gt;UI/UX designer&lt;/button&gt;
                | &lt;/h2&gt;
                | &lt;div class="accordion-collapse collapse" id="nestedcollapseTwo" aria-labelledby="headingOne" data-bs-parent="#nestedaccordion_1"&gt;
                | &lt;div class="accordion-body"&gt;
                | &lt;p class="mb-0"&gt;The capacity to comprehend and experience other people's feelings is known as empathy. A positive consumer experience is priority by UX.| &lt;/p&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;div class="accordion-item"&gt;
                | &lt;h2 class="accordion-header" id="heading_2"&gt;
                | &lt;button class="accordion-button accordion-light-info active collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwostyle" aria-expanded="false" aria-controls="collapseTwo"&gt;What is the use of web design ?&lt;/button&gt;
                | &lt;/h2&gt;
                | &lt;div class="accordion-collapse collapse" id="collapseTwostyle" aria-labelledby="heading_2" data-bs-parent="#accordionstyle" style=""&gt;
                | &lt;div class="accordion-body"&gt;
                | &lt;div class="d-flex"&gt;
                | &lt;div class="nested-accordion" id="nestedaccordion_2"&gt;
                | &lt;div class="card-body collapse-accordion p-0"&gt;
                | &lt;p class="mb-2"&gt;
                | &lt;button class="btn btn-outline-tertiary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#buttoncollapse" aria-expanded="false" aria-controls="collapseExample"&gt;Nested Button Collapse&lt;/button&gt;
                |&lt;/p&gt;
                |&lt;div class="collapse" id="buttoncollapse"&gt;
                | &lt;div class="card card-body default-border mb-0"&gt;Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.| &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;div class="accordion-item"&gt;
                | &lt;h2 class="accordion-header" id="heading_3"&gt;
                | &lt;button class="accordion-button accordion-light-info active" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreestyle" aria-expanded="true" aria-controls="collapseThree"&gt;What are the elements of web design ?&lt;/button&gt;
                | &lt;/h2&gt;
                | &lt;div class="accordion-collapse collapse show" id="collapseThreestyle" aria-labelledby="heading_3" data-bs-parent="#accordionstyle" style=""&gt;
                | &lt;div class="accordion-body"&gt;
                | &lt;p class="mb-0"&gt;The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:| &lt;/p&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;
                | &lt;/div&gt;