.card
  .card-body
    // side-bar colleps block stat
    .filter-block
      h4 Brand
      ul
        li Clothing
        li Bags
        li Footwear
        li Watches
        li ACCESSORIES
.card
  .card-body
    .collection-filter-block
      ul.pro-services
        li
          .d-flex
            +FeatherSprite('truck', 'feather')
            .flex-grow-1
              h5 Free Shipping                                    
              p Free Shipping World Wide
        li
          .d-flex
            +FeatherSprite('clock', 'feather') 
            .flex-grow-1
              h5 24 X 7 Service                                    
              p Online Service For New Customer
        li
          .d-flex
            +FeatherSprite('gift', 'feather') 
            .flex-grow-1
              h5 Festival Offer                                 
              p New Online Special Festival
        li
          .d-flex
            +FeatherSprite('credit-card', 'feather') 
            .flex-grow-1
              h5 Online Payment                                  
              p Contrary To Popular Belief. 