.card
  .card-body
    .product-page-details
      h3.f-28.f-w-600 Women Pink shirt.
    .product-price
      | $26.00  
      del $350.00 
    ul.product-color
      li.bg-primary
      li.bg-secondary
      li.bg-success
      li.bg-info
      li.bg-warning  
    hr
    p
      | Rock Paper Scissors Various Dots Half Sleeves Girl’s Regular Fit T-Shirt I 100% Cotton T Shirt with Half Sleeve Round Neck I Regular Wear Solid Kids Tees and Black Sleeve.
    hr
    div
      table.product-page-width.table-borderless
        tbody
          tr
            td 
              b Brand &nbsp;&nbsp;&nbsp;:
            td Pixelstrap
          tr
            td 
              b Availability &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;
            td.font-success In stock
          tr
            td 
              b Seller &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;
            td ABC
          tr
            td 
              b Fabric &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;
            td Cotton
    hr
    .row
      .col-md-4
        h6.product-title share it
      .col-md-8
        .product-icon
          ul.product-social
            li.d-inline-block
              a(href='https://www.facebook.com/' target="_blank")
                i.fa-brands.fa-facebook-f
            li.d-inline-block
              a(href='https://accounts.google.com/' target="_blank")
                i.fa-brands.fa-google-plus-g
            li.d-inline-block
              a(href='https://twitter.com/' target="_blank")
                i.fa-brands.fa-twitter
            li.d-inline-block
              a(href='https://www.instagram.com/' target="_blank")
                i.fa-brands.fa-instagram
            li.d-inline-block
              a(href='https://rss.app/' target="_blank")
                i.fa.fa-rss
          form.d-inline-block.f-right
    hr
    .row
      .col-md-4
        h6.product-title Rate Now
      .col-md-8
        .d-flex
          .rating
            span.rating-value
            i.rating-star.fa-solid.fa-star
            i.rating-star.fa-solid.fa-star
            i.rating-star.fa-solid.fa-star
            i.rating-star.fa-regular.fa-star
            i.rating-star.fa-regular.fa-star
          span (250 review)
    hr
    .m-t-15.btn-showcase
      a.btn.btn-primary(href="cart.html", title='') 
        i.fa.fa-shopping-basket.me-1
        | Add To Cart
      a.btn.btn-success(href="checkout.html", title='') 
        i.fa.fa-shopping-cart.me-1
        | Buy Now
      a.btn.btn-secondary(href="list-wish.html") 
        i.fa.fa-heart.me-1
        | Add To WishList