.card
  .row.product-page-main.m-2
    .col-sm-12
      ul#top-tab.nav.nav-tabs.border-tab.nav-primary.mb-0(role='tablist')
        li.nav-item
          a#top-home-tab.nav-link.active(data-bs-toggle='tab', href='#top-home', role='tab', aria-controls='top-home', aria-selected='false')
            | Febric
          .material-border
        li.nav-item
          a#profile-top-tab.nav-link(data-bs-toggle='tab', href='#top-profile', role='tab', aria-controls='top-profile', aria-selected='false') Video
          .material-border
        li.nav-item
          a#contact-top-tab.nav-link(data-bs-toggle='tab', href='#top-contact', role='tab', aria-controls='top-contact', aria-selected='true')
            | Details
          .material-border
        li.nav-item
          a#brand-top-tab.nav-link(data-bs-toggle='tab', href='#top-brand', role='tab', aria-controls='top-brand', aria-selected='true')
            | Brand
          .material-border
      #top-tabContent.tab-content
        #top-home.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='top-home-tab')
          p.mb-0.m-t-20
            | Refresh your wardrobe with this chic top. With an eye-catching square neck, this top also features pretty puff sleeves. Stunning pink colour Classic solid pattern Square neck Elasticated puff sleeves Belt included, Polyester fabric, machine wash..&quot;
          p.mb-0.m-t-20
            | Tee Stores is an Indian contemporary clothing brand. The product pages display a fine quality fabric with colorful description. We offer many vivid designs, art, styles that &quot;combine heritage with modernity, simplicity, playfulness and street style&quot;.&quot;
        #top-profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-top-tab')
          p.mb-0.m-t-20
            iframe.me-3(width='200', height='100', src='https://www.youtube.com/embed/CJnfAXlBRTE')
        #top-contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-top-tab')
          p.mb-0.m-t-20
            | Rock Paper Scissors Various Dots Half Sleeves Girl’s Regular Fit T-Shirt I 100% Cotton T Shirt with Half Sleeve Round Neck I Regular Wear Solid Kids Tees and Black Sleeve.
        #top-brand.tab-pane.fade(role='tabpanel', aria-labelledby='brand-top-tab')
          p.mb-0.m-t-20
            | Product Dimensions : 18 x 18 x 4 cm
            br
            | Date First Available : 31 March 2022
            br
            | Manufacturer : Tee Stores
            br
            | Item part number : TS-WT721-XS-WHITE
