.card
  .card-body.pb-0
    #sync1.product-slider.swiper-container.slider2
      .swiper-wrapper
        .swiper-slide
          img(src='../assets/images/ecommerce/01.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/02.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/03.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/04.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/05.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/06.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/07.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/08.jpg', alt='')
    #sync2.swiper-container.slider-thumbnail
      .swiper-wrapper
        .swiper-slide
          img(src='../assets/images/ecommerce/01.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/02.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/03.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/04.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/05.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/06.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/07.jpg', alt='')
        .swiper-slide
          img(src='../assets/images/ecommerce/08.jpg', alt='')