.card
    .card-body
        .product-info
            h4 Description
            form
                .product-group
                    .row 
                        .col-sm-12
                            .mb-3
                                label.form-label Product Name
                                input.form-control(placeholder="Enter Product Name" type="text")
                                span.text-danger
                    .row 
                        .col-sm-12
                            .mb-3
                                label.form-label Product Description
                                input.form-control(placeholder="Enter Product Description" type="text")
                                span.text-danger
            h4.mt-4 Categories
            form
                .product-group
                    .row    
                        .col-sm-12   
                            .mb-3
                                label.form-label Product Category
                                select.form-select 
                                    option Select..
                                    option Man's Shirt
                                    option Man's Jeans
                                    option Women T-shirt
                                    option Women Skirt
                    .row    
                        .col-sm-6    
                            .mb-3
                                label.form-label Brand Icons
                                select.form-select 
                                    option Select..
                                    option Levi's
                                    option Hudson
                                    option Denizen
                                    option Spykar
                        .col-sm-6 
                            .mb-3
                                label.form-label Color
                                select.form-select 
                                    option Select..
                                    option Black
                                    option Red
                                    option Blue
                                    option White
                    .row    
                        .col-sm-12    
                            .mb-3
                                label.form-label Quality
                                select.form-select 
                                    option Brand New
                                    option Second Hand
                                    option Both Quality