-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var dropzone = true;
-var choice = true;
-var add_post = true;
-var quill_editor = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Blog','Add Post'],'Add Post')
            // Container-fluid starts
            .container-fluid
              .row 
                .col-sm-12
                  include ../../components/Blog/add-post/post-edit
            // Container-fluid ends
          include ../../components/footer
    include ../../components/footer-files