-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var alert                  = true;
-var height_equal           = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Ui Kits','Alert'],'Alert')
            // Container-fluid starts
            .container-fluid
                .row 
                  .col-xl-12
                    include ../../components/Ui-kits/alert/color-alert
                  .col-xl-12
                    include ../../components/Ui-kits/alert/light-alert
                  .col-xl-6
                    include ../../components/Ui-kits/alert/outline-alert
                  .col-xl-6
                    include ../../components/Ui-kits/alert/action-alert
                  .col-lg-6
                    include ../../components/Ui-kits/alert/live-alert
                  .col-lg-6
                    include ../../components/Ui-kits/alert/border-direction-alert
                  .col-xl-12
                    include ../../components/Ui-kits/alert/additional-content
            // Container-fluid ends
          include ../../components/footer
    include ../../components/footer-files