-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Bonus Ui','Breadcrumb'],'Breadcrumb')
            // Container-fluid starts
            .container-fluid
                .row
                    .col-sm-6
                      include ../../components/Bonus-ui/breadcrumb/default-breadcrumb
                    .col-sm-6
                      include ../../components/Bonus-ui/breadcrumb/divider-breadcrumb
                    .col-sm-6
                      include ../../components/Bonus-ui/breadcrumb/icons-breadcrumb
                    .col-sm-6
                      include ../../components/Bonus-ui/breadcrumb/variation-breadcrumb
                    .col-sm-6
                      include ../../components/Bonus-ui/breadcrumb/colored-breadcrumb
                    .col-sm-6
                      include ../../components/Bonus-ui/breadcrumb/outline-breadcrumb
            // Container-fluid Ends            
          include ../../components/footer
    include ../../components/footer-files