-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var select2                = true;
-var page_select2           = true;
-var sweetalert2            = true;
-var notify_bootstrap       = true;
-var contact_page           = true;
-var print                  = true;
-var md_sidebar             = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header/header
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            +breadcrumb(['Apps','Contacts'],'Contacts')
          // Container-fluid starts
          .container-fluid.email-wrap.bookmark-wrap.contact
            .row 
              .col-xl-3.box-col-6
                include ../../components/apps/contacts/contact-left-sidebar
              .col-xl-9.col-md-12.box-col-12
                include ../../components/apps/contacts/contact-right-sidebar
          // Container-fluid ends
        include ../../components/footer
    include ../../components/footer-files