-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var height_equal           = true;
-var draggable_page         = true;

include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Bonus Ui','Dragabble Card'],'Dragabble Card')
                     .container-fluid.default-dashboard
              .row#dragable 
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/default-list
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/active-list
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/flush-list
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/checkbox-list
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/radio-list
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/number-list
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/badge-number-list
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/disable-list
                .col-lg-4.col-md-6
                  include ../../components/Ui-kits/lists/scrollable-list
            // Container-Fluid Ends
          include ../../components/footer
    include ../../components/footer-files