-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var filepond       = true;
-var dropzone       = true;

include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Bonus Ui','Dropzone'],'Dropzone')
            // Container-fluid starts
            .container-fluid
              .row 
                .col-lg-6
                  include ../../components/Bonus-ui/dropzone/default-dropzone
                .col-lg-6 
                  include ../../components/Bonus-ui/dropzone/image-dropzone
                .col-lg-6 
                  include ../../components/Bonus-ui/dropzone/single-filezone
                .col-lg-6 
                  include ../../components/Bonus-ui/dropzone/multi-dropzone
            // Container-fluid ends
          include ../../components/footer
    include ../../components/footer-files