include ../../components/mixin
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/tap-top
        // page-wrapper Start
        main#pageWrapper.page-wrapper.compact-wrapper
          // error-400 start
          .error-wrapper
            .container
              .svg-wrraper               
                include ../../components/errorpages/error-page2
              .col-md-8.offset-md-2
                h3 Oops! This Page is Not Found.
                p.sub-content
                  | The page you are attempting to reach is currently not available. This may be because the page does not exist or has been moved.
                a.btn.btn-primary(href='index.html') BACK TO HOME PAGE
          // error-400 end
        include ../../components/footer-files