-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var height_equal           = true;
-var swiper                 = true;
-var product_swiper         = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['ECommerce','Product Page'],'Product Page')
            // Container-fluid starts
            .container-fluid
              .row.product-page-main.p-0
                .box-col-6.col-md-6.col-xxl-4
                  include ../../components/Ecommerce/product-page/slider-product
                .box-col-6.order-xxl-0.order-1.col-xxl-5
                  include ../../components/Ecommerce/product-page/detail-product
                .box-col-12.col-md-6.col-xxl-3
                  include ../../components/Ecommerce/product-page/brand-detail
                .col-sm-12
                  include ../../components/Ecommerce/product-page/nav-product
            // Container-fluid ends
          include ../../components/footer
    include ../../components/footer-files