-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var sweetalert = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Bonus Ui','Sweet Alert'],'Sweet Alert')
            // Container-fluid starts
            .container-fluid
              .row 
                .col-xl-6
                  include ../../components/Bonus-ui/sweetalert/basic-sweetalert
                .col-xl-6
                  include ../../components/Bonus-ui/sweetalert/advance-sweetalert
                .col-xl-6
                  include ../../components/Bonus-ui/sweetalert/unique-sweetalert
                .col-xl-6
                  include ../../components/Bonus-ui/sweetalert/direction-sweetalert
                .col-xl-12
                  include ../../components/Bonus-ui/sweetalert/input-sweetalert
                .col-xl-3
                  include ../../components/Bonus-ui/sweetalert/github-avatar
                .col-xl-3
                  include ../../components/Bonus-ui/sweetalert/RTL-alert
                .col-xl-3
                  include ../../components/Bonus-ui/sweetalert/message-timer
                .col-xl-3
                  include ../../components/Bonus-ui/sweetalert/modal-image-alert
            // Container-fluid ends
          include ../../components/footer
    include ../../components/footer-files