-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var height_equal = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Form Widgets','Switch'],'Switch')
            // Container-fluid starts
            .container-fluid
              .row 
                  .col-md-12
                    include ../../components/forms/switch/custom_switch  
                  .col-xl-4.col-sm-6
                    include ../../components/forms/switch/icons_switch 
                  .col-xl-4.col-sm-6
                    include ../../components/forms/switch/unchecked_switch 
                  .col-xl-4
                    include ../../components/forms/switch/borders_with_icons
                  .col-md-6
                    include ../../components/forms/switch/disabled_outline
                  .col-md-6
                    include ../../components/forms/switch/variation_switches
                  .col-md-12
                    include ../../components/forms/switch/switch_sizing
                  .col-md-12
                    include ../../components/forms/switch/sizing_with_icon
            // Container-fluid starts
          include ../../components/footer
    include ../../components/footer-files