-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var todo                   = true;
-var md_sidebar             = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Apps','To-Do'],'To-Do')
            // Container-fluid starts
            .container-fluid.email-wrap.bookmark-wrap.todo-wrap
              .row
                .col-xl-3.xl-30.box-col-12
                  include ../../components/apps/to-do/left-sidebar
                .col-xl-9.xl-70.box-col-12
                  include ../../components/apps/to-do/right-sidebar
            // Container-fluid ends
          include ../../components/footer
    include ../../components/footer-files