-var sidebar                = true;
-var theme_customizer       = true;
-var scrollbar              = true;
-var height_equal = true;
include ../../components/mixin
doctype html
html(lang='en') 
  include ../../components/header-files
  body
    include ../../components/tap-top
    include ../../components/loader
    main#pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        .page-body-wrapper
          include ../../components/sidebar
          .page-body
            .container-fluid
              +breadcrumb(['Form Widgets','Touchspin'],'Touchspin')
            // Container-fluid starts
            .container-fluid
              .row 
                  .col-xl-6
                    include ../../components/forms/touchspin/default_touchspin
                  .col-xl-6 
                    include ../../components/forms/touchspin/outlined_touchspin
                  .col-xl-6 
                    include ../../components/forms/touchspin/icons_prefix_touchspin
                  .col-xl-6 
                    include ../../components/forms/touchspin/buttons_prefix_touchspin
                  .col-xl-12
                    include ../../components/forms/touchspin/rounded_touchspin
            // Container-fluid starts
          include ../../components/footer
    include ../../components/footer-files