// Basic Sweetalert
.card
    .card-header.pb-0
        h4 Advance Sweetalert
    .card-body 
        .common-flex
            button.btn.btn-warning.sweet-12(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-12']);") Questions state
            button.btn.btn-secondary.sweet-13(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-13']);") Toast Alert