// Basic Sweetalert
.card
    .card-header.pb-0
        h4 Direction Sweetalert
    .card-body 
        .common-flex
            button.btn.btn-info.sweet-17(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-17']);") Top Left
            button.btn.btn-primary.sweet-16(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-16']);") Top Right
            button.btn.btn-secondary.sweet-18(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-18']);") Bottom Left
            button.btn.btn-tertiary.sweet-19(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-19']);") Bottom Right