// Github Avatar
.card
    .card-header.pb-0
        h4 Github Avatar
    .card-body 
        .common-flex
            button.btn.btn-primary.sweet-11(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-11']);") Ajax alert
