// input-sweetalert
.card
    .card-header.pb-0
        h4 Input sweetalert
    .card-body 
        .common-flex
            button.btn.btn-success.sweet-22(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-22']);") Text Input
            button.btn.btn-tertiary.sweet-8(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-8']);") Login Email
            button.btn.btn-info.sweet-23(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-23']);") URL
            button.btn.btn-danger.sweet-24(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-24']);") Password
            button.btn.btn-warning.sweet-25(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-25']);") Textarea
            button.btn.btn-primary.sweet-26(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-26']);") Select Input
            button.btn.btn-secondary.sweet-27(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-27']);") Radio Input
            button.btn.btn-dark.sweet-28(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-28']);") Checkbox Input
            button.btn.font-dark.bg-light.sweet-29(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-29']);") Range