// Message Timer
.card
    .card-header.pb-0
        h4 Message Timer
    .card-body 
        .common-flex
            button.btn.btn-tertiary.sweet-20(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-20']);") Message Timer