// Modal with Images
.card
    .card-header.pb-0
        h4 Modal with Images
    .card-body 
        .common-flex
            button.btn.btn-info.sweet-21(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-21']);") Modal with Images