// RTL Support
.card
    .card-header.pb-0
        h4 RTL Support
    .card-body 
        .common-flex
            button.btn.btn-secondary.sweet-15(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-1']);") RTL Alert