// Unique Sweetalert
.card
    .card-header.pb-0
        h4 Unique Sweetalert
    .card-body 
        .common-flex
            button.btn.btn-danger.sweet-7(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-7']);") Danger mode
            button.btn.btn-warning.sweet-6(type='button', onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-6']);") Animation Alert
            button.btn.btn-primary.sweet-14(type='button', onclick="_gaq.push(['_trackEvent', 'sweet-14']);") Timer