.card 
    .card-header.pb-0
        +card-header('Fixed Cropper', '', '', 'Use the', '.fixed-crop', 'class fixed the image.')
    .card-body
        .img-container
            img.fixed-crop.img-fluid(src='../assets/images/other-images/img-1.jpg', alt='')