.card 
    .card-header.pb-0
        +card-header('Multiple Cropper', '', '', 'Use the', '..multi-crop', 'class through crop multiple images.')
    .card-body
        .multi-crop.common-flex.row.overflow-hidden
            .col-5
                img.img-fluid(src='../assets/images/other-images/img-3.jpg', alt='')
            .col-5
                img.img-fluid.ms-2(src='../assets/images/other-images/img-4.jpg', alt='')