.card.height_equal
  .card-header.pb-0
    +card-header('Borders with icons', '','', 'Use the', '.icon-state-*.switch-outline-*', 'class through created outline and icons.')
  .card-body.common-flex.flex-column.switch-wrapper
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-primary
      label.col-form-label.m-l-10 Bordered Primary Switch
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-secondary
      label.col-form-label.m-l-10 Bordered Secondary Switch
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-success
      label.col-form-label.m-l-10 Bordered Success Switch
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-danger
      label.col-form-label.m-l-10 Bordered Danger Switch
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-warning
      label.col-form-label.m-l-10 Bordered Warning Switch
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-info
      label.col-form-label.m-l-10 Bordered Info Switch
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-dark
      label.col-form-label.m-l-10 Bordered Dark Switch