.card
  .card-header.pb-0
    +card-header('Disabled outline switch', '','', 'Use the ', '.switch-outline', 'class through created outline.')
  .card-body.common-flex
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox')
          span.switch-state.bg-primary
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox')
          span.switch-state.bg-secondary
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox')
          span.switch-state.bg-success
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox')
          span.switch-state.bg-danger
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox')
          span.switch-state.bg-warning
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox')
          span.switch-state.bg-info
    .d-flex
      .flex-grow-1.text-end.icon-state.switch-outline
        label.switch.mb-0
          input(type='checkbox')
          span.switch-state.bg-dark