.card.height_equal
  .card-header.pb-0
    +card-header('Icons switch', '','', 'Use the', '.switch-state-*icon-state-*', 'through defined icons switches.')
  .card-body.common-flex.flex-column.switch-wrapper
    .d-flex
      .flex-grow-1.text-end.icon-state
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-primary
      label.col-form-label.m-l-10 Primary Switch
    .d-flex
      .flex-grow-1.text-end.icon-state
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-secondary
      label.col-form-label.m-l-10 Secondary Switch
    .d-flex
      .flex-grow-1.text-end.icon-state
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-success
      label.col-form-label.m-l-10 Success Switch
    .d-flex
      .flex-grow-1.text-end.icon-state
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-danger
      label.col-form-label.m-l-10 Danger Switch
    .d-flex
      .flex-grow-1.text-end.icon-state
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-warning
      label.col-form-label.m-l-10 Warning Switch
    .d-flex
      .flex-grow-1.text-end.icon-state
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-info
      label.col-form-label.m-l-10 Info Switch
    .d-flex
      .flex-grow-1.text-end.icon-state
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-dark
      label.col-form-label.m-l-10 Dark Switch