.card.height_equal
  .card-header.pb-0
    +card-header('Unchecked switch', '','', 'Use the', '.bg-*', 'class through created default switches.')
  .card-body.common-flex.flex-column.switch-wrapper
    .d-flex
      .flex-grow-1.text-end
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-primary 
      label.col-form-label.m-l-10 Unchecked Primary Switch
    .d-flex
      .flex-grow-1.text-end
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-secondary
      label.col-form-label.m-l-10 Unchecked Secondary Switch
    .d-flex
      .flex-grow-1.text-end
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-success
      label.col-form-label.m-l-10 Unchecked Success Switch
    .d-flex
      .flex-grow-1.text-end
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-danger
      label.col-form-label.m-l-10 Unchecked Danger Switch
    .d-flex
      .flex-grow-1.text-end
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-warning
      label.col-form-label.m-l-10 Unchecked Warning Switch
    .d-flex
      .flex-grow-1.text-end
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-info
      label.col-form-label.m-l-10 Unchecked Info Switch
    .d-flex
      .flex-grow-1.text-end
        label.switch.mb-0
          input(type='checkbox', checked='')
          span.switch-state.bg-dark
      label.col-form-label.m-l-10 Unchecked Dark Switch