.knowledgebase-bg
  img.bg-img-cover.bg-center(src="../assets/images/knowledgebase/bg_1.jpg" alt="looginpage" )
.knowledgebase-search
  div
    h3 How Can I help you?
    form.form-inline(action="#" method="get")
      .form-group.w-100
        +FeatherSprite('search', 'feather')
        input.form-control-plaintext.w-100(type="text" placeholder="Type question here" title="")  