.header-faq
  h5.mb-0 Latest articles and videos
.row
  .col-xl-4.col-md-6
    .row
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('codepen', 'feather m-r-20')
              .flex-grow-1
                h5.f-w-500 Using Video
                p Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('codepen', 'feather m-r-20')
              .flex-grow-1
                h5.f-w-500 Vel illum qu
                p Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('codepen', 'feather m-r-20')
              .flex-grow-1
                h5.f-w-500  Cum sociis natoqu
                p Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
  .col-xl-4.col-md-6
    .row
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('file-text', 'feather m-r-20') 
              .flex-grow-1
                h5.f-w-500  Donec pede justo
                p  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('file-text', 'feather m-r-20')
              .flex-grow-1
                h5.f-w-500  Nam quam nunc
                p  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
      .col-sm-12
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('file-text', 'feather m-r-20')
              .flex-grow-1
                h5.f-w-500 Using Video 
                p Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
  .col-xl-4
    .row
      .col-xl-12.col-md-6
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('youtube', 'feather m-r-20')
              .flex-grow-1
                h5.f-w-500  Vel illum qu
                p Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
      .col-xl-12.col-md-6
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('youtube', 'feather m-r-20')
              .flex-grow-1
                h5.f-w-500  Cum sociis natoqu
                p Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
      .col-xl-12
        .card.faq-box-card
          .card-body
            .d-flex.articles-icons
              +FeatherSprite('youtube', 'feather m-r-20')
              .flex-grow-1
                h5.f-w-500 Donec pede justo
                p Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.