//-// Brand Icon
-
    var ICO_ITEM10 =[

        { id:'icofont-brand-acer' }
        , { id:'icofont-brand-adidas' }
        , { id:'icofont-brand-adobe' }
        , { id:'icofont-brand-air-new-zealand' }
        , { id:'icofont-brand-airbnb' }
        , { id:'icofont-brand-aircell' }
        , { id:'icofont-brand-airtel' }
        , { id:'icofont-brand-alcatel' }
        , { id:'icofont-brand-alibaba' }
        , { id:'icofont-brand-aliexpress' }
        , { id:'icofont-brand-alipay' }
        , { id:'icofont-brand-amazon' }
        , { id:'icofont-brand-amd' }
        , { id:'icofont-brand-american-airlines' }
        , { id:'icofont-brand-android-robot' }
        , { id:'icofont-brand-android' }
        , { id:'icofont-brand-aol' }
        , { id:'icofont-brand-apple' }
        , { id:'icofont-brand-appstore' }
        , { id:'icofont-brand-asus' }
        , { id:'icofont-brand-ati' }
        , { id:'icofont-brand-att' }
        , { id:'icofont-brand-audi' }
        , { id:'icofont-brand-axiata' }
        , { id:'icofont-brand-bada' }
        , { id:'icofont-brand-bbc' }
        , { id:'icofont-brand-bing' }
        , { id:'icofont-brand-blackberry' }
        , { id:'icofont-brand-bmw' }
        , { id:'icofont-brand-box' }
        , { id:'icofont-brand-burger-king' }
        , { id:'icofont-brand-business-insider' }
        , { id:'icofont-brand-buzzfeed' }
        , { id:'icofont-brand-cannon' }
        , { id:'icofont-brand-casio' }
        , { id:'icofont-brand-china-mobile' }
        , { id:'icofont-brand-china-telecom' }
        , { id:'icofont-brand-china-unicom' }
        , { id:'icofont-brand-cisco' }
        , { id:'icofont-brand-citibank' }
        , { id:'icofont-brand-cnet' }
        , { id:'icofont-brand-cnn' }
        , { id:'icofont-brand-cocal-cola' }
        , { id:'icofont-brand-compaq' }
        , { id:'icofont-brand-debian' }
        , { id:'icofont-brand-delicious' }
        , { id:'icofont-brand-dell' }
        , { id:'icofont-brand-designbump' }
        , { id:'icofont-brand-designfloat' }
        , { id:'icofont-brand-disney' }
        , { id:'icofont-brand-dodge' }
        , { id:'icofont-brand-dove' }
        , { id:'icofont-brand-drupal' }
        , { id:'icofont-brand-ebay' }
        , { id:'icofont-brand-eleven' }
        , { id:'icofont-brand-emirates' }
        , { id:'icofont-brand-espn' }
        , { id:'icofont-brand-etihad-airways' }
        , { id:'icofont-brand-etisalat' }
        , { id:'icofont-brand-etsy' }
        , { id:'icofont-brand-fastrack' }
        , { id:'icofont-brand-fedex' }
        , { id:'icofont-brand-ferrari' }
        , { id:'icofont-brand-fitbit' }
        , { id:'icofont-brand-flikr' }
        , { id:'icofont-brand-forbes' }
        , { id:'icofont-brand-foursquare' }
        , { id:'icofont-brand-foxconn' }
        , { id:'icofont-brand-fujitsu' }
        , { id:'icofont-brand-general-electric' }
        , { id:'icofont-brand-gillette' }
        , { id:'icofont-brand-gizmodo' }
        , { id:'icofont-brand-gnome' }
        , { id:'icofont-brand-google' }
        , { id:'icofont-brand-gopro' }
        , { id:'icofont-brand-gucci' }
        , { id:'icofont-brand-hallmark' }
        , { id:'icofont-brand-hi5' }
        , { id:'icofont-brand-honda' }
        , { id:'icofont-brand-hp' }
        , { id:'icofont-brand-hsbc' }
        , { id:'icofont-brand-htc' }
        , { id:'icofont-brand-huawei' }
        , { id:'icofont-brand-hulu' }
        , { id:'icofont-brand-hyundai' }
        , { id:'icofont-brand-ibm' }
        , { id:'icofont-brand-icofont' }
        , { id:'icofont-brand-icq' }
        , { id:'icofont-brand-ikea' }
        , { id:'icofont-brand-imdb' }
        , { id:'icofont-brand-indiegogo' }
        , { id:'icofont-brand-intel' }
        , { id:'icofont-brand-ipair' }
        , { id:'icofont-brand-jaguar' }
        , { id:'icofont-brand-java' }
        , { id:'icofont-brand-joomla' }
        , { id:'icofont-brand-kickstarter' }
        , { id:'icofont-brand-kik' }
        , { id:'icofont-brand-lastfm' }
        , { id:'icofont-brand-lego' }
        , { id:'icofont-brand-lenovo' }
        , { id:'icofont-brand-levis' }
        , { id:'icofont-brand-lexus' }
        , { id:'icofont-brand-lg' }
        , { id:'icofont-brand-life-hacker' }
        , { id:'icofont-brand-linux-mint' }
        , { id:'icofont-brand-linux' }
        , { id:'icofont-brand-lionix' }
        , { id:'icofont-brand-loreal' }
        , { id:'icofont-brand-louis-vuitton' }
        , { id:'icofont-brand-mac-os' }
        , { id:'icofont-brand-marvel-app' }
        , { id:'icofont-brand-mashable' }
        , { id:'icofont-brand-mazda' }
        , { id:'icofont-brand-mcdonals' }
        , { id:'icofont-brand-mercedes' }
        , { id:'icofont-brand-micromax' }
        , { id:'icofont-brand-microsoft' }
        , { id:'icofont-brand-mobileme' }
        , { id:'icofont-brand-mobily' }
        , { id:'icofont-brand-motorola' }
        , { id:'icofont-brand-msi' }
        , { id:'icofont-brand-mts' }
        , { id:'icofont-brand-myspace' }
        , { id:'icofont-brand-mytv' }
        , { id:'icofont-brand-nasa' }
        , { id:'icofont-brand-natgeo' }
        , { id:'icofont-brand-nbc' }
        , { id:'icofont-brand-nescafe' }
        , { id:'icofont-brand-nestle' }
        , { id:'icofont-brand-netflix' }
        , { id:'icofont-brand-nexus' }
        , { id:'icofont-brand-nike' }
        , { id:'icofont-brand-nokia' }
        , { id:'icofont-brand-nvidia' }
        , { id:'icofont-brand-omega' }
        , { id:'icofont-brand-opensuse' }
        , { id:'icofont-brand-oracle' }
        , { id:'icofont-brand-panasonic' }
        , { id:'icofont-brand-paypal' }
        , { id:'icofont-brand-pepsi' }
        , { id:'icofont-brand-philips' }
        , { id:'icofont-brand-pizza-hut' }
        , { id:'icofont-brand-playstation' }
        , { id:'icofont-brand-puma' }
        , { id:'icofont-brand-qatar-air' }
        , { id:'icofont-brand-qvc' }
        , { id:'icofont-brand-readernaut' }
        , { id:'icofont-brand-redbull' }
        , { id:'icofont-brand-reebok' }
        , { id:'icofont-brand-reuters' }
        , { id:'icofont-brand-samsung' }
        , { id:'icofont-brand-sap' }
        , { id:'icofont-brand-saudia-airlines' }
        , { id:'icofont-brand-scribd' }
        , { id:'icofont-brand-shell' }
        , { id:'icofont-brand-siemens' }
        , { id:'icofont-brand-sk-telecom' }
        , { id:'icofont-brand-slideshare' }
        , { id:'icofont-brand-smashing-magazine' }
        , { id:'icofont-brand-snapchat' }
        , { id:'icofont-brand-sony-ericsson' }
        , { id:'icofont-brand-sony' }
        , { id:'icofont-brand-soundcloud' }
        , { id:'icofont-brand-sprint' }
        , { id:'icofont-brand-squidoo' }
        , { id:'icofont-brand-starbucks' }
        , { id:'icofont-brand-stc' }
        , { id:'icofont-brand-steam' }
        , { id:'icofont-brand-suzuki' }
        , { id:'icofont-brand-symbian' }
        , { id:'icofont-brand-t-mobile' }
        , { id:'icofont-brand-tango' }
        , { id:'icofont-brand-target' }
        , { id:'icofont-brand-tata-indicom' }
        , { id:'icofont-brand-techcrunch' }
        , { id:'icofont-brand-telenor' }
        , { id:'icofont-brand-teliasonera' }
        , { id:'icofont-brand-tesla' }
        , { id:'icofont-brand-the-verge' }
        , { id:'icofont-brand-thenextweb' }
        , { id:'icofont-brand-toshiba' }
        , { id:'icofont-brand-toyota' }
        , { id:'icofont-brand-tribenet' }
        , { id:'icofont-brand-ubuntu' }
        , { id:'icofont-brand-unilever' }
        , { id:'icofont-brand-vaio' }
        , { id:'icofont-brand-verizon' }
        , { id:'icofont-brand-viber' }
        , { id:'icofont-brand-vodafone' }
        , { id:'icofont-brand-volkswagen' }
        , { id:'icofont-brand-walmart' }
        , { id:'icofont-brand-warnerbros' }
        , { id:'icofont-brand-whatsapp' }
        , { id:'icofont-brand-wikipedia' }
        , { id:'icofont-brand-windows' }
        , { id:'icofont-brand-wire' }
        , { id:'icofont-brand-wordpress' }
        , { id:'icofont-brand-xiaomi' }
        , { id:'icofont-brand-yahoobuzz' }
        , { id:'icofont-brand-yamaha' }
        , { id:'icofont-brand-youtube' }
        , { id:'icofont-brand-zain' }
        
    ]
//-// Ico icon mixin
mixin IcoContent(items)
    each item in items 
        .col-xxl-2.col-lg-3.col-sm-4
            .card.d-flex.align-items-center.flex-column.default-border
                i.icofont(class=item.id)
                .flex-grow-1
                    h6=item.id
// Ico icon
.card
    .card-header.pb-0.d-flex.justify-content-between.align-items-center
        h4 Brand Icon
    .card-body
        .row.icon-event.iconly-icons.icon-lists
            +IcoContent(ICO_ITEM10)