//-// Sport Icon
-
    var ICO_ITEM16 =[

        { id:'icofont-badminton-birdie' }
        , { id:'icofont-baseball' }
        , { id:'icofont-baseballer' }
        , { id:'icofont-basketball-hoop' }
        , { id:'icofont-basketball' }
        , { id:'icofont-billiard-ball' }
        , { id:'icofont-boot-alt-1' }
        , { id:'icofont-boot-alt-2' }
        , { id:'icofont-boot' }
        , { id:'icofont-bowling-alt' }
        , { id:'icofont-bowling' }
        , { id:'icofont-canoe' }
        , { id:'icofont-cheer-leader' }
        , { id:'icofont-climbing' }
        , { id:'icofont-corner' }
        , { id:'icofont-field-alt' }
        , { id:'icofont-field' }
        , { id:'icofont-football-alt' }
        , { id:'icofont-football-american' }
        , { id:'icofont-football' }
        , { id:'icofont-foul' }
        , { id:'icofont-goal-keeper' }
        , { id:'icofont-goal' }
        , { id:'icofont-golf-alt' }
        , { id:'icofont-golf-bag' }
        , { id:'icofont-golf-cart' }
        , { id:'icofont-golf-field' }
        , { id:'icofont-golf' }
        , { id:'icofont-golfer' }
        , { id:'icofont-helmet' }
        , { id:'icofont-hockey-alt' }
        , { id:'icofont-hockey' }
        , { id:'icofont-ice-skate' }
        , { id:'icofont-jersey-alt' }
        , { id:'icofont-jersey' }
        , { id:'icofont-jumping' }
        , { id:'icofont-kick' }
        , { id:'icofont-leg' }
        , { id:'icofont-match-review' }
        , { id:'icofont-medal-sport' }
        , { id:'icofont-offside' }
        , { id:'icofont-olympic-logo' }
        , { id:'icofont-olympic' }
        , { id:'icofont-padding' }
        , { id:'icofont-penalty-card' }
        , { id:'icofont-racer' }
        , { id:'icofont-racing-car' }
        , { id:'icofont-racing-flag-alt' }
        , { id:'icofont-racing-flag' }
        , { id:'icofont-racings-wheel' }
        , { id:'icofont-referee' }
        , { id:'icofont-refree-jersey' }
        , { id:'icofont-result-sport' }
        , { id:'icofont-rugby-ball' }
        , { id:'icofont-rugby-player' }
        , { id:'icofont-rugby' }
        , { id:'icofont-runner-alt-1' }
        , { id:'icofont-runner-alt-2' }
        , { id:'icofont-runner' }
        , { id:'icofont-score-board' }
        , { id:'icofont-skiing-man' }
        , { id:'icofont-skydiving-goggles' }
        , { id:'icofont-snow-mobile' }
        , { id:'icofont-steering' }
        , { id:'icofont-stopwatch' }
        , { id:'icofont-substitute' }
        , { id:'icofont-swimmer' }
        , { id:'icofont-table-tennis' }
        , { id:'icofont-team-alt' }
        , { id:'icofont-team' }
        , { id:'icofont-tennis-player' }
        , { id:'icofont-tennis' }
        , { id:'icofont-tracking' }
        , { id:'icofont-trophy-alt' }
        , { id:'icofont-trophy' }
        , { id:'icofont-volleyball-alt' }
        , { id:'icofont-volleyball-fire' }
        , { id:'icofont-volleyball' }
        , { id:'icofont-water-bottle' }
        , { id:'icofont-whistle-alt' }
        , { id:'icofont-whistle' }
        , { id:'icofont-win-trophy' }
    
    ]
//-// Ico icon mixin
mixin IcoContent(items)
    each item in items 
        .col-xxl-2.col-lg-3.col-sm-4
            .card.d-flex.align-items-center.flex-column.default-border
                i.icofont(class=item.id)
                .flex-grow-1
                    h6=item.id
// Ico icon
.card
    .card-header.pb-0.d-flex.justify-content-between.align-items-center
        h4 Sport Icon
    .card-body
        .row.icon-event.iconly-icons.icon-lists
            +IcoContent(ICO_ITEM16)