//-// Ico icon
-
    var ICO_ITEM9 =[
        {
            id:'icofont-addons'
        },
        {
            id:'icofont-address-book'
        },
        {
            id:'icofont-adjust'
        },
        {
            id:'icofont-alarm'
        },
        {
            id:'icofont-anchor'
        },
        {
            id:'icofont-archive'
        },
        {
            id:'icofont-at'
        },
        {
            id:'icofont-attachment'
        },
        {
            id:'icofont-audio'
        },
        {
            id:'icofont-auto-mobile'
        },
        {
            id:'icofont-automation'
        },
        {
            id:'icofont-baby'
        },
        {
            id:'icofont-badge'
        },
        {
            id:'icofont-bag'
        },
        {
            id:'icofont-ban'
        },
        {
            id:'icofont-bank'
        },
        {
            id:'icofont-bar-code'
        },
        {
            id:'icofont-bars'
        },
        {
            id:'icofont-battery-empty'
        },
        {
            id:'icofont-battery-full'
        },
        {
            id:'icofont-battery-half'
        },
        {
            id:'icofont-battery-low'
        },
        {
            id:'icofont-beach'
        },
        {
            id:'icofont-beaker'
        },
        {
            id:'icofont-bear'
        },
        {
            id:'icofont-beard'
        },
        {
            id:'icofont-bed'
        },
        {
            id:'icofont-bell'
        },
        {
            id:'icofont-beverage'
        },
        {
            id:'icofont-bicycle'
        },
        {
            id:'icofont-bill'
        },
        {
            id:'icofont-bin'
        },
        {
            id:'icofont-binary'
        },
        {
            id:'icofont-binoculars'
        },
        {
            id:'icofont-bird'
        },
        {
            id:'icofont-birds'
        },
        {
            id:'icofont-black-board'
        },
        {
            id:'icofont-bluetooth'
        },
        {
            id:'icofont-bolt'
        },
        {
            id:'icofont-bomb'
        },
        {
            id:'icofont-book'
        },
        {
            id:'icofont-book-mark'
        },
        {
            id:'icofont-boot'
        },
        {
            id:'icofont-box'
        },
        {
            id:'icofont-brain'
        },
        {
            id:'icofont-briefcase'
        },
        {
            id:'icofont-broken'
        },
        {
            id:'icofont-bucket'
        },
        {
            id:'icofont-bucket1'
        },
        {
            id:'icofont-bucket2'
        },
        {
            id:'icofont-bug'
        },
        {
            id:'icofont-building'
        },
        {
            id:'icofont-bullet'
        },
        {
            id:'icofont-bullhorn'
        },
        {
            id:'icofont-bullseye'
        },
        {
            id:'icofont-bus'
        },
        {
            id:'icofont-butterfly'
        },
        {
            id:'icofont-cab'
        },
        {
            id:'icofont-calculator'
        },
        {
            id:'icofont-calendar'
        },
        {
            id:'icofont-camera'
        },
        {
            id:'icofont-camera-alt'
        },
        {
            id:'icofont-car'
        },
        {
            id:'icofont-card'
        },
        {
            id:'icofont-cart'
        },
        {
            id:'icofont-cc'
        },
        {
            id:'icofont-certificate'
        },
        {
            id:'icofont-charging'
        },
        {
            id:'icofont-chat'
        },
        {
            id:'icofont-check'
        },
        {
            id:'icofont-check-alt'
        },
        {
            id:'icofont-check-circled'
        },
        {
            id:'icofont-checked'
        },
        {
            id:'icofont-children-care'
        },
        {
            id:'icofont-clock-time'
        },
        {
            id:'icofont-close'
        },
        {
            id:'icofont-close-circled'
        },
        {
            id:'icofont-close-line'
        },
        {
            id:'icofont-close-line-circled'
        },
        {
            id:'icofont-close-line-squared'
        },
        {
            id:'icofont-close-line-squared-alt'
        },
        {
            id:'icofont-close-squared'
        },
        {
            id:'icofont-close-squared-alt'
        },
        {
            id:'icofont-cloud'
        },
        {
            id:'icofont-cloud-download'
        },
        {
            id:'icofont-cloud-refresh'
        },
        {
            id:'icofont-cloud-upload'
        },
        {
            id:'icofont-code'
        },
        {
            id:'icofont-code-not-allowed'
        },
        {
            id:'icofont-coffee-cup'
        },
        {
            id:'icofont-comment'
        },
        {
            id:'icofont-compass'
        },
        {
            id:'icofont-computer'
        },
        {
            id:'icofont-connection'
        },
        {
            id:'icofont-console'
        },
        {
            id:'icofont-contacts'
        },
        {
            id:'icofont-contrast'
        },
        {
            id:'icofont-copy'
        },
        {
            id:'icofont-copyright'
        },
        {
            id:'icofont-credit-card'
        },
        {
            id:'icofont-crop'
        },
        {
            id:'icofont-crown'
        },
        {
            id:'icofont-cube'
        },
        {
            id:'icofont-cubes'
        },
        {
            id:'icofont-culinary'
        },
        {
            id:'icofont-dashboard'
        },
        {
            id:'icofont-dashboard-web'
        },
        {
            id:'icofont-data'
        },
        {
            id:'icofont-database'
        },
        {
            id:'icofont-database-add'
        },
        {
            id:'icofont-database-locked'
        },
        {
            id:'icofont-database-remove'
        },
        {
            id:'icofont-delete'
        },
        {
            id:'icofont-diamond'
        },
        {
            id:'icofont-dice'
        },
        {
            id:'icofont-disabled'
        },
        {
            id:'icofont-disc'
        },
        {
            id:'icofont-diskette'
        },
        {
            id:'icofont-document-folder'
        },
        {
            id:'icofont-download'
        },
        {
            id:'icofont-download-alt'
        },
        {
            id:'icofont-downloaded'
        },
        {
            id:'icofont-earth'
        },
        {
            id:'icofont-ebook'
        },
        {
            id:'icofont-edit'
        },
        {
            id:'icofont-eject'
        },
        {
            id:'icofont-email'
        },
        {
            id:'icofont-envelope'
        },
        {
            id:'icofont-envelope-open'
        },
        {
            id:'icofont-eraser'
        },
        {
            id:'icofont-error'
        },
        {
            id:'icofont-exchange'
        },
        {
            id:'icofont-exclamation'
        },
        {
            id:'icofont-exclamation-circle'
        },
        {
            id:'icofont-exclamation-square'
        },
        {
            id:'icofont-exclamation-tringle'
        },
        {
            id:'icofont-exit'
        },
        {
            id:'icofont-expand'
        },
        {
            id:'icofont-external'
        },
        {
            id:'icofont-external-link'
        },
        {
            id:'icofont-eye'
        },
        {
            id:'icofont-eye-blocked'
        },
        {
            id:'icofont-eye-dropper'
        },
        {
            id:'icofont-favourite'
        },
        {
            id:'icofont-fax'
        },
        {
            id:'icofont-female'
        },
        {
            id:'icofont-file-fill'
        },
        {
            id:'icofont-film'
        },
        {
            id:'icofont-filter'
        },
        {
            id:'icofont-fire'
        },
        {
            id:'icofont-fire-burn'
        },
        {
            id:'icofont-fire-extinguisher'
        },
        {
            id:'icofont-first-aid'
        },
        {
            id:'icofont-flag'
        },
        {
            id:'icofont-flag-alt-1'
        },
        {
            id:'icofont-flag-alt-2'
        },
        {
            id:'icofont-flash'
        },
        {
            id:'icofont-flash-light'
        },
        {
            id:'icofont-flask'
        },
        {
            id:'icofont-focus'
        },
        {
            id:'icofont-folder'
        },
        {
            id:'icofont-folder-open'
        },
        {
            id:'icofont-foot-print'
        },
        {
            id:'icofont-football'
        },
        {
            id:'icofont-football-american'
        },
        {
            id:'icofont-game-console'
        },
        {
            id:'icofont-game-pad'
        },
        {
            id:'icofont-gavel'
        },
        {
            id:'icofont-gear'
        },
        {
            id:'icofont-gears'
        },
        {
            id:'icofont-gift'
        },
        {
            id:'icofont-glass'
        },
        {
            id:'icofont-globe'
        },
        {
            id:'icofont-graduate'
        },
        {
            id:'icofont-graffiti'
        },
        {
            id:'icofont-grocery'
        },
        {
            id:'icofont-group'
        },
        {
            id:'icofont-hammer'
        },
        {
            id:'icofont-hand'
        },
        {
            id:'icofont-hanger'
        },
        {
            id:'icofont-hard-disk'
        },
        {
            id:'icofont-headphone'
        },
        {
            id:'icofont-heart'
        },
        {
            id:'icofont-heart-beat'
        },
        {
            id:'icofont-history'
        },
        {
            id:'icofont-home'
        },
        {
            id:'icofont-horn'
        },
        {
            id:'icofont-hotel'
        },
        {
            id:'icofont-hour-glass'
        },
        {
            id:'icofont-id'
        },
        {
            id:'icofont-image'
        },
        {
            id:'icofont-inbox'
        },
        {
            id:'icofont-infinite'
        },
        {
            id:'icofont-info'
        },
        {
            id:'icofont-info-circle'
        },
        {
            id:'icofont-info-square'
        },
        {
            id:'icofont-institution'
        },
        {
            id:'icofont-interface'
        },
        {
            id:'icofont-invisible'
        },
        {
            id:'icofont-italic'
        },
        {
            id:'icofont-jacket'
        },
        {
            id:'icofont-jar'
        },
        {
            id:'icofont-jewlery'
        },
        {
            id:'icofont-karate'
        },
        {
            id:'icofont-key'
        },
        {
            id:'icofont-key-hole'
        },
        {
            id:'icofont-keyboard'
        },
        {
            id:'icofont-kid'
        },
        {
            id:'icofont-label'
        },
        {
            id:'icofont-lamp'
        },
        {
            id:'icofont-laptop'
        },
        {
            id:'icofont-layers'
        },
        {
            id:'icofont-layout'
        },
        {
            id:'icofont-leaf'
        },
        {
            id:'icofont-leaflet'
        },
        {
            id:'icofont-learn'
        },
        {
            id:'icofont-legal'
        },
        {
            id:'icofont-lego'
        },
        {
            id:'icofont-lemon'
        },
        {
            id:'icofont-lens'
        },
        {
            id:'icofont-letter'
        },
        {
            id:'icofont-letterbox'
        },
        {
            id:'icofont-library'
        },
        {
            id:'icofont-license'
        },
        {
            id:'icofont-life-bouy'
        },
        {
            id:'icofont-life-buoy'
        },
        {
            id:'icofont-life-jacket'
        },
        {
            id:'icofont-life-ring'
        },
        {
            id:'icofont-light-bulb'
        },
        {
            id:'icofont-lighter'
        },
        {
            id:'icofont-lightning-ray'
        },
        {
            id:'icofont-like'
        },
        {
            id:'icofont-link'
        },
        {
            id:'icofont-live-support'
        },
        {
            id:'icofont-location-arrow'
        },
        {
            id:'icofont-location-pin'
        },
        {
            id:'icofont-lock'
        },
        {
            id:'icofont-login'
        },
        {
            id:'icofont-logout'
        },
        {
            id:'icofont-lollipop'
        },
        {
            id:'icofont-look'
        },
        {
            id:'icofont-loop'
        },
        {
            id:'icofont-luggage'
        },
        {
            id:'icofont-lunch'
        },
        {
            id:'icofont-lungs'
        },
        {
            id:'icofont-magic'
        },
        {
            id:'icofont-magic-alt'
        },
        {
            id:'icofont-magnet'
        },
        {
            id:'icofont-mail'
        },
        {
            id:'icofont-mail-box'
        },
        {
            id:'icofont-male'
        },
        {
            id:'icofont-map'
        },
        {
            id:'icofont-math'
        },
        {
            id:'icofont-maximize'
        },
        {
            id:'icofont-measure'
        },
        {
            id:'icofont-medal'
        },
        {
            id:'icofont-medical'
        },
        {
            id:'icofont-medicine'
        },
        {
            id:'icofont-mega-phone'
        },
        {
            id:'icofont-memorial'
        },
        {
            id:'icofont-memory-card'
        },
        {
            id:'icofont-mic'
        },
        {
            id:'icofont-mic-mute'
        },
        {
            id:'icofont-micro-chip'
        },
        {
            id:'icofont-microphone'
        },
        {
            id:'icofont-microscope'
        },
        {
            id:'icofont-military'
        },
        {
            id:'icofont-mill'
        },
        {
            id:'icofont-minus'
        },
        {
            id:'icofont-minus-circle'
        },
        {
            id:'icofont-minus-square'
        },
        {
            id:'icofont-mobile-phone'
        },
        {
            id:'icofont-molecule'
        },
        {
            id:'icofont-money'
        },
        {
            id:'icofont-moon'
        },
        {
            id:'icofont-mop'
        },
        {
            id:'icofont-muffin'
        },
        {
            id:'icofont-music'
        },
        {
            id:'icofont-music-alt'
        },
        {
            id:'icofont-music-notes'
        },
        {
            id:'icofont-mustache'
        },
        {
            id:'icofont-mute-volume'
        },
        {
            id:'icofont-navigation'
        },
        {
            id:'icofont-navigation-menu'
        },
        {
            id:'icofont-navigation'
        },
        {
            id:'icofont-network-tower'
        },
        {
            id:'icofont-network'
        },
        {
            id:'icofont-news'
        },
        {
            id:'icofont-newspaper'
        },
        {
            id:'icofont-no-smoking'
        },
        {
            id:'icofont-not-allowed'
        },
        {
            id:'icofont-notebook'
        },
        {
            id:'icofont-notepad'
        },
        {
            id:'icofont-notification'
        },
        {
            id:'icofont-numbered'
        },
        {
            id:'icofont-opposite'
        },
        {
            id:'icofont-optic'
        },
        {
            id:'icofont-options'
        },
        {
            id:'icofont-package'
        },
        {
            id:'icofont-page'
        },
        {
            id:'icofont-paint'
        },
        {
            id:'icofont-paper-plane'
        },
        {
            id:'icofont-paperclip'
        },
        {
            id:'icofont-papers'
        },
        {
            id:'icofont-paw'
        },
        {
            id:'icofont-pay'
        },
        {
            id:'icofont-pen'
        },
        {
            id:'icofont-pencil'
        },
        {
            id:'icofont-penguin-linux'
        },
        {
            id:'icofont-pestle'
        },
        {
            id:'icofont-phone'
        },
        {
            id:'icofont-phone-circle'
        },
        {
            id:'icofont-picture'
        },
        {
            id:'icofont-pie'
        },
        {
            id:'icofont-pine'
        },
        {
            id:'icofont-pixels'
        },
        {
            id:'icofont-play'
        },
        {
            id:'icofont-plugin'
        },
        {
            id:'icofont-plus'
        },
        {
            id:'icofont-plus-circle'
        },
        {
            id:'icofont-plus-square'
        },
        {
            id:'icofont-polygonal'
        },
        {
            id:'icofont-power'
        },
        {
            id:'icofont-presentation'
        },
        {
            id:'icofont-price'
        },
        {
            id:'icofont-print'
        },
        {
            id:'icofont-puzzle'
        },
        {
            id:'icofont-qr-code'
        },
        {
            id:'icofont-queen'
        },
        {
            id:'icofont-question'
        },
        {
            id:'icofont-question-circle'
        },
        {
            id:'icofont-question-square'
        },
        {
            id:'icofont-quote-left'
        },
        {
            id:'icofont-quote-right'
        },
        {
            id:'icofont-radio'
        },
        {
            id:'icofont-random'
        },
        {
            id:'icofont-recycle'
        },
        {
            id:'icofont-refresh'
        },
        {
            id:'icofont-repair'
        },
        {
            id:'icofont-reply'
        },
        {
            id:'icofont-reply-all'
        },
        {
            id:'icofont-resize'
        },
        {
            id:'icofont-responsive'
        },
        {
            id:'icofont-retweet'
        },
        {
            id:'icofont-road'
        },
        {
            id:'icofont-robot'
        },
        {
            id:'icofont-rocket'
        },
        {
            id:'icofont-royal'
        },
        {
            id:'icofont-rss-feed'
        },
        {
            id:'icofont-safety'
        },
        {
            id:'icofont-sale-discount'
        },
        {
            id:'icofont-satellite'
        },
        {
            id:'icofont-send-mail'
        },
        {
            id:'icofont-server'
        },
        {
            id:'icofont-settings'
        },
        {
            id:'icofont-share'
        },
        {
            id:'icofont-share-alt'
        },
        {
            id:'icofont-share-boxed'
        },
        {
            id:'icofont-shield'
        },
        {
            id:'icofont-ship'
        },
        {
            id:'icofont-shopping-cart'
        },
        {
            id:'icofont-sign-in'
        },
        {
            id:'icofont-sign-out'
        },
        {
            id:'icofont-signal'
        },
        {
            id:'icofont-site-map'
        },
        {
            id:'icofont-smart-phone'
        },
        {
            id:'icofont-soccer'
        },
        {
            id:'icofont-sort'
        },
        {
            id:'icofont-sort-alt'
        },
        {
            id:'icofont-space'
        },
        {
            id:'icofont-spanner'
        },
        {
            id:'icofont-speech-comments'
        },
        {
            id:'icofont-speed-meter'
        },
        {
            id:'icofont-spinner'
        },
        {
            id:'icofont-spinner-alt-1'
        },
        {
            id:'icofont-spinner-alt-2'
        },
        {
            id:'icofont-spinner-alt-3'
        },
        {
            id:'icofont-spinner-alt-4'
        },
        {
            id:'icofont-spinner-alt-5'
        },
        {
            id:'icofont-spinner-alt-6'
        },
        {
            id:'icofont-spreadsheet'
        },
        {
            id:'icofont-square'
        },
        {
            id:'icofont-ssl-security'
        },
        {
            id:'icofont-star'
        },
        {
            id:'icofont-star-alt-1'
        },
        {
            id:'icofont-star-alt-2'
        },
        {
            id:'icofont-street-view'
        },
        {
            id:'icofont-sun'
        },
        {
            id:'icofont-support-faq'
        },
        {
            id:'icofont-tack-pin'
        },
        {
            id:'icofont-tag'
        },
        {
            id:'icofont-tags'
        },
        {
            id:'icofont-tasks'
        },
        {
            id:'icofont-telephone'
        },
        {
            id:'icofont-telescope'
        },
        {
            id:'icofont-terminal'
        },
        {
            id:'icofont-thumbs-down'
        },
        {
            id:'icofont-thumbs-up'
        },
        {
            id:'icofont-tick-boxed'
        },
        {
            id:'icofont-tick-mark'
        },
        {
            id:'icofont-ticket'
        },
        {
            id:'icofont-tie'
        },
        {
            id:'icofont-toggle-off'
        },
        {
            id:'icofont-toggle-on'
        },
        {
            id:'icofont-tools'
        },
        {
            id:'icofont-transparent'
        },
        {
            id:'icofont-tree'
        },
        {
            id:'icofont-umbrella'
        },
        {
            id:'icofont-unlock'
        },
        {
            id:'icofont-unlocked'
        },
        {
            id:'icofont-upload'
        },
        {
            id:'icofont-upload-alt'
        },
        {
            id:'icofont-usb'
        },
        {
            id:'icofont-usb-drive'
        },
        {
            id:'icofont-vector-path'
        },
        {
            id:'icofont-verification-check'
        },
        {
            id:'icofont-video'
        },
        {
            id:'icofont-video-clapper'
        },
        {
            id:'icofont-volume-down'
        },
        {
            id:'icofont-volume-off'
        },
        {
            id:'icofont-volume-up'
        },
        {
            id:'icofont-wall'
        },
        {
            id:'icofont-wall-clock'
        },
        {
            id:'icofont-wallet'
        },
        {
            id:'icofont-warning'
        },
        {
            id:'icofont-warning-alt'
        },
        {
            id:'icofont-water-drop'
        },
        {
            id:'icofont-web'
        },
        {
            id:'icofont-wheelchair'
        },
        {
            id:'icofont-wifi'
        },
        {
            id:'icofont-wifi-alt'
        },
        {
            id:'icofont-world'
        },
        {
            id:'icofont-zigzag'
        },
        {
            id:'icofont-zipped'
        }
    ]
//-// Ico icon mixin
mixin IcoContent(items)
    each item in items 
        .col-xxl-2.col-lg-3.col-sm-4
            .card.d-flex.align-items-center.flex-column.default-border
                i.icofont(class=item.id)
                .flex-grow-1
                    h6=item.id
// Ico icon
.card
    .card-header.pb-0.d-flex.justify-content-between.align-items-center
        h4 Web Application
    .card-body
        .row.icon-event.iconly-icons.icon-lists
            +IcoContent(ICO_ITEM9)