.card
  .card-header.pb-0
    +card-header('Select one inputs', '','', '', '', 'Select one inputs with Scrolling dropdown')
  .card-body
    #remote
      form.theme-form
        div(data-test-hook='scrolling-dropdown')
          select#choices-scrolling-dropdown.form-control(name='choices-scrolling-dropdown')
            option(value='Choice 1') Choice 1
            option(value='Choice 2') Choice 2
            option(value='Choice 3') Choice 3
            option(value='Choice 4') Choice 4
            option(value='Choice 5') Choice 5
            option(value='Choice 6') Choice 6
            option(value='Choice 7') Choice 7
            option(value='Choice 8') Choice 8
            option(value='Choice 9') Choice 9
            option(value='Choice 10') Choice 10
            option(value='Choice 11') Choice 11
            option(value='Choice 12') Choice 12
            option(value='Choice 13') Choice 13
            option(value='Choice 14') Choice 14
            option(value='Choice 15') Choice 15