.card.scroll_7
    .card-header.pb-0
        +card-header('Both Side Visible Scrollbar', '','', 'Use the', '.scroll-bar', 'through visible both side scrollbar.')
    .card-body
        .scroll-bar-wrap
          .visible-scroll.always-visible.scroll-demo
            .horz-scroll-content
              .row
                .col-sm-3
                    .visible-wrapper
                        img(src="../assets/images/banner/2.jpg", alt="office-work")
                    p.pt-3
                        | Inspiration can take many different forms, and 
                        em.text-danger professional growth never stops
                        | . In light of this, we've compiled a comprehensive list of web design blogs that will keep your mind stimulated for the entire year. You won't find any stinkers on this list, so don't worry. We value your time and believe that you should only receive the greatest. Because of this, we've only gathered web design blogs that have recently being updated. Get ready to add numerous subscriptions by creating your Feebly account.
                        br
                        | --&gt; Responsive...
                        br
                        | --&gt; Secure your domain...
                        br
                        | --&gt; Testing...
                        br
                        | --&gt; Content creation...
                        br
                        | --&gt; Visual elements...
                        br
                        | --&gt; Launch...
                .col-sm-3
                    h6.f-20.f-w-500.pb-2 Latest trends 
                    p 
                        | You should stay current with all the most recent advances in the business whether you operate as a freelance web designer or for an agency or design studio. You may be sure you're constantly providing the most intelligent and original design solutions by doing this.
                    p
                        | You can keep up with evolving design trends by reading web design blogs. You'll need to be able to comprehend new trends' causes and how they affect user experience. Additionally, you'll discover upgrades to current tools as well as new ones that have recently hit the market.
                    .visible-wrapper 
                        img(src="../assets/images/email/3.jpg", alt="office")
                .col-sm-3
                    h6.f-20.f-w-500.pb-2 The best UX designer
                    p
                        | The internet is teeming with free resources, no matter what stage of your UX journey you're in, and UX design blogs should be your first point of call. The abundance of blogs available, though, can be somewhat of a double-edged sword because there are so many to choose from. How do you decide which blogs are actually worthwhile reading?
                    p
                        | We've collected a selection of the top UX design blogs available right now to spare you hours of scrolling and sorting through search results. We possess:
                        br
                        strong 1. Muzli 
                        br
                        strong 2. Facebook Design 
                        br
                        strong 3. Awwwards
                        br
                    p 
                        | If you already work in the UX field, the Inside Design blog has all the information you need to expand your knowledge, especially if you're interested in streamlining your UX teams and procedures and getting a better understanding of the whole product design and development process. This is an excellent location to keep an eye out for the most recent UX trends, tools, resources, and events because they are always adding new stuff.
                .col-sm-3
                    h6.f-20.f-w-500.pb-2 How to make best website ideas 
                    .visible-wrapper 
                        img(src="../assets/images/banner/3.jpg", alt="website")
                    p.pt-3
                        | --&gt; Blog 
                        br
                        | --&gt; Portfolio website 
                        br
                        | --&gt; Event website 
                        br
                        | --&gt; personal website 
                        br
                        | --&gt; Fashion website 
                        br
                        | --&gt; Admin dashboards 
                        br
                        | --&gt; E-commerce website 
                        br
                        | --&gt; Beauty website 
                        br
                        | --&gt; Food website
                        br
                        | --&gt; Animation website 
                        br
                        | --&gt; Financial website