// custom-scrollbar
.card
    .card-header.pb-0
        +card-header('Custom Scrollbar', '','', 'Used', '.scroll-bar', 'through design scrollbar.')
    .card-body 
      .vertical-scroll.scroll-demo
        h5.pb-2 Custom Scrollbar 
        p
          | I'm quite interested in learning more about 
          em.font-danger custom scrollbars
          |  because they are becoming more and more common.
        .scrollbar-images
          img.img-fluid(src="../assets/images/banner/1.jpg", alt="banner")
        p 
          | There are various justifications for customizing a scrollbar. For instance, the default scrollbar can cause an app's user interface to look inconsistent across various operating systems. In this case, having a single style is helpful.
        p 
          | I never had the opportunity to learn about CSS scrollbar customization, but I have always been interested in doing so. I'll take the chance to learn more about them and share my trip in this essay.
        p 
          | One crucial point to remember is that, depending on the design, a scrollbar may operate either 
          em.font-danger horizontally or vertically
          |  . Additionally, it might alter when you work on a website that is global and operates in both left-to-right and right-to-left orientations.