.card.scroll_6
    .card-header.pb-0
        +card-header('Horizontal Scrollbar', '','', 'Use the', '.scroll-bar', 'through move content horizontally.')
    .card-body
      .horizontal-scroll.scroll-demo
        .horz-scroll-content
            .row
                .col-2 
                    .horizontal-img
                        img.img-fluid(src="../assets/images/scrollbar/fashion1.jpg", alt="girl")
                .col-2
                    .horizontal-img
                        img.img-fluid(src="../assets/images/scrollbar/fashion2.jpg", alt="girl")
                .col-2 
                    .horizontal-img
                        img.img-fluid(src="../assets/images/scrollbar/fashion3.jpg", alt="girl")
                .col-2 
                    .horizontal-img
                        img.img-fluid(src="../assets/images/scrollbar/fashion4.jpg", alt="girl")
                .col-2 
                    .horizontal-img
                        img.img-fluid(src="../assets/images/scrollbar/fashion5.jpg", alt="girl")
                .col-2 
                    .horizontal-img
                        img.img-fluid(src="../assets/images/scrollbar/fashion6.jpg", alt="girl")