.card
  .card-header.pb-0 
    +card-header('Small Size Scrollbar', '','', 'Use the', '.scrollbar-margins', 'through small scroll and image is draggable.')
  .card-body
    .scroll-bar-wrap
      .scrollbar-margins.large-margin.scroll-demo.pe-0
        .margin-scrollbar
          h5.pb-2 Solution for Business Transformation
        p   
          | The Business Transformation Solution programme is a 
          em.font-danger multi-level engagement program
          |  is designed to help Small and Medium-Sized Businesses and Startups create a strong, well-functioning business organization that produces the best results quickly and effectively.
          img.img-fluid.pt-3(src='../assets/images/banner/3.jpg', alt='business', width='800', height='600')
        p 
          | The core of the programme is our internally developed 
          em.font-danger Business Management model
          |  , "Business Foundation & Management", which was tried and true for Indian business conditions while drawing inspiration from other successful global SME Business Management techniques.