// Dark Color Card
.card.dark-color-card
    .card-header.bg-dark.border-bottom
        +card-header('Dark color card', '','', 'This is a simple basic card using anywhere.', '.bg-dark', 'color for dark background card.')
    .card-body.bg-dark
        .d-flex.align-items-center.gap-3.pills-blogger 
            .blog-wrapper 
                img.blog-img.img-100(src="../assets/images/dashboard2/product/headphones.png", alt="head-phone")
            .blog-content 
                p 
                    em.font-danger.fw-bold Smart headphones
                    |   — also called smart earbuds or hearable — are high-tech in-ear devices that do more than transmit audio. These headphones are usually wireless, and they can sync up with your phone, tablet, computer or other Bluetooth-enabled device. The main appeal of hearables is convenience, as they allow you to complete common tasks without directly accessing your phone or computer. Smart wireless headphones sync up to other devices using Bluetooth technology, and many of their features rely on data from your smartphone or computer.
    .card-footer.bg-dark.border-top
        h6.mb-0 Card Footer