// Default Card
.card
    .card-header.pb-0
        +card-header('Basic Card', '','', 'This is a simple basic card using anywhere.', '', '')
    .card-body
        p.mb-0
            | Tabs have long been used to show alternative views of the same group of information tabs in software. Known as
            em.font-danger “module tabs”
            |  , these are still used today in web sites. For instance, airline companies such as Ryanair, easyJet and AirMalta use module tabs to enable the user to switch between bookings for flights, hotels and car hire.