// Icon In Heading
.card.height_equal
    .card-header.pb-0
        h4
            i.icofont.icofont-library.me-2
            |  Icon In Heading
        p.mt-1.desc.mb-0 
            | Use the any icons  for heading. 
            code [font-awesome/ico-font/feather]
            | .
    .card-body
        .d-flex.gap-3.align-items-center.list-behavior-1
            .flex-shrink-0
                img.tab-img.img-fluid(src="../assets/images/blog/img.png", alt="home") 
            .flex-grow-1.ms-0
                p.mb-xl-0.mb-sm-4
                    | We provide end to end digital solutions, right from designing your website/application development: Domain, Web Hosting, Email Hosting Registration, Search Engine Optimization and other Internet Marketing, Renewal of Services timely and effectively.
