// Secondary header card
.card
    .card-header.bg-secondary
        h4.text-white Secondary Color Header
    .card-body
        h5.pb-2.f-w-500 Web Designer 
        p.mb-0
            | By following instructions and adding your own unique twist and style, you may apply your imagination as a web designer. The majority of the tasks you'll be assigned will have a specific due date and work description, but the reason you were employed was because they need a specialist to inject some much-needed creativity.
    .card-footer.border-top
        h6.mb-0.text-end Edmin Template