// Dark Color Card
.card
    .card-header.border-bottom
        h4 Secondary Color Body
    .card-body.bg-secondary
        h5.pb-2.f-w-500.text-white UX Designer 
        p.mb-0
            | It is the responsibility of the UX designer to make a product or service useful, pleasurable, and accessible. The word "user experience" is used by various industries, although it is most frequently related to digital design for websites and mobile applications.There is no need for coding in user experience design.
    .card-footer.border-0
        h6.mb-0.text-end Card Footer