// Dark Color Card
.card
    .card-header.border-bottom
        h4 Secondary Color Footer
    .card-body
        h5.pb-2.f-w-500 Web Designer 
        p.mb-0
            | By following instructions and adding your own unique twist and style, you may apply your imagination as a web designer. The majority of the tasks you'll be assigned will have a specific due date and work description, but the reason you were employed was because they need a specialist to inject some much-needed creativity.
    .card-footer.bg-secondary.border-top
        h6.mb-0.text-end.text-white Edmin Template