// Default Card
.card.shadow-none.solid-border.height_equal
    .card-header.pb-0
        +card-header('Without shadow card', '','', 'Use the', '.shadow-none &.border', 'class through shadow removes.')
    .card-body
        .flex-space.flex-wrap.align-items-center
            img.tab-img(src="../assets/images/avatar/2.jpg", alt="profile") 
            p 
                strong Visit Us:  
                |  2600 Hollywood Blvd,Florida, United States-	33020
                br
                strong Mail Us:
                |  contact@us@gmail.com
                br
                strong Contact Number: 
                |  (954) 357-7760