.card
  .card-header
    h4 Badges
  div
    .card-block.row
      .col-sm-12.col-lg-12.col-xl-12
        .table-responsive
          table.table.table-bordered
            tbody
              tr
                td.pills-component Basic Pills
                td.w-50
                  span.badge.badge-primary Primary
                td
                  span
                    | Use the 
                    code .badge
                    |  class, followed by. with badge color use class 
                    code .badge-*
                    code primary , secondary , success , info, warning, danger, light
                    |   class within element to create default pill.
              tr
                td Label With Icon
                td.w-50.m-5
                  .badge.badge-primary.label-square
                    i.fa.fa-paperclip.fa-lg
                    span.f-14 Primary Label
                td
                  span
                    | Use the 
                    code label-square
                    |  class with 
                    code div