.card
  .card-header
    h4 Checkbox
  div
    .checkbox-checked
      .card-block.row
        .col-sm-12.col-lg-12.col-xl-12
          .table-responsive
            table.table.table-bordered.checkbox-td-width
              tbody
                tr
                  td Basic Checkbox
                  td.w-50
                    input#checkbox1(type='checkbox')
                    label(for='checkbox1') Default
                  td
                    span Basic Checkbox
                tr
                  td Default Checkbox Squar
                  td
                    .form-group.m-b-0.d-flex
                      label.d-block.me-3
                        input#chk-ani_14.checkbox-primary(type='checkbox')
                        | Default
                  td
                    span
                      | Wrap with use 
                      code .m-squar
                      |  checkbox.
                tr
                  td Basic Skin Check
                  td
                    .form-group.m-b-0
                      label.d-inline-block.me-3
                          input#chk-ani_16.checkbox-dark.checkbox-border-dark(type='checkbox')
                          | Brand state
                  td
                    span
                      | Wrap with use
                      code checkbox-dark
                      | for this style of checkbox.
                tr
                  td Flat Skin Check
                  td
                    .checkbox.checkbox-solid-primary
                      input#solid6(type='checkbox', checked='')
                      label(for='solid6') checked
                  td
                    span
                      | Wrap with use
                      code checkbox-solid-*
                      | ,
                      code primary, secondary, success, info, warning, danger
                      | for this style of checkbox.
                tr
                  td Disable Check
                  td
                    .checkbox.checkbox-solid-primary
                      input#solid2(type='checkbox', disabled='')
                      label(for='solid2') Disabled
                  td
                    span
                      | Wrap with use
                      code disabled
                      | ,
                      code primary, secondary, success, info, warning, danger
                      | for this style of checkbox disable.
                tr
                  td Inline  Checkbox
                  td
                    .form-group.m-b-0
                        label.d-inline-block.me-3
                          input#chk-ani_8.checkbox-primary.checkbox-border-primary(type='checkbox')
                          | Option 1
                        label.d-inline-block.me-3
                          input#chk-ani_9.checkbox-secondary.checkbox-border-secondary(type='checkbox')
                          | Option 1
                        label.d-inline-block.me-3
                          input#chk-ani_10.checkbox-tertiary.checkbox-border-tertiary(type='checkbox')
                          | Option 1
                  td
                    span
                      | Wrap with use
                      code disabled
                      | ,
                      code primary, secondary, success, info, warning, danger
                      | for this style of checkbox disable.