.card
  .card-header
    h4 Input
  div
    .card-block.row.theme-form
      .col-sm-12.col-lg-12.col-xl-12
        .table-responsive
          table.table.table-bordered.checkbox-td-width
            tbody
              tr
                td Default Input text
                td.w-50
                  input#exampleFormControlInput1.form-control.input-primary(type='email', placeholder='Input text')
                td
                  span Use for basic select control.
              tr
                td Input Hover Color 
                td.w-50
                  input#exampleFormControlInput2.form-control(type='email', placeholder='Input text')
                td
                  span
                    | Use for basic input color add class
                    code input-air-*
                    code primary, secondary, success, info
                    | .on input