.card
  .card-header
    h4 Tooltip Triggers
  div
    .card-block.row
      .col-sm-12.col-lg-12.col-xl-12
        .table-responsive
          table.table.table-bordered
            tbody
              tr
                td Hover
                td.w-50
                  button.btn.btn-primary(type='button', data-original-title='btn btn-link btn-lg', title='Hover') Primary
                td
                  span Use data-bs-toggle="tooltip" for hover trigger. This is a default trigger
              tr
                td Link
                td.w-50
                  a.btn.btn-primary(href='#', data-bs-toggle='tooltip', title='', role='button', data-original-title='Hooray!') Link
                td
                  span
                    | Use  
                    code a href="#"
                    |  for link trigger. This is a link trigger
              tr
                td outline button
                td.w-50
                  button.btn.btn-outline-primary(type='button', data-original-title='btn btn-outline-danger-2x', title='') Primary
                td
                  span
                    | Use  
                    code btn btn-outline-info
                    |  for outline trigger. and button bold Border use class
                    code btn btn-outline-dark-2x