.card
  .card-header
    h4 UI Components
  div
    .card-block.row
      .col-sm-12.col-lg-12.col-xl-12
        .table-responsive
          table.table.table-bordered
            tbody
              tr
                td Button
                td.w-50
                  button.btn.btn-primary Default Button
                td
                  span
                    | Bootstrap includes six predefined button styles, each serving its own semantic purpose.
              tr
                td Round Buttons
                td
                  button.btn.btn-pill.btn-primary Default Button
                td
                  span
                    | Use 
                    code .btn-pill
                    |  class to button for Round Buttons.
              tr
                td Button dropdowns
                td
                  button.btn.btn-primary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Primary
                  .dropdown-menu
                    h6.dropdown-header Dropdown header
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here
                    .dropdown-divider
                    a.dropdown-item(href='#') Separated link
                td
                  span
                    | Use 
                    code .dropdown-toggle
                    |  class to button for Dropdown-toggle.
              tr
                td Basic Button group
                td
                  .btn-group
                    button.btn.btn-primary Primary
                    button.btn.btn-secondary Secondary
                    button.btn.btn-primary Success
                td
                  span
                    | Use 
                    code btn-group
                    |  class to button for 
                    code div
                    | .
              tr
                td Buttons with Icon
                td
                  button.btn.btn-primary
                    i.fa.fa-info-circle
                    |  Primary
                td
                  span
                    | Bootstrap includes six predefined button styles, each serving its own semantic purpose.
              tr
                td Icon Button
                td
                  button.btn.btn-primary
                    i.fa.fa-camera
                td
                  span Simple Icon Button
              tr
                td Loading Buttons
                td
                  button.btn.btn-primary
                    i.fa.fa-spin.fa-spinner.me-2
                    | Expand UP
                td
                  span Expand Animation Buttons