.card.invest-card
  .card-header
    h4 Total Investment
    .dropdown.icon-dropdown
      button#userdropdown02.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        i.icon-more-alt
      .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown02')
        a.dropdown-item(href='#') Weekly
        a.dropdown-item(href='#') Monthly
        a.dropdown-item(href='#') Yearly
  .card-body.p-0
    #investment