.card.product-offer
    .card-header
        h4 Product Offer
        .dropdown.icon-dropdown
          button#userdropdown01.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            i.icon-more-alt
          .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown01')
            a.dropdown-item(href='#') Weekly
            a.dropdown-item(href='#') Monthly
            a.dropdown-item(href='#') Yearly
    .card-body
        .swiper.mySwiper
            .swiper-wrapper
                .swiper-slide
                    .item.text-center
                        img.img-fluid(src="../assets/images/dashboard2/headphone.png", alt="")
                        img.product-gif.img-fluid(src="../assets/images/gif/new.gif", alt="")
                        .product-content
                          h4
                            a.f-18(href='product.html') Wireless Apple Airpods
                          h5.font-primary.f-w-600.f-16.mt-1 $130.00
                .swiper-slide
                    .item.text-center
                        img.img-fluid(src="../assets/images/dashboard2/9.png", alt="")
                        img.product-gif.img-fluid(src="../assets/images/gif/new.gif", alt="")
                        .product-content
                          h4
                            a.f-18(href='product.html') Wireless Apple Airpods
                          h5.font-primary.f-w-600.f-16.mt-1 $130.00
                .swiper-slide
                    .item.text-center
                        img.img-fluid(src="../assets/images/dashboard2/7.png", alt="")
                        img.product-gif.img-fluid(src="../assets/images/gif/new.gif", alt="")
                        .product-content
                          h4
                            a.f-18(href='product.html') Wireless Apple Airpods
                          h5.font-primary.f-w-600.f-16.mt-1 $130.00
            .swiper-pagination