.card.sales-summary 
    .card-header
        h4 Sales Summary
        .dropdown.icon-dropdown
          button#userdropdown04.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            i.icon-more-alt
          .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown04')
            a.dropdown-item(href='#') Weekly
            a.dropdown-item(href='#') Monthly
            a.dropdown-item(href='#') Yearly
    .card-body
      .current-sale-container.order-container
        #orderoverview.overview-wrapper
        .back-bar-container 
          #order-bar