// Animation
.card 
    .card-header.pb-0
        +card-header('Animation', '','', 'There are serveral predefined animations you can use already:', '', '.')
    .card-body 
        ol.line
            li
                h5 Fade animations:
                ol.ps-4.mb-4.list-circle
                    li fade
                    li fade-up
                    li fade-down
                    li fade-left
                    li fade-right
                    li fade-up-right
                    li fade-up-left
                    li fade-down-right
                    li fade-down-left
            li
                h5 Flip animations:
                ol.ps-4.mb-4.list-circle
                    li flip-up
                    li flip-down
                    li flip-left
                    li flip-right
            li
                h5 Slide animations:
                ol.ps-4.mb-4.list-circle
                    li slide-up
                    li slide-down
                    li slide-left
                    li slide-right
            li
                h5 Zoom animations:
                ol.ps-4.list-circle
                    li zoom-in
                    li zoom-in-up
                    li zoom-in-down
                    li zoom-in-left
                    li zoom-in-right
                    li zoom-out
                    li zoom-out-up
                    li zoom-out-down
                    li zoom-out-left
                    li zoom-out-right