// Animation
.card 
    .card-header.pb-0
        +card-header('Anchor placement:', '','', 'For more detailed follow below steps', '', '.')
    .card-body 
        ol.ps-4.list-circle.line.mb-0
            li top-bottom
            li top-center
            li top-top
            li center-bottom
            li center-center
            li center-top
            li bottom-bottom
            li bottom-center
            li bottom-top
// Animation
.card 
    .card-header.pb-0
        +card-header('Easing functions:', '','', 'For more detailed follow below steps', '', '.')
    .card-body 
        ol.ps-4.list-circle.line.mb-0
            li linear
            li ease
            li ease-in
            li ease-out
            li ease-in-out
            li ease-in-back
            li ease-out-back
            li ease-in-out-back
            li ease-in-sine
            li ease-out-sine
            li ease-in-out-sine
            li ease-in-quad
            li ease-out-quad
            li ease-in-out-quad
            li ease-in-cubic
            li ease-out-cubic
            li ease-in-out-cubic
            li ease-in-quart
            li ease-out-quart
            li ease-in-out-quart