//-// img gallery mixin
-
    var GALLERY_IMAGE =[
        {
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
            wowClass: 'fade-down'
        }, 
        {
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
            wowClass: 'zoom-out-down'
        }, 
        {
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
            wowClass: 'flip-down'
        }, 
        {
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
            wowClass: 'fade-up'
        }, 
        {
            lightGallery: '../assets/images/lightgallery/5.jpg',
            bigLight: '../assets/images/big-lightgallery/5.jpg',
            wowClass: 'flip-down'
        },
        {
            lightGallery: '../assets/images/lightgallery/6.jpg',
            bigLight: '../assets/images/big-lightgallery/6.jpg',
            wowClass: 'fade-up'
        },
        {
            lightGallery: '../assets/images/lightgallery/7.jpg',
            bigLight: '../assets/images/big-lightgallery/7.jpg',
            wowClass: 'flip-down'
        },
        {
            lightGallery: '../assets/images/lightgallery/8.jpg',
            bigLight: '../assets/images/big-lightgallery/8.jpg',
            wowClass: 'fade-up'
        },
        {
            lightGallery: '../assets/images/lightgallery/9.jpg',
            bigLight: '../assets/images/big-lightgallery/9.jpg',
            wowClass: 'flip-down'
        },
        {
            lightGallery: '../assets/images/lightgallery/10.jpg',
            bigLight: '../assets/images/big-lightgallery/10.jpg',
            wowClass: 'fade-up'
        }, 
        {
            lightGallery: '../assets/images/lightgallery/11.jpg',
            bigLight: '../assets/images/big-lightgallery/11.jpg',
            wowClass: 'flip-down'
        },
        {
            lightGallery: '../assets/images/lightgallery/12.jpg',
            bigLight: '../assets/images/big-lightgallery/12.jpg',
            wowClass: 'fade-up'
        },
        {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
        },
        {
            wowClass: 'flip-left',
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
        },
        {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
        },
        {
            wowClass: 'zoom-out',
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
        },
        {
            wowClass: 'flip-right',
            lightGallery: '../assets/images/lightgallery/5.jpg',
            bigLight: '../assets/images/big-lightgallery/5.jpg',
        },
        {
            wowClass: 'zoom-out',
            lightGallery: '../assets/images/lightgallery/10.jpg',
            bigLight: '../assets/images/big-lightgallery/10.jpg',
        },
        {
            wowClass: 'zoom-out-up',
            lightGallery: '../assets/images/lightgallery/6.jpg',
            bigLight: '../assets/images/big-lightgallery/6.jpg',
        },
        {
            wowClass: 'zoom-out-down',
            lightGallery: '../assets/images/lightgallery/7.jpg',
            bigLight: '../assets/images/big-lightgallery/7.jpg',
        },
        {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/8.jpg',
            bigLight: '../assets/images/big-lightgallery/8.jpg',
        },
        {
            wowClass: 'slide-up',
            lightGallery: '../assets/images/lightgallery/9.jpg',
            bigLight: '../assets/images/big-lightgallery/9.jpg',
        },
        {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/10.jpg',
            bigLight: '../assets/images/big-lightgallery/10.jpg',
        },
        {
            wowClass: 'fade-up',
            lightGallery: '../assets/images/lightgallery/11.jpg',
            bigLight: '../assets/images/big-lightgallery/11.jpg',
        },
        {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/12.jpg',
            bigLight: '../assets/images/big-lightgallery/12.jpg',
        },
        {
            wowClass: 'fade-up',
            lightGallery: '../assets/images/lightgallery/1.jpg',
            bigLight: '../assets/images/big-lightgallery/1.jpg',
        },
        {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/2.jpg',
            bigLight: '../assets/images/big-lightgallery/2.jpg',
        },
        {
            wowClass: 'flip-left',
            lightGallery: '../assets/images/lightgallery/3.jpg',
            bigLight: '../assets/images/big-lightgallery/3.jpg',
        },
        {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/4.jpg',
            bigLight: '../assets/images/big-lightgallery/4.jpg',
        },
        {
            wowClass: 'flip-left',
            lightGallery: '../assets/images/lightgallery/5.jpg',
            bigLight: '../assets/images/big-lightgallery/5.jpg',
        },
        {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/9.jpg',
            bigLight: '../assets/images/big-lightgallery/9.jpg',
        },
        {
            wowClass: 'zoom-out',
            lightGallery: '../assets/images/lightgallery/6.jpg',
            bigLight: '../assets/images/big-lightgallery/6.jpg',
        },
        {
            wowClass: 'flip-right',
            lightGallery: '../assets/images/lightgallery/7.jpg',
            bigLight: '../assets/images/big-lightgallery/7.jpg',
        },
        {
            wowClass: 'zoom-out',
            lightGallery: '../assets/images/lightgallery/8.jpg',
            bigLight: '../assets/images/big-lightgallery/8.jpg',
        },
        {
            wowClass: 'zoom-out-up',
            lightGallery: '../assets/images/lightgallery/9.jpg',
            bigLight: '../assets/images/big-lightgallery/9.jpg',
        },
         {
            wowClass: 'flip-down',
            lightGallery: '../assets/images/lightgallery/10.jpg',
            bigLight: '../assets/images/big-lightgallery/10.jpg',
        },
    ]
//-//gallery mixin
mixin ImgGallery(items)
    each item in items
        .pswp-gallery.col-xl-2.col-md-3.col-6.box-col-3(data-aos=item.wowClass)
            a(href=item.bigLight, data-pswp-width='1875' data-pswp-height='2500' target='_blank')
                img.img-thumbnail(src=item.lightGallery , alt='')

// gallery mixin
.card.gallery-grid
    .card-header.pb-0
        +card-header('AOS animation', '','', 'For more detailed follow below steps', '', '.')
    .gallery.my-gallery.card-body.row.animation-style(itemscope='')
        +ImgGallery(GALLERY_IMAGE)     