.card
    .blog-box.blog-grid.text-center
      img.img-fluid.top-radius-blog(src='../assets/images/blog/blog-6.jpg', alt='')
      .blog-details-main
        ul.blog-social
          li 9 April 2024
          li by: Admin
          li 0 Hits
        hr
        h6.blog-bottom-details Perspiciatis unde omnis iste natus error sit.Dummy text