.card
  .blog-box.blog-list.row
    .col-sm-5
      img.img-fluid.sm-100-w(src='../assets/images/blog/blog-2.jpg', alt='')
    .col-sm-7
      .blog-details
        .blog-date
          span 02
          |  January 2024
        h6 Perspiciatis unde omnis iste natus
        .blog-bottom-content
          ul.blog-social
            li by: Admin
            li 0 Hits
          hr
          p.mt-0
            | inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.
.card
  .blog-box.blog-list.row
    .col-sm-5
      img.img-fluid.sm-100-w(src='../assets/images/blog/blog-3.jpg', alt='')
    .col-sm-7
      .blog-details
        .blog-date
          span 03
          |  January 2024
        h6 Perspiciatis unde omnis iste natus
        .blog-bottom-content
          ul.blog-social
            li by: Admin
            li 02 Hits
          hr
          p.mt-0
            | inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.