.card
  .blog-box.blog-shadow
    img.img-fluid(src='../assets/images/blog/blog.jpg', alt='')
    .blog-details
      p 25 July 2024
      h4 Accusamus et iusto odio dignissimos ducimus qui blanditiis.
      ul.blog-social
        li
          i.icofont.icofont-user
          | Mark Jecno
        li
          i.icofont.icofont-thumbs-up
          | 02 Hits
        li
          i.icofont.icofont-ui-chat
          | 598 Comments